  <div class="fullHeight clickable lazyload" id="alcatel" data-href="https://www.behance.net/gallery/56894269/Product-Experience-design-for-Alcatel-mobile">
    <div class="containerCrop">
      <div class="containerFixed"></div>
      <div class="counter">6 / 7</div>
      <div class="description">
        <div class="h2">alcatel</div>
        <div class="h3">Product experience for a legendary smartphone brand.</div>
        <a href="https://www.behance.net/gallery/56894269/Product-Experience-design-for-Alcatel-mobile" class="button h5" target="_blank">view case study on Behance</a>
      </div>
      <div class="composition">
        <div class="picture-container">
        </div>
      </div>
    </div>
  </div> 