---
layout: base.njk
title: random
---
 <div class="flex flex-wrap w-full bg-gray-100 py-32 px-10 relative mb-4">
              {# {% image "./src/img/58williams/58williams.jpg", "58 Williams", '(min-width: 30em) 50vw, 100vw', 'w-full object-cover h-full object-center block absolute inset-0' %} #}
              <div class="text-center relative z-10 w-full">
              <h2 class="text-2xl text-gray-900 font-medium title-font mb-2">TEST</h2>
              <p class="leading-relaxed">Skateboard +1 mustache fixie paleo lumbersexual.</p>
              <a class="mt-3 text-pink-500 inline-flex items-center">Learn More
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                  </svg>
              </a>
              </div>
          </div>

           <div class="flex flex-wrap w-full bg-gray-100 py-32 px-10 relative mb-4">
              {# {% image "./src/img/58williams/58williams.jpg", "58 Williams", '(min-width: 30em) 50vw, 100vw', 'w-full object-cover h-full object-center block absolute inset-0' %} #}
          </div>


        <div class="lg:w-full mx-auto">
          <div class="flex flex-wrap w-full bg-gray-100 py-32 px-10 relative mb-4">
              {# {% image "./src/img/58williams/58williams.jpg", "58 Williams", '(min-width: 30em) 50vw, 100vw', 'w-full object-cover h-full object-center block opacity-25 absolute inset-0' %} #}
              <div class="text-center relative z-10 w-full">
              <h2 class="text-2xl text-gray-900 font-medium title-font mb-2">full width1</h2>
              <p class="leading-relaxed">Skateboard +1 mustache fixie paleo lumbersexual.</p>
              <a class="mt-3 text-pink-500 inline-flex items-center">Learn More
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                  </svg>
              </a>
              </div>
          </div>

          <div class="flex flex-wrap w-full bg-gray-100 py-32 px-10 relative mb-4">
              {# {% image "./src/img/58williams/58williams.jpg", "58 Williams", '(min-width: 30em) 50vw, 100vw', 'w-full object-cover h-full object-center block absolute inset-0' %} #}
              <div class="text-center relative z-10 w-full">
              <h2 class="text-2xl text-gray-900 font-medium title-font mb-2">full width1a</h2>
              <p class="leading-relaxed">Skateboard +1 mustache fixie paleo lumbersexual.</p>
              <a class="mt-3 text-pink-500 inline-flex items-center">Learn More
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                  </svg>
              </a>
              </div>
          </div>

          <div class="flex flex-wrap -mx-2">
              <div class="px-2 w-1/2">
              <div class="flex flex-wrap w-full bg-gray-100 sm:py-24 py-16 sm:px-10 px-6 relative">
                  <img alt="gallery" class="w-full object-cover h-full object-center block opacity-25 absolute inset-0" src="https://dummyimage.com/542x460">
                  <div class="text-center relative z-10 w-full">
                  <h2 class="text-xl text-gray-900 font-medium title-font mb-2">full width2</h2>
                  <p class="leading-relaxed">Skateboard +1 mustache fixie paleo lumbersexual.</p>
                  <a class="mt-3 text-pink-500 inline-flex items-center">Learn More
                      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                      <path d="M5 12h14M12 5l7 7-7 7"></path>
                      </svg>
                  </a>
                  </div>
              </div>
              </div>
              <div class="px-2 w-1/2">
              <div class="flex flex-wrap w-full bg-gray-100 sm:py-24 py-16 sm:px-10 px-6 relative">
                  <img alt="gallery" class="w-full object-cover h-full object-center block opacity-25 absolute inset-0" src="https://dummyimage.com/542x420">
                  <div class="text-center relative z-10 w-full">
                  <h2 class="text-xl text-gray-900 font-medium title-font mb-2">full width3</h2>
                  <p class="leading-relaxed">Skateboard +1 mustache fixie paleo lumbersexual.</p>
                  <a class="mt-3 text-pink-500 inline-flex items-center">Learn More
                      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                      <path d="M5 12h14M12 5l7 7-7 7"></path>
                      </svg>
                  </a>
                  </div>
              </div>
              </div>
          </div>
        </div>




<section class="text-gray-600 body-font">
  <div class="container px-5 pt-10 mx-auto flex flex-wrap">
        <div class="lg:w-full mx-auto">
        <div class="flex flex-wrap w-full bg-gray-100 py-32 px-10 relative mb-4">
            {# {% image "./src/img/58williams/58williams.jpg", "58 Williams", '(min-width: 30em) 50vw, 100vw', 'w-full object-cover h-full object-center block opacity-25 absolute inset-0' %} #}
            <div class="text-center relative z-10 w-full">
            <h2 class="text-2xl text-gray-900 font-medium title-font mb-2">Shooting Stars1</h2>
            <p class="leading-relaxed">Skateboard +1 mustache fixie paleo lumbersexual.</p>
            <a class="mt-3 text-pink-500 inline-flex items-center">Learn More
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
            </a>
            </div>
        </div>

         <div class="flex flex-wrap w-full bg-gray-100 py-32 px-10 relative mb-4">
            {# {% image "./src/img/58williams/58williams.jpg", "58 Williams", '(min-width: 30em) 50vw, 100vw', 'w-full object-cover h-full object-center block absolute inset-0' %} #}
            <div class="text-center relative z-10 w-full">
            <h2 class="text-2xl text-gray-900 font-medium title-font mb-2">Shooting Stars1a</h2>
            <p class="leading-relaxed">Skateboard +1 mustache fixie paleo lumbersexual.</p>
            <a class="mt-3 text-pink-500 inline-flex items-center">Learn More
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
            </a>
            </div>
        </div>

        <div class="flex flex-wrap -mx-2">
            <div class="px-2 w-1/2">
            <div class="flex flex-wrap w-full bg-gray-100 sm:py-24 py-16 sm:px-10 px-6 relative">
                <img alt="gallery" class="w-full object-cover h-full object-center block opacity-25 absolute inset-0" src="https://dummyimage.com/542x460">
                <div class="text-center relative z-10 w-full">
                <h2 class="text-xl text-gray-900 font-medium title-font mb-2">Shooting Stars2</h2>
                <p class="leading-relaxed">Skateboard +1 mustache fixie paleo lumbersexual.</p>
                <a class="mt-3 text-pink-500 inline-flex items-center">Learn More
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </a>
                </div>
            </div>
            </div>
            <div class="px-2 w-1/2">
            <div class="flex flex-wrap w-full bg-gray-100 sm:py-24 py-16 sm:px-10 px-6 relative">
                <img alt="gallery" class="w-full object-cover h-full object-center block opacity-25 absolute inset-0" src="https://dummyimage.com/542x420">
                <div class="text-center relative z-10 w-full">
                <h2 class="text-xl text-gray-900 font-medium title-font mb-2">Shooting Stars3</h2>
                <p class="leading-relaxed">Skateboard +1 mustache fixie paleo lumbersexual.</p>
                <a class="mt-3 text-pink-500 inline-flex items-center">Learn More
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </a>
                </div>
            </div>
            </div>
        </div>
        </div>
  </div>
</section>

 <div class="flex flex-wrap w-full bg-gray-100 py-32 px-10 relative mb-4">
              {# {% image "./src/img/58williams/58williams.jpg", "58 Williams", '(min-width: 30em) 50vw, 100vw', 'w-full object-cover h-full object-center block absolute inset-0' %} #}
              <div class="text-center relative z-10 w-full">
              <h2 class="text-2xl text-gray-900 font-medium title-font mb-2">TEST</h2>
              <p class="leading-relaxed">Skateboard +1 mustache fixie paleo lumbersexual.</p>
              <a class="mt-3 text-pink-500 inline-flex items-center">Learn More
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                  </svg>
              </a>
              </div>
          </div>

           <div class="flex flex-wrap w-full bg-gray-100 py-32 px-10 relative mb-4">
              {# {% image "./src/img/58williams/58williams.jpg", "58 Williams", '(min-width: 30em) 50vw, 100vw', 'w-full object-cover h-full object-center block absolute inset-0' %} #}
          </div>


        <div class="lg:w-full mx-auto">
          <div class="flex flex-wrap w-full bg-gray-100 py-32 px-10 relative mb-4">
              {# {% image "./src/img/58williams/58williams.jpg", "58 Williams", '(min-width: 30em) 50vw, 100vw', 'w-full object-cover h-full object-center block opacity-25 absolute inset-0' %} #}
              <div class="text-center relative z-10 w-full">
              <h2 class="text-2xl text-gray-900 font-medium title-font mb-2">full width1</h2>
              <p class="leading-relaxed">Skateboard +1 mustache fixie paleo lumbersexual.</p>
              <a class="mt-3 text-pink-500 inline-flex items-center">Learn More
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                  </svg>
              </a>
              </div>
          </div>

          <div class="flex flex-wrap w-full bg-gray-100 py-32 px-10 relative mb-4">
              {# {% image "./src/img/58williams/58williams.jpg", "58 Williams", '(min-width: 30em) 50vw, 100vw', 'w-full object-cover h-full object-center block absolute inset-0' %} #}
              <div class="text-center relative z-10 w-full">
              <h2 class="text-2xl text-gray-900 font-medium title-font mb-2">full width1a</h2>
              <p class="leading-relaxed">Skateboard +1 mustache fixie paleo lumbersexual.</p>
              <a class="mt-3 text-pink-500 inline-flex items-center">Learn More
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                  </svg>
              </a>
              </div>
          </div>

          <div class="flex flex-wrap -mx-2">
              <div class="px-2 w-1/2">
              <div class="flex flex-wrap w-full bg-gray-100 sm:py-24 py-16 sm:px-10 px-6 relative">
                  <img alt="gallery" class="w-full object-cover h-full object-center block opacity-25 absolute inset-0" src="https://dummyimage.com/542x460">
                  <div class="text-center relative z-10 w-full">
                  <h2 class="text-xl text-gray-900 font-medium title-font mb-2">full width2</h2>
                  <p class="leading-relaxed">Skateboard +1 mustache fixie paleo lumbersexual.</p>
                  <a class="mt-3 text-pink-500 inline-flex items-center">Learn More
                      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                      <path d="M5 12h14M12 5l7 7-7 7"></path>
                      </svg>
                  </a>
                  </div>
              </div>
              </div>
              <div class="px-2 w-1/2">
              <div class="flex flex-wrap w-full bg-gray-100 sm:py-24 py-16 sm:px-10 px-6 relative">
                  <img alt="gallery" class="w-full object-cover h-full object-center block opacity-25 absolute inset-0" src="https://dummyimage.com/542x420">
                  <div class="text-center relative z-10 w-full">
                  <h2 class="text-xl text-gray-900 font-medium title-font mb-2">full width3</h2>
                  <p class="leading-relaxed">Skateboard +1 mustache fixie paleo lumbersexual.</p>
                  <a class="mt-3 text-pink-500 inline-flex items-center">Learn More
                      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                      <path d="M5 12h14M12 5l7 7-7 7"></path>
                      </svg>
                  </a>
                  </div>
              </div>
              </div>
          </div>
        </div>




<section class="text-gray-600 body-font">
  <div class="container px-5 pt-10 mx-auto flex flex-wrap">
        <div class="lg:w-full mx-auto">
        <div class="flex flex-wrap w-full bg-gray-100 py-32 px-10 relative mb-4">
            {# {% image "./src/img/58williams/58williams.jpg", "58 Williams", '(min-width: 30em) 50vw, 100vw', 'w-full object-cover h-full object-center block opacity-25 absolute inset-0' %} #}
            <div class="text-center relative z-10 w-full">
            <h2 class="text-2xl text-gray-900 font-medium title-font mb-2">Shooting Stars1</h2>
            <p class="leading-relaxed">Skateboard +1 mustache fixie paleo lumbersexual.</p>
            <a class="mt-3 text-pink-500 inline-flex items-center">Learn More
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
            </a>
            </div>
        </div>

         <div class="flex flex-wrap w-full bg-gray-100 py-32 px-10 relative mb-4">
            {# {% image "./src/img/58williams/58williams.jpg", "58 Williams", '(min-width: 30em) 50vw, 100vw', 'w-full object-cover h-full object-center block absolute inset-0' %} #}
            <div class="text-center relative z-10 w-full">
            <h2 class="text-2xl text-gray-900 font-medium title-font mb-2">Shooting Stars1a</h2>
            <p class="leading-relaxed">Skateboard +1 mustache fixie paleo lumbersexual.</p>
            <a class="mt-3 text-pink-500 inline-flex items-center">Learn More
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
            </a>
            </div>
        </div>

        <div class="flex flex-wrap -mx-2">
            <div class="px-2 w-1/2">
            <div class="flex flex-wrap w-full bg-gray-100 sm:py-24 py-16 sm:px-10 px-6 relative">
                <img alt="gallery" class="w-full object-cover h-full object-center block opacity-25 absolute inset-0" src="https://dummyimage.com/542x460">
                <div class="text-center relative z-10 w-full">
                <h2 class="text-xl text-gray-900 font-medium title-font mb-2">Shooting Stars2</h2>
                <p class="leading-relaxed">Skateboard +1 mustache fixie paleo lumbersexual.</p>
                <a class="mt-3 text-pink-500 inline-flex items-center">Learn More
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </a>
                </div>
            </div>
            </div>
            <div class="px-2 w-1/2">
            <div class="flex flex-wrap w-full bg-gray-100 sm:py-24 py-16 sm:px-10 px-6 relative">
                <img alt="gallery" class="w-full object-cover h-full object-center block opacity-25 absolute inset-0" src="https://dummyimage.com/542x420">
                <div class="text-center relative z-10 w-full">
                <h2 class="text-xl text-gray-900 font-medium title-font mb-2">Shooting Stars3</h2>
                <p class="leading-relaxed">Skateboard +1 mustache fixie paleo lumbersexual.</p>
                <a class="mt-3 text-pink-500 inline-flex items-center">Learn More
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </a>
                </div>
            </div>
            </div>
        </div>
        </div>
  </div>
</section>

<section class="text-gray-600 body-font">
    <div class="container px-5 pt-10 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">SECTION 01 - Master Cleanse Reliac Heirloom</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep jianbing selfies heirloom.</p>
        </div>
        <div class="flex flex-wrap -m-4">
        <div class="lg:w-1/3 sm:w-1/2 p-4">
            <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="https://dummyimage.com/600x360">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                <h2 class="tracking-widest text-sm title-font font-medium text-pink-500 mb-1">THE SUBTITLE</h2>
                <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Shooting Stars4</h1>
                <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
            </div>
            </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
            <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="https://dummyimage.com/601x361">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                <h2 class="tracking-widest text-sm title-font font-medium text-pink-500 mb-1">THE SUBTITLE</h2>
                <h1 class="title-font text-lg font-medium text-gray-900 mb-3">The Catalyzer</h1>
                <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
            </div>
            </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
            <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="https://dummyimage.com/603x363">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                <h2 class="tracking-widest text-sm title-font font-medium text-pink-500 mb-1">THE SUBTITLE</h2>
                <h1 class="title-font text-lg font-medium text-gray-900 mb-3">The 400 Blows</h1>
                <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
            </div>
            </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
            <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="https://dummyimage.com/602x362">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                <h2 class="tracking-widest text-sm title-font font-medium text-pink-500 mb-1">THE SUBTITLE</h2>
                <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Neptune</h1>
                <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
            </div>
            </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
            <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="https://dummyimage.com/605x365">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                <h2 class="tracking-widest text-sm title-font font-medium text-pink-500 mb-1">THE SUBTITLE</h2>
                <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Holden Caulfield</h1>
                <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
            </div>
            </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
            <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="https://dummyimage.com/606x366">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                <h2 class="tracking-widest text-sm title-font font-medium text-pink-500 mb-1">THE SUBTITLE</h2>
                <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Alper Kamu</h1>
                <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
            </div>
            </div>
        </div>
        </div>
    </div>
</section>

    <section class="container p-6 mx-auto bg-white dark:bg-gray-800">
        <h2 class="text-xl font-medium text-gray-800 capitalize dark:text-white md:text-2xl">Latest</h2>

        <div class="flex flex-wrap justify-center">
            <div class="grid gap-8 mt-8 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
                <div class="w-full max-w-xs text-left">
                    {# {% image "./src/img/58williams/58williams.jpg", "58 Williams", '(min-width: 30em) 50vw, 100vw', 'object-cover object-center w-auto h-auto mx-auto rounded-lg' %} #}

                     <div class="flex flex-col w-full lg:w-1/2 justify-center items-start  px-6 tracking-wide">
                    
                       <h1 class="text-black text-2xl"> Ahmed Omer</h1>
                        <span class="text-xl inline-block no-underline border-b border-gray-600 leading-relaxed hover:text-black hover:border-black">Shop Now</span>
                    </div>
                </div>

                <div class="w-full max-w-xs text-center">
                    {# {% image "src/site/images/promos/asian-art/02.jpg", "shop asian art", '(min-width: 30em) 50vw, 100vw', 'object-cover object-center w-auto h-auto mx-auto rounded-lg' %} #}
                    <div class="mt-2">
                        <h3 class="text-lg font-medium text-gray-700 dark:text-gray-200">Steve Ben</h3>
                        <span class="mt-1 font-medium text-gray-600 dark:text-gray-300">UI/UX</span>
                    </div>
                </div>

                <div class="w-full max-w-xs text-center">
                            {# {% image "src/site/images/promos/asian-art/03.jpg", "shop asian art", '(min-width: 30em) 50vw, 100vw', 'object-cover object-center w-auto h-auto mx-auto rounded-lg' %} #}

                    <div class="mt-2">
                        <h3 class="text-lg font-medium text-gray-700 dark:text-gray-200">Jane Doe</h3>
                        <span class="mt-1 font-medium text-gray-600 dark:text-gray-300">Co-founder</span>
                    </div>
                </div>

                <div class="w-full max-w-xs text-center">
                {# {% png "src/site/images/promos/wall-art.png", "wall art", '(min-width: 30em) 50vw, 100vw', 'object-cover object-center w-auto h-auto mx-auto rounded-lg  bg-pink-300' %} #}
                    <div class="mt-2">
                        <h3 class="text-lg font-medium text-gray-700 dark:text-gray-200">Patterson Johnson</h3>
                        <span class="mt-1 font-medium text-gray-600 dark:text-gray-300">Software Engineer</span>
                    </div>
                </div>

                <div class="w-full max-w-xs text-center">
                    {# {% png "src/site/images/promos/polaroids/01.png", "shop asian art", '(min-width: 30em) 50vw, 100vw', 'object-cover object-center w-auto h-auto mx-auto rounded-lg bg-red-500' %} #}

                    <div class="mt-2">
                        <h3 class="text-lg font-medium text-gray-700 dark:text-gray-200">Patterson Johnson</h3>
                        <span class="mt-1 font-medium text-gray-600 dark:text-gray-300">Software Engineer</span>
                    </div>
                </div>

                <div class="w-full max-w-xs text-center">
                    {# {% png "src/site/images/promos/polaroids/02.png", "shop asian art", '(min-width: 30em) 50vw, 100vw', 'object-cover object-center w-auto h-auto mx-auto rounded-lg bg-blue-500' %} #}

                    <div class="mt-2">
                        <h3 class="text-lg font-medium text-gray-700 dark:text-gray-200">Patterson Johnson</h3>
                        <span class="mt-1 font-medium text-gray-600 dark:text-gray-300">Software Engineer</span>
                    </div>
                </div>

                <div class="w-full max-w-xs text-center">
                    {# {% png "src/site/images/promos/polaroids/03.png", "shop asian art", '(min-width: 30em) 50vw, 100vw', 'object-cover object-center w-auto h-auto mx-auto rounded-lg bg-green-500' %} #}

                    <div class="mt-2">
                        <h3 class="text-lg font-medium text-gray-700 dark:text-gray-200">Patterson Johnson</h3>
                        <span class="mt-1 font-medium text-gray-600 dark:text-gray-300">Software Engineer</span>
                    </div>
                </div>

                <div class="w-full max-w-xs text-center">
                    <figure class="relative"> 
                        {# {% png "src/site/images/promos/polaroid-promo.png", 'new designs to check out',  '(min-width: 30em) 50vw, 100vw', 'w-full bg-gray-300' %} #}
                        <figcaption class="absolute inset-x-0 bottom-0 py-6 px-6 text-white tracking-wide text-bold text-lg bg-pink-700 bg-opacity-50">        
                            <h1 >New Year, New Designs, New You.</h1>
                            <a class="hover:underline" href="#">products</a>
                        </figcaption>
                    </figure> 
                </div>
            </div>
        </div>
    </section>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col">
      <div class="h-1 bg-gray-200 rounded overflow-hidden">
        {# <div class="w-24 h-full bg-pink-500"></div> #}
      </div>
      <div class="flex flex-wrap sm:flex-row flex-col py-6 mb-12">
        <h1 class="sm:w-2/5 text-gray-900 font-medium title-font text-2xl mb-2 sm:mb-0">Space The Final Frontier</h1>
        <p class="sm:w-3/5 leading-relaxed text-base sm:pl-10 pl-0">Street art subway tile salvia four dollar toast bitters selfies quinoa yuccie synth meditation iPhone intelligentsia prism tofu. Viral gochujang bitters dreamcatcher.</p>
      </div>
    </div>
    <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
      <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
        <div class="rounded-lg h-64 overflow-hidden">
          <img alt="content" class="object-cover object-center h-full w-full" src="https://dummyimage.com/1203x503">
        </div>
        <h2 class="text-xl font-medium title-font text-gray-900 mt-5">Shooting Stars5</h2>
        <p class="text-base leading-relaxed mt-2">Swag shoivdigoitch literally meditation subway tile tumblr cold-pressed. Gastropub street art beard dreamcatcher neutra, ethical XOXO lumbersexual.</p>
        <a class="text-pink-500 inline-flex items-center mt-3">Learn More
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
      <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
        <div class="rounded-lg h-64 overflow-hidden">
          <img alt="content" class="object-cover object-center h-full w-full" src="https://dummyimage.com/1204x504">
        </div>
        <h2 class="text-xl font-medium title-font text-gray-900 mt-5">The Catalyzer</h2>
        <p class="text-base leading-relaxed mt-2">Swag shoivdigoitch literally meditation subway tile tumblr cold-pressed. Gastropub street art beard dreamcatcher neutra, ethical XOXO lumbersexual.</p>
        <a class="text-pink-500 inline-flex items-center mt-3">Learn More
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
      <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
        <div class="rounded-lg h-64 overflow-hidden">
          <img alt="content" class="object-cover object-center h-full w-full" src="https://dummyimage.com/1205x505">
        </div>
        <h2 class="text-xl font-medium title-font text-gray-900 mt-5">The 400 Blows</h2>
        <p class="text-base leading-relaxed mt-2">Swag shoivdigoitch literally meditation subway tile tumblr cold-pressed. Gastropub street art beard dreamcatcher neutra, ethical XOXO lumbersexual.</p>
        <a class="text-pink-500 inline-flex items-center mt-3">Learn More
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Pitchfork Kickstarter Taxidermy</h1>
        <div class="h-1 w-20 bg-pink-500 rounded"></div>
      </div>
      <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep jianbing selfies heirloom prism food truck ugh squid celiac humblebrag.</p>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://dummyimage.com/720x400" alt="content">
          <h3 class="tracking-widest text-pink-500 text-xs font-medium title-font">SUBTITLE</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Chichen Itza</h2>
          <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche.</p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://dummyimage.com/721x401" alt="content">
          <h3 class="tracking-widest text-pink-500 text-xs font-medium title-font">SUBTITLE</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Colosseum Roma</h2>
          <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche.</p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://dummyimage.com/722x402" alt="content">
          <h3 class="tracking-widest text-pink-500 text-xs font-medium title-font">SUBTITLE</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Great Pyramid of Giza</h2>
          <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche.</p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://dummyimage.com/723x403" alt="content">
          <h3 class="tracking-widest text-pink-500 text-xs font-medium title-font">SUBTITLE</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">San Francisco</h2>
          <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container p-6 mx-auto bg-white dark:bg-gray-800">
    <div class="flex flex-wrap p-4 gap-4 justify-center items-center">
        <div class="item w-1/2 h-auto">
        <figure class="relative"> 
            {# {% png "src/site/images/promos/polaroid-promo.png", 'new designs to check out',  '(min-width: 30em) 50vw, 100vw', 'w-full bg-gray-300' %} #}
            <figcaption class="absolute inset-x-0 bottom-0 py-6 px-6 text-white tracking-wide text-bold text-lg bg-pink-700 bg-opacity-50">        
                <h1 >New Year, New Designs, New You.</h1>
                <a class="hover:underline" href="#">products</a>
            </figcaption>
        </figure> 
        </div>
        <div class="item w-auto h-auto">
        <figure class="relative"> 
            {# {% image "src/site/images/promos/polaroid-promo.png", 'new designs to check out',  '(min-width: 30em) 50vw, 100vw', 'w-full' %} #}
            <figcaption class="absolute bottom-0 left-0 py-6 px-6 text-white tracking-wide text-bold text-lg bg-pink-700 bg-opacity-50">        
                <h1 >Stripy Zig Zag Jigsaw Pillow and Duvet Set</h1>
                <a class="hover:underline" href="#">products</a>
            </figcaption>
        </figure> 
        </div>
        
    </div>
</section>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -mx-4 -mb-10 text-center">
      <div class="sm:w-1/2 mb-10 px-4">
        <div class="rounded-lg h-64 overflow-hidden">
          <img alt="content" class="object-cover object-center h-full w-full" src="https://dummyimage.com/1201x501">
        </div>
        <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Buy YouTube Videos</h2>
        <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        <button class="flex mx-auto mt-6 text-white bg-pink-500 border-0 py-2 px-5 focus:outline-none hover:bg-pink-600 rounded">Button</button>
      </div>
      <div class="sm:w-1/2 mb-10 px-4">
        <div class="rounded-lg h-64 overflow-hidden">
          <img alt="content" class="object-cover object-center h-full w-full" src="https://dummyimage.com/1202x502">
        </div>
        <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">The Catalyzer</h2>
        <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        <button class="flex mx-auto mt-6 text-white bg-pink-500 border-0 py-2 px-5 focus:outline-none hover:bg-pink-600 rounded">Button</button>
      </div>
    </div>
  </div>
</section>

