
<div class="p-4">
  <div class="container fixed block absolute left-0 bottom-0 width-full height-full bg-cover"></div>

  <div class="relative h-screen bg-gray-300 rounded-xl p-4">
    <h1 class="absolute sticky">          I a a designer, developer & creative strategist based out of New York City.</div>
</h1>
    <img class=" top-0"></img>
  </div>
  <div class="h-screen bg-gray-600 rounded-xl p-4 my-4 js-show-on-scroll">
    <h1 class="sticky top-0">Hello BOX 2</h1>
  </div>

  <div class="grid grid-cols-2 gap-4 my-4">
    <div class="bg-red-500 rounded-xl p-4 h-64 text-white js-show-on-scroll">
      <h1 class="sticky top-0">Hello world</h1>
    </div>

    <div class="bg-green-500 rounded-xl p-4 h-64 text-white js-show-on-scroll">
      <h1 class="sticky top-0">Hello world</h1>
    </div>
  </div>

  <div class="h-screen bg-gray-300 rounded-xl p-4 my-4 js-show-on-scroll">
    <h1 class="sticky top-0">Hello world</h1>
  </div>
  <div class="h-screen bg-gray-300 rounded-xl p-4 js-show-on-scroll">
    <h1 class="sticky top-0">Hello world</h1>
  </div>

</div>