
  {% set css %}
    {% include "../assets/css/hero.css" %} 
    {% include "../assets/css/gent.css" %} 
    {% include "../assets/css/tailwind.css" %} 
  {% endset %}

  <style>
    {{ css | cssmin | safe }}
  </style>