
  {% set css %}
    {% include "../assets/css/main.css" %} 
  {% endset %}

  <style>
    {{ css | cssmin | safe }}
    {# .fa-dribbble:hover {
      color: #e7e5e4;
      font-size: 1.7em
    }
    .fa-linkedin-in:hover {
      color: #e7e5e4;
      font-size: 1.7em

    }
    .fa-github:hover {
      color: #e7e5e4;
      font-size: 1.7em

    }
    .fa-vimeo:hover {
      color: #e7e5e4;
      font-size: 1.7em
    } #}
  </style>