
<link rel="icon" type="image/svg+xml" sizes="any" href="images/favicon/favicon.svg">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
<link rel="shortcut icon" type="image/x-icon" href="/images/favicon/favicon.ico">
<!-- Android -->
<link rel="shortcut icon" href="/images/favicon/favicon-192x192.png" sizes="192x192">
<link rel="shortcut icon" href="/images/favicon/favicon-512.png" sizes="512x512">
<!-- iOS -->
<link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
<!-- Windows -->
<meta name="msapplication-TileColor" content="#E2A592">

<link rel="manifest" href="/site.webmanifest">