            <div class="fullHeight clickable lazyloaded" id="alcatel" data-href="https://www.behance.net/gallery/56894269/Product-Experience-design-for-Alcatel-mobile">
                <div class="containerCrop">
                    <div class="containerFixed"></div>
                    <div class="counter">6 / 7

                    <label class="relative flex justify-between items-center group p-2 text-xl">
                    <input type="checkbox" class="absolute left-1/2 -translate-x-1/2 w-full h-full peer appearance-none rounded-md" />
                    <span class="w-16 h-10 flex items-center flex-shrink-0 ml-4 p-1 bg-gray-300 rounded-full duration-300 ease-in-out peer-checked:bg-green-400 after:w-8 after:h-8 after:bg-white after:rounded-full after:shadow-md after:duration-300 peer-checked:after:translate-x-6 group-hover:after:translate-x-1"></span>
                    </label>
                    </div>
                    <div class="description">
                        <div class="h2">alcatel</div>
                        <div class="h3">Product experience for a legendary smartphone brand.</div>
                        <a href="https://www.behance.net/gallery/56894269/Product-Experience-design-for-Alcatel-mobile" class="button h5" target="_blank">view case study on Behance</a>
                    </div>
                    <div class="composition">
                        <div class="picture-container"></div>
                    </div>
                </div>
            </div>