<div class="fullHeight lazyloaded" data-lazyload-children=".dynamic-images" id="crowdtap">
    <div class="containerCrop">
        <div class="containerFixed"></div>
        <div class="description">
            <div class="h2">crowdtap</div>
            <div class="h6">visual design & motion graphics
            </div>
            <div class="h3">make your opinions work for you. the more you answer, the more you earn.</div>
            <a href="http://crowdtap.com/" class="button h5 inverted" target="_blank">download now ↗</a>
        </div>
        <div class="composition">
            <div class="picture-container">
            
                <picture>
                 <img data-src="/images/crowdtap/01.png" alt="crowdtap" class="dynamic-images lazyloaded" src="/images/crowdtap/01.png">
                </picture>
            </div>
        </div>
    </div>
</div>