 <div class="project js-project" data-module="project">
                <div class="project-banner js-project-banner">
                    <div class="project-banner__image js-project-banner-image lazy" data-background-image="../../_includes/images/backgrounds/bg05.jpg" style="transform: matrix(1.2, 0, 0, 1.2, 0, 0); background-image: url('/images/backgrounds/bg05.jpg'); data-loaded='true'"> </div>
                        {# <div> {% image "src/site/images/backgrounds/bg05.jpg","background-black", "(min-width: 30em) 50vw, 100vw", "project-banner__image js-project-banner-image lazy width:100%" %} </div> #}
                    <div class="project-banner__content js-project-banner-content">
                        <div class="text-outer">
                            <div class="text-inner">
                                <h1 class="project-banner__title">
                                    <span>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">DJ Hamma</font>
                                        </font>
                                    </span>
                                </h1>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="project__blockquote">
                    <p class="project__category js-anim-active is-active">
                        <span class="text-outer">
                            <span class="text-inner">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">WEBDESIGN</font>
                                </font>
                            </span>
                        </span>
                    </p>
                    <div class="blockquote js-blockquote mb-0" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">
                        <div class="container">
                            <div class="blockquote__text">
                                <p>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Redesign of the site of DJ Hamma, a key figure in night clubs and bars, who in 2018 became French DJ Champion at the RedBull competition, and finalist at the World Championship in Taiwan in 2019.</font>
                                    </font>
                                </p>
                            </div>

                        </div>
                    </div>

                    <div class="project__dev js-anim-active is-active">
                        <div class="text-outer">
                            <div class="text-inner">
                                <p>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Dev by Everess</font>
                                    </font>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="project__items">

                    <div class="project-image js-fade-to-top   no-bg " style="opacity: 1; transform: translate3d(0px, 0px, 0px);">
                        <div class="container">
                            <img src="/images/misc/dinos.jpg" data-src="/images/misc/dinos.jpg" alt="" class="img-fluid" data-loaded="true">
                        </div>
                    </div>

                    <div class="project-image js-fade-to-top   has-bg " style="background-color: rgb(51, 51, 51); opacity: 1; transform: translate3d(0px, 0px, 0px);">
                        <div class="container">
                            <img src="/images/rebeltail/rebeltail02.png" data-src="/images/rebeltail/rebeltail02.png" alt="" class="img-fluid" data-loaded="true">
                        </div>
                    </div>

                    <div class="project-image js-fade-to-top   has-bg " style="background-color: rgb(51, 51, 51); opacity: 1; transform: translate3d(0px, 0px, 0px);">
                        <div class="container">
                            <img src="/images/promos/paul-gauguin01.png" data-src="/images/promos/paul-gauguin01.png" alt="" class="img-fluid" data-loaded="true">
                        </div>
                    </div>

                    <div class="project-image js-fade-to-top   has-bg " style="background-color: rgb(51, 51, 51); opacity: 1; transform: translate3d(0px, 0px, 0px);">
                        <div class="container">
                            <img src="./project-page01_files/1831af7af1bc912768daf2164e0c1459.jpg" data-src="/uploads/medias/projects/1831af7af1bc912768daf2164e0c1459.jpg" alt="" class="img-fluid" data-loaded="true">
                        </div>
                    </div>

                    <div class="blockquote js-blockquote " style="opacity: 1; transform: translate3d(0px, 0px, 0px);">
                        <div class="container">
                            <div class="blockquote__text">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        Create a site that is both current and timeless, where animations bring sophistication to a design that is deliberately refined.
                                    </font>
                                    <font style="vertical-align: inherit;">A luminous and calm graphic universe for Hamma, against the tide of his peers.
                                    </font>
                                </font>
                            </div>

                        </div>
                    </div>


                    <div class="project-image js-fade-to-top   no-bg " style="opacity: 1; transform: translate3d(0px, 0px, 0px);">
                        <div class="container">
                            <img src="./project-page01_files/44eb8850cf57e5c4168e336ead8be752.jpg" data-src="/uploads/medias/projects/44eb8850cf57e5c4168e336ead8be752.jpg" alt="" class="img-fluid" data-loaded="true">
                        </div>
                    </div>

                    <div class="project-image js-fade-to-top   no-bg " style="opacity: 1; transform: translate3d(0px, 0px, 0px);">
                        <div class="container">
                            <img src="./project-page01_files/33d2f066e29424cd503fed05b05f9458.jpg" data-src="/uploads/medias/projects/33d2f066e29424cd503fed05b05f9458.jpg" alt="" class="img-fluid" data-loaded="true">
                        </div>
                    </div>

                    <div class="project-image js-fade-to-top   no-bg " style="opacity: 1; transform: translate3d(0px, 0px, 0px);">
                        <div class="container">
                            <img src="./project-page01_files/fc6983c9993b0f7265dd0316fc17b9e7.jpg" data-src="/uploads/medias/projects/fc6983c9993b0f7265dd0316fc17b9e7.jpg" alt="" class="img-fluid" data-loaded="true">
                        </div>
                    </div>
                </div>

                <div class="project__link text-center js-anim-active is-active">
                    <div class="text-outer pb-10">
                        <div class="text-inner">
                            <a href="https://www.djhamma.com/" target="_blank" class="button">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">SEE THE WEBSITE</font>
                                </font>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="project__next">
                    <div class="block-link ">
                        <div class="container">
                            <div class="block-link__content hover-color js-fade-to-top" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">
                                <a href="https://www.magg1e.com/project/champagnebrocardbrochure" class="js-link">
                                    <span class="block-link__text">
                                        <span class="hover-color__outer-b">
                                            <span class="hover-color__inner-b">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Next project</font>
                                                </font>
                                            </span>
                                        </span>

                                        <span class="hover-color__outer">
                                            <span class="hover-color__inner">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Next project</font>
                                                </font>
                                            </span>
                                        </span>
                                    </span>
                                    <span class="block-link__image-wrapper">
                                        <img src="./project-page01_files/ed70319a23db7e2d206bf6d21c1b6a38.jpg" data-src="/uploads/medias/projects/ed70319a23db7e2d206bf6d21c1b6a38.jpg" class="img-fluid block-link__image" alt="" data-loaded="true">
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>