<div class="fullHeight lazyloaded" data-lazyload-children=".dynamic-images" id="ecommerce">
    <div class="containerCrop">
        <div class="containerFixed"></div>
        <div class="description">
            <div class="h2">Headless eCommerce</div>
            <div class="h6">visual design & motion graphics
                <span style="margin-left: 10px">
                    |</span>
                <span style="text-transform: lowercase; margin-left: 10px;">case study coming soon.
                </span>
            </div>
            <div class="h3">make your opinions work for you. the more you answer, the more you earn.</div>
            <a href="/" class="button h5 inverted" target="_blank">view app and download.</a>
        </div>
        <div class="composition">
            <div class="picture-container">
                <picture>
                 {# {% image "src/site/images/ecommerce/01.png", "headless ecommerce", '(min-width: 30em) 50vw, 100vw', 'absolute w-full cover center' %} #}

                    <img data-src="/images/branding/logo-branding02.jpg" alt="" class="absolute w-full cover center" src="/images/branding/logo-branding02.jpg">
                </picture>
            </div>
        </div>
            {# <div class="counter">4 / 7</div> #}
    </div>
</div>