 <div class="fullHeight lazyloaded" id="huawei">
                <div class="containerCrop">
                    <div class="containerFixed"></div>
                    <div class="description">
                        <div class="h2">huawei</div>
                        <div class="h3">Product page design direction for multinational tech corporation.</div>
                        <a href="https://www.behance.net/gallery/79583727/Huawei-Product-Page-Design-Direction" class="button h5" target="_blank">view case study on Behance</a>
                    </div>
                    <div class="composition">
                        <div class="picture-container">
                            <video autoplay="" loop="" muted="" playsinline="">
                                <source type="video/webm" src="/images/gent/video.webm" onerror="videofallback(parentNode)">
                                <img src="/images/gent/fallback.png">
                            </video>
                            <img src="/gent/fallback.png">
                        </div>
                    </div>
                    <div class="counter">4 / 7</div>
                </div>
            </div>