<div class="fullHeight lazyloaded" data-lazyload-children=".dynamic-images" id="logo">
    <div class="containerCrop">
        <div class="containerFixed"></div>
        <div class="description">
            <div class="h2">Logo & Illustration</div>
            {# <div class="h6">

                case study coming soon.

            </div> #}
            <div class="h3">View a digital archive of past logo, illustration, and general branding work.</div>
            <a href="/" class="button h5 inverted" target="_blank">view on behance.</a>
        </div>
        <div class="composition">
            <div class="picture-container">
                <picture>
                 <img data-src="/images/logos/01.png" alt="rocketrip" class="dynamic-images lazyloaded" src="/images/logos/01.png">
                 {# {% image "src/site/images/logos/01.jpg", "headless ecommerce", '(min-width: 30em) 50vw, 100vw', 'absolute w-full cover center' %} #}
                </picture>
            </div>
        </div>
            {# <div class="counter">4 / 7</div> #}
    </div>
</div>