            <div class="fullHeight lazyloaded" data-lazyload-children=".dynamic-images" id="loop">
                <div class="containerCrop">
                    <div class="containerFixed"></div>
                    <div class="description">
                        <div class="h2">loop</div>
                        <div class="h3">Impossible geometry maze board game. Unique mechanics.</div>
                        <div class="button h5 inverted" target="_blank">coming soon</div>
                    </div>
                    <div class="composition">
                        <div class="picture-container">
                            <picture>
                                <img data-src="/images/gent/xs.jpg" alt="" class="dynamic-images lazyloaded" src="/images/gent/xs.jpg">
                            </picture>
                        </div>
                    </div>
                    <div class="counter">2 / 7</div>
                </div>
            </div>