            <div class="fullHeight clickable lazyloaded" data-lazyload-children=".dynamic-images" id="manrope" data-href="https://www.behance.net/gallery/67424063/Manrope-Modern-Geometric-Sans-Serif-font-family(FREE)">
                <div class="containerCrop">
                    <div class="containerFixed"></div>
                    <div class="counter">3 / 7</div>
                    <div class="description">
                        <div class="h2">manrope</div>
                        <div class="h3">Minimal, modern, geometric, multilanguage sans-serif font family.</div>
                        <a href="http://manropefont.com/" class="button h5" target="_blank">learn more &amp; download</a>
                    </div>
                    <div class="composition">
                        <div class="picture-container">
                            <picture>
                             <img data-src="/images/gent/m.png" class="dynamic-images lazyloaded" alt="" src="/images/gent/m.png">
                            </picture>
                            <picture>
                                <img data-src="/images/gent/a.png" class="dynamic-images lazyloaded" alt="" src="/images/gent/a.png">
                            </picture>
                            <picture>
                                <img data-src="/images/gent/n.png" class="dynamic-images lazyloaded" alt="" src="/images/gent/n.png">
                            </picture>
                            <picture>
                                <img data-src="/images/gent/r.png" class="dynamic-images lazyloaded" alt="" src="/images/gent/r.png">
                            </picture>
                            <picture>
                                <img data-src="/images/gent/o.png" class="dynamic-images lazyloaded" alt="" src="/images/gent/o.png">
                            </picture>
                            <picture>
                                <img data-src="/images/gent/p.png" class="dynamic-images lazyloaded" alt="" src="/images/gent/p.png">
                            </picture>
                            <picture>
                                <img data-src="/images/gent/e.png" class="dynamic-images lazyloaded" alt="" src="/images/gent/e.png">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>