                <div class="project__blockquote">
                    <p class="project__category js-anim-active is-active">
                        <span class="text-outer">
                            <span class="text-inner">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"> LOGO DESIGN & BRAND IDENTITY</font>
                                </font>
                            </span>
                        </span>
                    </p>
                    <div class="blockquote js-blockquote mb-0" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">
                        <div class="container">
                            <div class="blockquote__text">
                                <p>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                              High-end indie apparel startup targeting to gen-z and younger millennials
                                           
                                        </font>
                                    </font>
                                </p>
                            </div>

                        </div>
                    </div>
             
                </div>


                <div class="project__items">

                    <div class="project-image js-fade-to-top   no-bg " style="opacity: 1; transform: translate3d(0px, 0px, 0px);">
                        <div class="container">
                        {% image "src/site/images/UA/UA01.png","undressd apparel suzy pattern", "(min-width: 30em) 50vw, 100vw", "w-full h-30 img-fluid" %}
                        </div>
                    </div>

                    <div class="project-image js-fade-to-top   has-bg " style="background-color: #f1f1f1; opacity: 1; transform: translate3d(0px, 0px, 0px);">
                        <div class="container">
                        {% image "src/site/images/UA/UA02.png","undressd apparel suzy pattern", "(min-width: 30em) 50vw, 100vw", "w-full h-30 img-fluid" %}
                        </div>
                    </div>

                    <div class="project-image js-fade-to-top   has-bg " style="background-color: #d2d2d2; opacity: 1; transform: translate3d(0px, 0px, 0px);">
                        <div class="container">
                        {% image "src/site/images/UA/UA03.png","undressd apparel suzy pattern", "(min-width: 30em) 50vw, 100vw", "w-full h-30 img-fluid" %}
                        </div>
                    </div>

                    <div class="project-image js-fade-to-top   has-bg " style="background-color: rgb(51, 51, 51); opacity: 1; transform: translate3d(0px, 0px, 0px);">
                        <div class="container">
                        {% image "src/site/images/UA/UA04.png","undressd apparel suzy pattern", "(min-width: 30em) 50vw, 100vw", "w-full h-30 img-fluid" %}
                        </div>
                    </div>

                    <div class="blockquote js-blockquote " style="opacity: 1; transform: translate3d(0px, 0px, 0px);">
                        <div class="container">
                            <div class="blockquote__text">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        Create a site that is both current and timeless, where animations bring sophistication to a design that is deliberately refined.
                                    </font>
                                    <font style="vertical-align: inherit;">A luminous and calm graphic universe for Hamma, against the tide of his peers.
                                    </font>
                                </font>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="project__link text-center js-anim-active is-active">
                    <div class="text-outer pb-10">
                        <div class="text-inner">
                            <a href="https://www.suzy.com/" target="_blank" class="button">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">VIEW COMPANY WEBSITE</font>
                                </font>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="project__next">
                    <div class="block-link ">
                        <div class="container">
                            <div class="block-link__content hover-color js-fade-to-top" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">
                                <a href="" class="js-link">
                                    <span class="block-link__text">
                                        <span class="hover-color__outer-b">
                                            <span class="hover-color__inner-b">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Next project</font>
                                                </font>
                                            </span>
                                        </span>

                                        <span class="hover-color__outer">
                                            <span class="hover-color__inner">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Next project</font>
                                                </font>
                                            </span>
                                        </span>
                                    </span>
                                    <span class="block-link__image-wrapper">
                                        <img src="./project-page01_files/ed70319a23db7e2d206bf6d21c1b6a38.jpg" data-src="/uploads/medias/projects/ed70319a23db7e2d206bf6d21c1b6a38.jpg" class="img-fluid block-link__image" alt="" data-loaded="true">
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>