<!DOCTYPE html>
<!-- saved from url=(0019)https://gent.media/ -->
<html xml:lang="en" lang="en">
    {% include "layouts/head.njk" %}
    <body class="loaded gent-webp">
          {{ content | safe }}
        <div id="progress-end"></div>
    <script src="/assets/js/gent.js"></script>
    </body>
</html>
