<head> 
	<meta charset="UTF-8" />
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
	<meta name="twitter:widgets:theme" content="light">
	<meta property="og:type" content="website" />
	<meta property="og:image" content="Your-Image-Url" />
	<meta property="og:description" content="Maggie Lerman" />
	<meta name="p:domain_verify" content=""/>
	<meta property="og:url" content="/">
  {# TEMP #}
  {# <meta name="robots" content="NO INDEX, NO FOLLOW"> #}
	<title>Maggie Lerman | NYC based creative strategist, front-end developer, and cross-functional designer</title>
    {% include "../favicon.njk" %}
    <meta name="theme-color" content="#ffffff">	
    
    {% if build.env == "development" %}
      {% include "css-dev.njk" %}
         <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    {% else %}
    
    {% include "css-prod.njk" %}
    
    {% endif %}

  </head>