    
    <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Maggie Lerman | NYC Based Creative Technologist</title>
        <meta name="description" content="magg1e.com | Maggie Lerman | NYC based creative strategist, front-end developer, and cross-functional designer">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">

        <meta name="keywords" content="Maggie Lerman, NYC art director, NYC designer and developer, Creative design direction, Digital Campaigns, Branding, Identity, Strategy, Web-production, Visual design, 3D modeling, Rendering, Font design, Motion design, UI/UX, Interaction design, Wireframing, Prototyping">
      {# <meta name="robots" content="INDEX,FOLLOW"> #}
        <meta property="og:site_name" content="Maggie Lerman">
        <meta property="og:description" content="magg1e.com | Maggie Lerman | NYC based creative strategist, front-end developer, and cross-functional designer">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://magg1e.com/">
        <meta property="og:image" content="/">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="pinterest" content="nopin" />

        {% include "../favicon.njk" %}

        {% if build.env == "development" %}
        {% include "css-dev.njk" %}
            <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
        {% else %}
        {% include "css-prod.njk" %}
        {% endif %}
        <script>
            function videofallback(video) {
                var img = video.querySelector('img')
                if (img) 
                    video.parentNode.replaceChild(img, video)
                document.querySelector('body').classList.add('no-webm')
            }
        </script>
        <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    </head>