<!DOCTYPE html>
<html xml:lang="en" lang="en">
    {% include "layouts/head.njk" %}
    <body class="loaded gent-webp" aria-live="polite">
        {% include "components/sections/preloader.njk"%}
        {# <div class="toggle">
            {% include "components/sections/light-dark-toggle.njk"%}
        </div> #}
        {% include "components/sections/nav.njk"%}
        {{ content | safe }}
        <div id="progress-end"></div>
        <script>
            // rainbow text script start

            function _toArray(arr) {
                return Array.isArray(arr) ? arr : Array.from(arr)
            }

            function makeMyColors(selector) {
                var _document$querySelect = document.querySelectorAll(selector)
                var _document$querySelect2 = _toArray(_document$querySelect)
                var elements = _document$querySelect2.slice(0)

                return elements.map(function (element) {
                    var text = element.innerText.split('')
                    var myColors = text.map(function (letter) {
                        return '<myColor>' + letter + '</myColor>'
                    }).join('')
                    return element.innerHTML = myColors
                })
            }

            // usuage with single selector
            makeMyColors('h1.rainbow');
            makeMyColors('a.rainbow');
            makeMyColors('div.rainbow2');


        </script>
        <script>
            function videofallback(video) {
                var img = video.querySelector('img')
                if (img) 
                    video.parentNode.replaceChild(img, video)
                
                document.querySelector('body').classList.add('no-webm')
            }
        </script>
    </body>
</html>
