<!-- layout.nunjucks -->
<!DOCTYPE html>
<html lang="en">
    	{% include "../head.njk" %}
	{# <body class="body loading is-loaded" data-mode="production" data-anim="wrapper" aria-live="polite"> #}
	<body class="body" aria-live="polite">

		{# {% include "components/nav.njk" %} #}
		  {{ content | safe }}
		{# {% include "components/js.njk" %} #}
  </body>
</html>