<!DOCTYPE html>
<html xml:lang="en" lang="en">
    {% include "layouts/head.njk" %}
    <body class="loaded gent-webp">
          {{ content | safe }}
        <div id="progress-end"></div>
    {# <script src="/assets/js/app.js"></script> #}
    </body>
</html>
