---
layout: default
---
{# <body> #}
{# <div {% if meta.colors %}style="{{ meta.colors | themeColors }}"{% endif %}> #}

   {# <div data-icon-sprite hidden>{% iconsprite %}</div> #}

    {# <div class="layout h-resume" role="document"> #}
        {% include "components/resume/header.njk" %}
        {{ content | safe }}
        {% include "components/resume/sidebar.njk" %}
        {% include "components/resume/footer.njk" %}
    {# </div> #}

    {# <script type="text/javascript" src="{{ '/assets/scripts/main.js' | url }}"></script> #}
    <!--! LAST BUILD: {{ build.env}} {{ build.timestamp | dateToISO }} -->
{# </div> #}