<!-- -&#45;&#45;-->
<!--layout: layouts/layout.njk-->
<!--title: Let's Connect | Magg1e.com-->
<!--permalink : "{{page.fileSlug}}/"-->
<!-- -&#45;&#45;-->

{% include "components/sections/contact.njk"%}
