<style>

    @keyframes float-one {
        0% {
            box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
            transform: translateX(0px) translatey(0px);
        }
        50% {
            box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
            transform: translateX(0px) translatey(-20px);
        }
        100% {
            box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
            transform: translateX(0px)translatey(0px);
        }
    }


    @keyframes float-two {
        0% {
            box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
            transform: translateX(0px) translatey(0px);
        }
        50% {
            box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
            transform: translateX(0px) translatey(20px);
        }
        100% {
            box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
            transform: translateX(0px) translatey(0px);
        }
    }

    @keyframes float-three {
        0% {
            box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
            transform: translateX(0px) translatey(0px);
        }
        50% {
            box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
            transform: translateX(20px) translatey(0px);
        }
        100% {
            box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
            transform: translateX(0px) translatey(0px) ;
        }
    }
    .item-container {
        width: 100%;
        height: 100%;
    }

    .item {
        box-sizing: border-box;
        border-radius: 20px;
        overflow: hidden;
        img { width: 100%; height: auto; }
    }

    .item-one {
        width:300px;
        height: auto;
        background-color: #255BE3;
        transform: translateX(0px) translatey(0px);
        translate: 100px -30px;
        animation: float-one 6s ease-in-out infinite;
    }

    .item-two {
        width:200px;
        height: auto;
        background-color: #255BE3;
        transform: translateX(0px) translatey(0px);
        translate: 0px 60px;
        animation: float-two 6s ease-in-out infinite;
    }

    .item-three {
        width:300px;
        height: auto;
        background-color: #255BE3;
        transform: translateX(0px) translatey(0px);
        translate: -50px 0px;
        animation: float-three 6s ease-in-out infinite;
    }
</style>

<div id="" class="fullHeight lazyloaded" style="color: #fff; background-color: #101630;">
<div class="containerCrop">
        <div class="containerFixed"></div>
        <div class="description">
            <div class="h2">citi</div>
            <div class="h6">avp design, global user experience
            </div>
            <div class="h3">lorem ipsum dolor amt sit. second sentence placeholder text words.</div>
            <div class="items-center space-x-6 sm:space-x-10">
              <a href="/citi" class="button h5 inverted" target="">
                               View Case Study
               </a>
               <a href="https://citigroup.com/" class="button h5 inverted" target="_blank">
                               View Website
               </a>
            </div>
        </div>
        <div class="composition">
            <div class="picture-container">
                <div class="item-container flex items-center gap-4 md:gap-6">
                    <div class="item item-one">
                        {% png "src/site/images/citi/item01sa.png", "citi terminal chart element", "dynamic-images lazyloaded", '(min-width: 30em) 50vw, 100vw'%}
                    </div>
                    <div class="item item-two z-40">
                        {% png "src/site/images/citi/item02sa.png", "citi terminal chart element", "dynamic-images lazyloaded", '(min-width: 30em) 50vw, 100vw'%}
                    </div>
                    <div class="item item-three">
                        {% png "src/site/images/citi/item03sa.png", "citi terminal chart element", "dynamic-images lazyloaded", '(min-width: 30em) 50vw, 100vw'%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>