<div class="fullHeight lazyloaded" style=" color: #fff; background-image: linear-gradient( #4C06B7 0%, #351E58 100%);">
    <div class="containerCrop">
        <div class="containerFixed"></div>
        <div class="description">
            <div class="h2">citigroup</div>
            <div class="h6">avp design, global user experience
                {# <span style="margin-left: 10px">|</span>
                <span style="text-transform: lowercase; margin-left: 10px;">case study coming soon.
                </span> #}
            </div>
            <div class="h3">lorem ipsum dolor amt sit. second sentence placeholder text words.</div>
            {# <a href="http://suzy.com/" class="button h5 inverted" target="_blank">view website</a> #}
            <div class="items-center space-x-6 sm:space-x-10">
              <a href="/suzy" class="button h5 inverted" target="">
                               View Case Study
               </a>
               <a href="https://citi.com/" class="button h5 inverted" target="_blank">
                               View Website
               </a>
            </div>
        </div>
        <div class="composition">
            <div class="picture-container">
                <div class="bounce">
                {% png "src/site/images/citi/citi-logo.png", "citi", "dynamic-images lazyloaded", '(min-width: 30em) 50vw, 100vw'%}
                </div>
            </div>
        </div>
    </div>
</div>