<div id="crazybaby" class="fullHeight lazyloaded"
     style="color: #fff; background-color: #101630;">
    <div class="containerCrop">
        <div class="containerFixed"></div>
        <div class="description">
            <div class="h2">crazybaby</div>
            <div class="h6">test test test </div>
            <div class="h3">lorem ipsum dolor amt sit. second sentence placeholder text words.</div>
            <div class="items-center space-x-6 sm:space-x-10">
              <a href="/citi" class="button h5 inverted" target="">
                               View Case Study
               </a>
               <a href="https://citi.com/" class="button h5 inverted" target="_blank">
                               View Website
               </a>
            </div>
        </div>
        <div class="composition">
            <div class="picture-container">

                 {% image "src/site/images/example/crazybaby.jpg", "citi terminal chart element", "dynamic-images lazyloaded", '(min-width: 30em) 50vw, 100vw'%}


            </div>
        </div>
    </div>
</div>