            <div class="fullHeight clickable lazyloaded" id="crazybaby" data-href="https://www.behance.net/gallery/61620071/crazybaby-futuristic-audio-electronics-brand-design">
                <div class="containerCrop">
                    <div class="containerFixed"></div>
                    <div class="description">
                        <div class="h2">crazybaby</div>
                        <div class="h3">Design direction for a futuristic audio electronics company.</div>
                        <a href="https://www.behance.net/gallery/61620071/crazybaby-futuristic-audio-electronics-brand-design" class="button h5 inverted" target="_blank">view case study on Behance</a>
                    </div>
                    <div class="composition">
                        <div class="picture-container">
                            <picture>
                                <img data-src="/images/rps/test15.png" alt="" class=" lazyloaded" src="/images/rps/test15.png">
                            </picture>
                            <picture>
                               <img data-src="/images/example/crazybaby-led.png" alt="" class="crazybaby-led lazyloaded" src="/images/example/crazybaby-led.png">
                            </picture>
                        </div>
                    </div>
                    <div class="counter">1 / 7</div>
                </div>
            </div>