<div class="fullHeight lazyloaded" data-lazyload-children=".dynamic-images" id="" style="color: #fff; background-color: #242034;">
    <div class="containerCrop">
        <div class="containerFixed"></div>
        <div class="description">
            <div class="h2">crowdtap</div>
            <div class="h6">visual design & motion graphics
            </div>
            <div class="h3">make your opinions work for you. the more you answer, the more you earn.</div>
            <a href="http://crowdtap.com/" class="inline-flex button h5 inverted" target="_blank">download now</a>
        </div>
        <div class="composition">
            <div class="picture-container">
                {% png "src/site/images/crowdtap/01.png", "crowdtap portfolio image", "relative z-50 dynamic-images lazyloaded", '(min-width: 30em) 50vw, 100vw'%}
            </div>
        </div>
    </div>
</div>