            <div class="fullHeight clickable lazyloaded" id="kudolo" data-href="https://www.behance.net/gallery/61198913/Sci-Fi-style-UI-for-mobile-Drone-controller-KUDOLO">
                <div class="containerCrop">
                    <div class="containerFixed"></div>
                    <div class="counter">
                        <div class="textborder">5 / 7</div>
                    </div>
                    <div class="description">
                        <div class="h2">
                            <div class="textborder">
                                <span>kudolo</span>
                            </div>
                        </div>
                        <div class="h3">
                            <div class="textborder">
                                <span>Mobile Drone controller UI that turns reality to an engaging video game.</span>
                            </div>
                        </div>
                        <a href="https://www.behance.net/gallery/61198913/Sci-Fi-style-UI-for-mobile-Drone-controller-KUDOLO" class="button h5 inverted" target="_blank">
                            <div class="textborder">
                                <span>view case study on Behance</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>