<div class="fullHeight lazyloaded" style="color: #fff; background-color: #749668;">
    <div class="containerCrop">
        <div class="containerFixed"></div>
        <div class="description"> 
            <div class="h2">logo & branding</div>
            <div class="h3">Digital archive of past logo and brand development projects.</div>
            <a href="/logo-branding" class="button h5 inverted" target="">view gallery</a>
        </div>
        <div class="composition">
            <div class="picture-container">
                 {% image "src/site/images/logo-branding/logo-branding.jpg", "logo and branding projects", '(min-width: 30em) 50vw, 100vw', 'dynamic-images lazyloaded rounded-lg' %}
            </div>
        </div>
    </div>
</div>