<div class="fullHeight lazyloaded" id="logo-branding">
    <div class="containerCrop">
        <div class="containerFixed"></div>
        <div class="description"> 
            <div class="h2">logo & branding</div>
            <div class="h3">View a digital archive of past logo and brand development projects.</div>
            <a href="https://dribbble.com/maggielerman" class="button h5 inverted" target="_blank">view on dribbble</a>
        </div>
        <div class="composition">
            <div class="picture-container">
                 {% image "src/site/images/branding/logo-brand.jpg", "headless ecommerce", '(min-width: 30em) 50vw, 100vw', 'dynamic-images lazyloaded rounded-lg' %}
            </div>
        </div>
    </div>
</div>