
 <div class="fullHeight lazyloaded" style="color: #fff; background-image: linear-gradient( #10352A 0%, #10352A 100%);">
    <div class="containerCrop"> 
      <div class="containerFixed"></div>
      <div class="description">
        <div class="h2">Rock Paper Scissors</div>
        <div class="h6">eCommerce Strategy & Development</div>
        <div class="h3">ecommerce brand developed using NextJS & Shopify.</div>
        <a href="http://rockpaperscisso.rs/" class="button inverted h5 " target="_blank">view website</a>
      </div>
      <div class="composition">
          <div class="picture-container">
            {# <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_wvuamtnn.json"  background="transparent"  speed="0.5"  class="p-10"  loop autoplay></lottie-player> #}

            {# <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_4sdm38yy.json"  background="transparent"  speed="0.5"  class="p-10"  loop autoplay></lottie-player> #}
              {% png "src/site/images/rps/02b.png", "nextjs and shopify headless commerce - rock paper scissors", "dynamic-images lazyloaded", '50vw, 100vw'%}                  
          </div>
      </div>
    </div>
  </div>