 <div class="fullHeight lazyloaded" style=" color: #fff; background-image: linear-gradient( #5195C4 0%, #46AAD0 100%);">
    <div class="containerCrop">
      <div class="containerFixed"></div>
      <div class="description"> 
        <div class="h2">rocketrip</div>
        <div class="h6">brand development & marketing design</div>
        <div class="h3">Corporate travel startup.</div>
        <a href="http://rocketrip.com/" class="button h5 inverted" target="_blank">view website</a>
      </div>
      <div class="composition">
        <div class="picture-container">
          {% png "src/site/images/rocketrip/rocketrip.png", "rocketrip", "dynamic-images lazyloaded", '50vw, 100vw'%}
        </div> 
      </div>
    </div>
  </div>