
 <div class="fullHeight lazyloaded" id="rock-paper-scissors" data-href="/">
    <div class="containerCrop">
      <div class="containerFixed"></div>
      <div class="description">
        <div class="h2">Rock Paper Scissors</div>
        <div class="h6">eCommerce Strategy & Devopement | Art Direction
         {# <span style="margin-left: 10px"> |</span> 
         <span style="text-transform: lowercase; margin-left: 10px;">case study coming soon. </span>  #}
        </div>
        <div class="h3">ecommerce brand developed using NextJS & Shopify.</div>
        <a href="http://rockpaperscisso.rs/" class="button h5 " target="_blank">view website ↗</a>

      </div>
      <div class="composition">
      
        <div class="picture-container">
            {% png "src/site/images/rps/02.png", "nextjs and shopify headless commerce - rock paper scissors", "dynamic-images lazyloaded", '50vw, 100vw'%}                  
        </div>
      </div>
      {# <div class="counter">1 / 7</div> #}
    </div>
  </div>