
 <div class="fullHeight lazyloaded" style="color: #000; background-image: linear-gradient( #D8D0C8 0%, #F2E9D7 100%);">
    <div class="containerCrop"> 
      <div class="containerFixed"></div>
      <div class="description">
        <div class="h2">Rock Paper Scissors</div>
        <div class="h6">eCommerce Strategy & Development</div>
        <div class="h3">ecommerce brand developed using NextJS & Shopify.</div>
        <a href="http://rockpaperscisso.rs/" class="button h5 " target="_blank">view website</a>
      </div>
      <div class="composition">
          <div class="picture-container">
              {% png "src/site/images/rps/02.png", "nextjs and shopify headless commerce - rock paper scissors", "dynamic-images lazyloaded", '50vw, 100vw'%}                  
          </div>
      </div>
    </div>
  </div>