 <div class="fullHeight lazyloaded" style=" color: #fff; background-image: linear-gradient( #5195C4 0%, #46AAD0 100%);">
           {# <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_tlm1vjup.json"  background="transparent"  speed="1"  class="p-10"  loop autoplay></lottie-player> #}

    <div class="containerCrop">
      <div class="containerFixed"></div>
      <div class="description"> 
        <div class="h2">rocketrip</div>
      {# <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_tlm1vjup.json"  background="transparent"  speed="1"  class=""  loop autoplay></lottie-player> #}

        <div class="h6">brand development & marketing design</div>
        <div class="h3">Corporate travel startup.</div>
        <a href="http://rocketrip.com/" class="button h5 inverted" target="_blank">view website</a>
      </div>
      <div class="composition">
        <div class="picture-container">
        {# <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_tlm1vjup.json"  background="transparent"  speed="1"  class="p-10"  loop autoplay></lottie-player> #}

          {% png "src/site/images/rocketrip/rocketrip.png", "rocketrip", "dynamic-images lazyloaded", '50vw, 100vw'%}
        </div> 
      </div>
    </div>
  </div>