  <div class="projects" data-module="projects">
                        <div class="projects-wrapper">
                            <div class="text-center">
                                <h1 class="main-title">
                                    <span>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Projects</font>
                                        </font>
                                    </span>
                                </h1>
                            </div>

                            <div class="swiper-container projects-carousel js-projects-swiper swiper-container-horizontal swiper-container-free-mode">
                                <div class="swiper-wrapper" style="transform: translate3d(40px, 0px, 0px); transition-duration: 0ms;">

                                    <div class="swiper-slide projects-carousel__slide js-projects-slide swiper-slide-active" style="margin-right: 40px;">
                                        <div class="project-thumbnail">
                                            <a href="/projects/suzy" class="js-link project-thumbnail__link">
                                                <div class="project-thumbnail__image-wrapper">
                                                <img src="/images/suzy/suzy-vertical.png" data-src="/images/suzy/suzy-vertical.png" alt="suzy" class="img-fluid project-thumbnail__image" data-loaded="true">
                                                 {# {% image "src/site/images/suzy/suzy01.png","suzy", "(min-width: 30em) 50vw, 100vw", "img-fluid project-thumbnail__image" %} #}
                                                </div>
                                                <div class="project-thumbnail__content">
                                                    <div class="project-thumbnail__content-inner">
                                                        <h2 class="project-thumbnail__title">
                                                            <span>
                                                                <font style="vertical-align: inherit;">
                                                                    <font style="vertical-align: inherit;">Suzy</font>
                                                                </font>
                                                            </span>
                                                        </h2>
                                                        <p class="project-thumbnail__category">
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">Lead Marketing Designer</font>
                                                            </font>
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="swiper-slide projects-carousel__slide js-projects-slide" style="margin-right: 40px;">
                                        <div class="project-thumbnail">
                                            <a href="https://www.magg1e.com/project/poonawebsite" class="js-link project-thumbnail__link">
                                                <div class="project-thumbnail__image-wrapper">
                                                    <img src="/images/crowdtap/crowdtap-vertical.png" data-src="/images/crowdtap/crowdtap-vertical.png" alt="crowdtap" class="img-fluid project-thumbnail__image" data-loaded="true">
                                                    {# {% image "src/site/images/crowdtap/01a.png","crowdtap", "(min-width: 30em) 50vw, 100vw", "img-fluid project-thumbnail__image" %} #}
                                                </div>
                                                <div class="project-thumbnail__content">
                                                    <div class="project-thumbnail__content-inner">
                                                        <h2 class="project-thumbnail__title">
                                                            <span>
                                                                <font style="vertical-align: inherit;">
                                                                    <font style="vertical-align: inherit;">Crowdtap</font>
                                                                </font>
                                                            </span>
                                                        </h2>
                                                        <p class="project-thumbnail__category">
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">Visual design & motion graphics</font>
                                                            </font>
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                  
                                    <div class="swiper-slide projects-carousel__slide js-projects-slide swiper-slide-next" style="margin-right: 40px;">
                                        <div class="project-thumbnail">
                                            <a href="/projects/prefix" class="js-link project-thumbnail__link">
                                                <div class="project-thumbnail__image-wrapper">
                                                    <img src="/images/prefix/prefix-vertical.png" data-src="/images/prefix/prefix-vertical.png" alt="" class="img-fluid project-thumbnail__image" data-loaded="true">
                                                    {# {% image "src/site/images/prefix/prefix-vertical.png","prefix", "width:300px", "img-fluid project-thumbnail__image" %} #}
                                                </div>
                                                <div class="project-thumbnail__content">
                                                    <div class="project-thumbnail__content-inner">
                                                        <h2 class="project-thumbnail__title">
                                                            <span>
                                                                <font style="vertical-align: inherit;">
                                                                    <font style="vertical-align: inherit;">Prefix</font>
                                                                </font>
                                                            </span>
                                                        </h2>
                                                        <p class="project-thumbnail__category">
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">Branding, Visual Design</font>
                                                            </font>
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                     <div class="swiper-slide projects-carousel__slide js-projects-slide swiper-slide-next" style="margin-right: 40px;">
                                        <div class="project-thumbnail">
                                            <a href="/projects/UA" class="js-link project-thumbnail__link">
                                                <div class="project-thumbnail__image-wrapper">
                                                    <img src="/images/UA/UA-vertical.png" data-src="/images/UA/UA-vertical.png" alt="" class="img-fluid project-thumbnail__image" data-loaded="true">
                                                    {# {% image "src/site/images/UA/UA-vertical.png","undressd apparel", "(min-width: 30em)", "img-fluid project-thumbnail__image" %} #}
                                                </div>
                                                <div class="project-thumbnail__content">
                                                    <div class="project-thumbnail__content-inner">
                                                        <h2 class="project-thumbnail__title">
                                                            <span>
                                                                <font style="vertical-align: inherit;">
                                                                    <font style="vertical-align: inherit;">Undressd Apparel</font>
                                                                </font>
                                                            </span>
                                                        </h2>
                                                        <p class="project-thumbnail__category">
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">Branding, Visual Design</font>
                                                            </font>
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="swiper-slide projects-carousel__slide js-projects-slide swiper-slide-next" style="margin-right: 40px;">
                                        <div class="project-thumbnail">
                                            <a href="/projects/58williams" class="js-link project-thumbnail__link">
                                                <div class="project-thumbnail__image-wrapper">
                                                <img src="/images/58williams/58williams-vertical.png" data-src="/images/58williams/58williams-vertical.png" alt="58williams" class="img-fluid project-thumbnail__image" data-loaded="true">
                                              {# {% image "src/site/images/58williams/58williams-vertical.png","58 williams", "100vw", "img-fluid project-thumbnail__image" %} #}
                                                </div>
                                                <div class="project-thumbnail__content">
                                                    <div class="project-thumbnail__content-inner">
                                                        <h2 class="project-thumbnail__title">
                                                            <span>
                                                                <font style="vertical-align: inherit;">
                                                                    <font style="vertical-align: inherit;">58 Williams</font>
                                                                </font>
                                                            </span>
                                                        </h2>
                                                        <p class="project-thumbnail__category">
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">Branding, Visual Design</font>
                                                            </font>
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>


                                </div>
                                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                            </div>

                            <div class="projects-carousel__progressbar-wrapper">
                                <div class="container">
                                    <div class="projects-carousel__progressbar js-projects-progressbar is-active swiper-pagination-progressbar">
                                        <span class="swiper-pagination-progressbar-fill" style="transform: translate3d(0px, 0px, 0px) scaleX(0.111111) scaleY(1); transition-duration: 800ms;"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>