<div class="cookies js-cookies fadein">
    <p class="cookies__text">
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
                By continuing to browse this site, you accept the use of cookies in order to improve your user experience.
            </font>
        </font>
    </p>
    <button 
        type="button" 
        class="cookies__close js-close-cookies"
        >
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
            Close
            </font>
        </font>
    </button>
</div>