
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row justify-content-end">
                    
                        <div class="col-md-6 text-center text-md-right">
                            <div class="social-wrapper d-md-none">
                                <ul class="social is-text">
                                    <li class="social__item">
                                        <a href="https://www.linkedin.com/in/maggielerman "target="_blank" class="social__link">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    Linkedin
                                                </font>
                                            </font>
                                        </a>
                                    </li>
                                    <li class="social__item">
                                        <a href="https://dribbble.com/maggielerman" target="_blank" class="social__link">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    Dribbble
                                                </font>
                                            </font>
                                        </a>
                                    </li>
                                    <li class="social__item">
                                        <a href="https://www.instagram.com/maggielerman" target="_blank" class="social__link">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    Instagram
                                                </font>
                                            </font>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <p class="footer__text">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Copyright © 2020-2021 Maggie Lerman</font>
                                </font>
                            </p>
                        </div>
                    </div>
                </div>
            </footer>