<div class="prestations js-prestations" data-module="prestations" style="background-color: #fff">
                <div class="container position-relative" style="background-color: #fff">
                    <ul class="prestations__list js-prestations-list">
                        <li class="prestations__item js-prestation-item js-collapse" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <button type="button" class="prestations__link js-hover-link js-prestation-title js-collapse-button" data-image="logo">
                                <span>
                                    <font style="vertical-align: inherit;">
                                        <div class="rainbow" style="vertical-align: inherit;">Strategy & Innovation</div>
                                    </font>
                                </span>
                            </button>
                            <p class="prestations__detail js-collapse-content">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        what works, what doesn't, and why?
                                        Often as a company scales, communication suffers.  My experience working crossfunctionally, on marketing, product, and dev teams,
                                        and my personal ventures in entreprenuerships offer me
                                        unique insite into intra-team dynamics and the pain points the come along with them. 
                                        Usually it boils down to some simple miscommunications, but it often takes fresh eyes and fresh insight to see that. 
                                    </font>
                               </font>
                            </p>
                        </li>
                        <li class="prestations__item js-prestation-item js-collapse" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <button type="button" class="prestations__link js-hover-link js-prestation-title js-collapse-button" data-image="branding">
                                <span>
                                    <font style="vertical-align: inherit;">
                                        <div class="black-hover-red rainbow" style="vertical-align: inherit;">Design & Development</div>
                                    </font>
                                </span>
                            </button>
                            <p class="prestations__detail js-collapse-content">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                    Data driven, user-centric ux, timeless visual design and future-proof development offered in one cohesive package.
                                    <br> <br>
                                    <strong>DESIGN TOOLS</strong>
                                    <br>
                                    <img src="/images/tools/adobe_creative_cloud.svg" width="50" height="50" alt="Adobe Creative Cloud" class="logo px-1">
                                    <img src="/images/tools/adobe_illustrator.svg" width="50" height="50" alt="Adobe Illustrator" class="logo px-1" >
                                    <img src="/images/tools/adobe_photoshop.svg" width="50" height="50" alt="Adobe Photoshop" class="logo px-1" >
                                    <img src="/images/tools/adobe_indesign.svg" width="50" height="50" alt="Adobe indesign" class="logo px-1" >
                                    <img src="/images/tools/figma.svg" width="50" height="50" alt="figma" class="logo px-1" >
                                    <img src="/images/tools/invision.svg" width="50" height="50" alt="invision" class="logo px-1" >
                                    <img src="/images/tools/html5.svg" width="50" height="50" alt="html5" class="logo px-1" >
                                    <img src="/images/tools/css3.svg" width="50" height="50" alt="css3" class="logo px-1" >
                                    <img src="/images/tools/tailwindcss.svg" width="100" height="50" alt="css3" class="logo px-1" >

                                    <br> <br>
                                    <strong>DEV STACK</strong>
                                    <br>
                                    <img src="/images/tools/jamstack01.svg" width="100" height="50" alt="Jamstack Logo" class="logo px-1">
                                    <img src="/images/tools/react.svg" width="50" height="50" alt="react" class="logo px-1" >
                                    <img src="/images/tools/nextjs.svg" width="100" height="50" alt="next js" class="logo px-1" >
                                    <img src="/images/tools/nunjucks.svg" width="50" height="50" alt="Adobe indesign" class="logo px-1" >
                                    <img src="/images/tools/11ty.svg" width="50" height="50" alt="figma" class="logo px-1" >
                                    <img src="/images/tools/nodejs.svg" width="50" height="50" alt="nodejs" class="logo px-1" >
                                    <img src="/images/tools/liquid.svg" width="50" height="50" alt="liquid" class="logo px-1" >
                                    </font>
                                </font>
                            </p>
                        </li>
                        <li class="prestations__item js-prestation-item js-collapse" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <button type="button" class="prestations__link js-hover-link js-prestation-title js-collapse-button" data-image="supports-print">
                                <span>
                                    <font style="vertical-align: inherit;">
                                        <div class="rainbow" style="vertical-align: inherit;">Web Performance</div>
                                    </font>
                                </span>
                            </button>
                            <p class="prestations__detail js-collapse-content">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Web optimization, webperf standards</font>
                                </font>
                            </p>
                        </li>
                        <li class="prestations__item js-prestation-item js-collapse" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <button type="button" class="prestations__link js-hover-link js-prestation-title js-collapse-button" data-image="supports-print">
                                <span>
                                    <font style="vertical-align: inherit;">
                                        <div class="rainbow" style="vertical-align: inherit;">Data Flow & Data Mapping</div>
                                    </font>
                                </span>
                            </button>
                            <p class="prestations__detail js-collapse-content">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Global declination of your identity on all your communication media</font>
                                </font>
                            </p>
                        </li>
                        <li class="prestations__item js-prestation-item js-collapse" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <button type="button" class="prestations__link js-hover-link js-prestation-title js-collapse-button" data-image="packaging">
                                <span>
                                    <font style="vertical-align: inherit;">
                                        <div class="rainbow" style="vertical-align: inherit;">Headless eCommerce</div>
                                    </font>
                                </span>
                            </button>
                            <p class="prestations__detail js-collapse-content">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Label creation and creation of tailor-made packaging</font>
                                </font>
                            </p>
                        </li>
                        <li class="prestations__item js-prestation-item js-collapse" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <button type="button" class="prestations__link js-hover-link js-prestation-title js-collapse-button" data-image="webdesign">
                                <span>
                                    <font style="vertical-align: inherit;">
                                        <div class="rainbow" style="vertical-align: inherit;">Operations</div>
                                    </font>
                                </span>
                            </button>
                            <p class="prestations__detail js-collapse-content">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Intelligent Workflow Automation</font>
                                </font>
                            </p>
                        </li>
                    </ul>

                    {# <div class="prestations__images-wrapper">
                        <picture data-image="branding" data-loaded="true">
                        {% image "src/site/images/58williams/58williams.png","undressd apparel", "(min-width: 30em) 50vw, 100vw", "img-fluid prestations__image prestations-image__1 js-prestation-image prestations-image__logo-1" %}
                        </picture>
                        <picture data-image="logo" data-loaded="true">
                        {% image "src/site/images/UA/undressd-apparel.png","undressd apparel", "(min-width: 30em) 50vw, 100vw", "img-fluid prestations__image prestations-image__2 js-prestation-image prestations-image__logo-2" %}
                        </picture>
                         <picture data-image="branding" data-loaded="true">
                        {% image "src/site/images/suzy/suzy01.png","suzy", "(min-width: 30em) 50vw, 100vw", "img-fluid prestations__image prestations-image__1 js-prestation-image prestations-image__branding-1" %}
                        </picture>
                        <img src="src/site/images/58williams/58williams.png" data-src="src/site/images/58williams/58williams.png" alt="" class="img-fluid prestations__image prestations-image__2 js-prestation-image prestations-image__branding-2" data-image="branding" data-loaded="true">
                        <img src="/images/img/028303e438ecf362385b6ae4def89577.jpg" data-src="/images/img/028303e438ecf362385b6ae4def89577.jpg" alt="" class="img-fluid prestations__image prestations-image__1 js-prestation-image prestations-image__supports-print-1" data-image="supports-print" data-loaded="true">
                        <img src="/images/img/f11d471f0f2b94c2c233ee7d823e1389.jpg" data-src="/images/img/f11d471f0f2b94c2c233ee7d823e1389.jpg" alt="" class="img-fluid prestations__image prestations-image__2 js-prestation-image prestations-image__supports-print-2" data-image="supports-print" data-loaded="true">
                        <img src="/images/img/dddd2509a73774c3a36f3123b5758939.jpg" data-src="/images/img/dddd2509a73774c3a36f3123b5758939.jpg" alt="" class="img-fluid prestations__image prestations-image__1 js-prestation-image prestations-image__packaging-1" data-image="packaging" data-loaded="true">
                        <img src="/images/img/f5ac05444ffe2a5cfd48bfd07034f00a.jpg" data-src="/images/img/f5ac05444ffe2a5cfd48bfd07034f00a.jpg" alt="" class="img-fluid prestations__image prestations-image__2 js-prestation-image prestations-image__packaging-2" data-image="packaging" data-loaded="true">
                        <img src="/images/img/e9479f48cd78bfb1d1651716cdec9615.jpg" data-src="/images/img/e9479f48cd78bfb1d1651716cdec9615.jpg" alt="" class="img-fluid prestations__image prestations-image__1 js-prestation-image prestations-image__webdesign-1" data-image="webdesign" data-loaded="true">
                        <img src="/images/img/82b533d21ee1c9275ba103522e17eb52.jpg" data-src="/images/img/82b533d21ee1c9275ba103522e17eb52.jpg" alt="" class="img-fluid prestations__image prestations-image__2 js-prestation-image prestations-image__webdesign-2" data-image="webdesign" data-loaded="true">
                        <img src="/images/img/6dbe98c24ec481ef18aee0014b983016.jpg" data-src="/images/img/6dbe98c24ec481ef18aee0014b983016.jpg" alt="" class="img-fluid prestations__image prestations-image__1 js-prestation-image prestations-image__ux-1" data-image="ux" data-loaded="true">
                        <img src="/images/img/882b1cdb9462b1e2289ef11c3aab756c.jpg" data-src="/images/img/882b1cdb9462b1e2289ef11c3aab756c.jpg" alt="" class="img-fluid prestations__image prestations-image__2 js-prestation-image prestations-image__ux-2" data-image="ux" data-loaded="true">
                    </div> #}
                
                </div>
            </div>