<script type="text/javascript" async="" src="/assets/js/analytics.js"></script><script async="" src="/assets/js/js"></script>
<script src="/assets/js/TweenMax.min.js"></script>
<script src="/assets/js/TimelineMax.min.js"></script>

<script src="/assets/js/ScrollMagic.min.js"></script>
<script src="/assets/js/animation.gsap.js"></script>

<script src="/assets/js/debug.addIndicators.min.js"></script>
<script src="/assets/js/app.js"></script>

<script src="/assets/js/rainbow.js"></script>
<script src="/assets/js/modal.js"></script>

<script src="/assets/js/dark.js"></script>

<!-- capture the CSS content as a Nunjucks variable -->
{# {% set js %}
    {% include "../../assets/js/analytics.js" %}
    {% include "../../assets/js/TweenMax.min.js" %}
    {% include "../../assets/js/TimelineMax.min.js" %}
    {% include "../../assets/js/ScrollMagic.min.js" %}
    {% include "../../assets/js/animation.gsap.js" %}
    {% include "../../assets/js/debug.addIndicators.min.js" %}
    {% include "../../assets/js/app.js" %}
    {% include "../../assets/js/rainbow.js" %}
    {% include "../../assets/js/modal.js" %}
    {% include "../../assets/js/dark.js" %}
{% endset %} #}
{# <script script-src='unsafe-inline'>
  {{ js | jsmin | safe }}
</script> #}