{# <div class="relative h-auto w-full"> #}
  
{# </div> #}
<section class="text-gray-600 body-font relative w-full">

  <div class=" mx-auto flex  items-center justify-center flex-col">
    <div class="w-1/4 py-8 md:py-12">
     {% png "src/site/images/suzy/suzy-logo.png", "suzy", '(min-width: 30em) 50vw, 100vw', 'lazy-loaded  object-center ' %}
    </div>
    <div class="text-center lg:w-1/2 w-full">
        <h1 class="title-font sm:text-3xl text-2xl mb-4 font-medium text-gray-900">
            Suzy is an enterprise software startup leading the way in agile market research.        
        </h1>
      {# <div class="flex justify-center">
          <i class="fa-solid fa-chevron-down"></i>
      </div> #}
    </div>
  </div>
</section> 
