
  <section class=" py-5 px-5"
           style="background-color: #255BE3">
<!--    <section class=" py-10 px-10 border-blue-500 border-2 rounded-[20px]" style="">-->

    <div class="bg-white flex flex-wrap items-center text-black text-left py-10 px-10 border-blue-500 border-2 rounded-[20px]">
      <div class=" w-full md:w-1/2">
        <div class="">
          <h2 style="color: #255BE3;" class="font-semibold tracking-wider leading-loose text-xs uppercase mb-1">Introduction:</h2>
          <p class="leading-relaxed text-base ">
            During my two-year tenure as a Senior Visual Designer on Citigroup's
            Global UX Team, I played a key role in shaping the user experience across
            the entire organization, including the northstars of unification and simplication,
            and establishing a UX Center of Excellence that would be a touchstone for all ux
            teams across the globe.
          </p>
        </div>
        <div class="pt-6">
          <h2 style="color: #255BE3;" class="font-semibold tracking-wider leading-loose text-xs uppercase mb-1">
          Role & Responsibilities:</h2>
        <p class="leading-relaxed text-base ">
          My responsibilities encompassed a broad range of activities,
          from developing global design strategies to hands-on design work
          for critical projects. This case study highlights my contributions
          in three primary areas:
          <span>
          <ul class="text-base max-w-2/3 px-10 py-4">
            <li class="">
            <div class="font-bold" > Strategy and Operations: </div>
             <div class="mb-4">
              Collaborating directly with senior UX leadership to establish a UX Center of Excellence “boots on the ground”
             </div>
            </li>
            <li class="">
              <div class="font-bold"> Hands on Design: </div>
              <div class="mb-4"> I have selected two projects to walk through.</div>
            </li>
            <li class="">
              <div class="font-bold"> UX Mentorship:</div>
              <div class="mb-4"> teaching actionable UX solutions to non-uxers across numerous teams.</div>
            </li>
          </ul>
        </span>
        </p>
        </div>
      </div>
      <div class="w-full md:w-1/2">
        {% png "src/site/images/citi/venn-diagram02.png", "citigroup", '(min-width: 30em) 50vw, 100vw', 'dynamic-images lazyloaded' %}
      </div>
      </div>
  </section>
