/* HERO DARK STARTS */

/* hero underline start*/
.hero-underline {
	background-image: linear-gradient( #BF8C7C 0%, #ddc0b4 100%);
	background-repeat: no-repeat;
	background-size: 100% 0.2em;
	background-position: 0 88%;
	transition: background-size 0.25s ease-in;

	/* font-style: italic */
  }
  .hero-underline:hover {
	background-size: 100% 88%;
	background-image: linear-gradient( #ddc0b4 0%, #ddc0b4 100%);
  font-style: normal;
  color: #000
	
  }

  /* rainbow text start */

  .rainbow myColor {
    transition: 1s;
  }
  
  .rainbow myColor:hover {
    transition: color 0s;
    color:#a11414;
  }
  
  
  .rainbow myColor:nth-child(1n):hover{
    color: #ff5202;
  }
  
  .rainbow myColor:nth-child(2n):hover{
    color: #0fdf81;
  }
  
  .rainbow myColor:nth-child(3n):hover{
    color: #185bd6;
  }

  .rainbow myColor:nth-child(4n):hover{
    color: hsl(54, 79%, 38%);
  }
  
  .rainbow myColor:nth-child(4n):hover{
    color: #22bd14;
  }
  
/* HERO DARK ENDS */

/* HERO LIGHT STARTS */

/* hero underline-light start */
.hero-underline-light {
	background-image: linear-gradient( #BF8C7C 0%, #ddc0b4 100%);
	background-repeat: no-repeat;
	background-size: 100% 0.2em;
	background-position: 0 88%;
	transition: background-size 0.25s ease-in;

	/* font-style: italic */
  }
  .hero-underline-light:hover {
	background-size: 100% 88%;
	background-image: linear-gradient( #ddc0b4 0%, #ddc0b4 100%);
  font-style: normal;
  color: #000
	
  }

  /* rainbow-light text start */

  .rainbow-light myColor {
    transition: 1s;
  }
  
  .rainbow-light myColor:hover {
    transition: color 0s;
    color:#a11414;
  }
  
  
  .rainbow-light myColor:nth-child(1n):hover{
    color: #ac7861;
  }
  
  .rainbow-light myColor:nth-child(2n):hover{
    color: #D77B60;
  }
  
  .rainbow-light myColor:nth-child(3n):hover{
    color: #E29200;
  }

  .rainbow-light myColor:nth-child(4n):hover{
    color: hsl(54, 79%, 38%);
  }
  
  .rainbow-light myColor:nth-child(4n):hover{
    color: #BF8C7C;
  }
  
/* HERO LIGHT ENDS */