/* lines 1328-1351 */

#rocketrip .containerFixed {
    background-image: linear-gradient( #E2E5EA 0%, #F1F5FC 100%);

    /* background-color: #6c6c6c; */
}

#rocketrip .composition {
    left: 20px;
    width: auto;
}

#rocketrip .composition img {
    position: absolute;
    left: 0;
    top: 0;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#rocketrip.lazyloaded .rocketrip-led {
    -webkit-animation: rocketripled 3.5s ease infinite;
    animation: rocketripled 3.5s ease infinite;
}
/* line 1473 */
#rocketrip,
 {
    color: #000;
}

/* lines 1521-1571 */
@-webkit-keyframes rocketripled {
    0% {
        opacity: 0;
    }

    52% {
        opacity: 0;
    }

    64% {
        opacity: 1;
    }

    76% {
        opacity: 0;
    }

    88% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes rocketripled {
    0% {
        opacity: 0;
    }

    52% {
        opacity: 0;
    }

    64% {
        opacity: 1;
    }

    76% {
        opacity: 0;
    }

    88% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* lines 1645-1658 */

#rocketrip .composition {
    width: calc(100vw - 40px);
}

#rocketrip .composition img {
    -o-object-position: 50% 0;
    object-position: 50% 0;
}

#rocketrip.lazyloaded.containerFixed::after {
    background-image: url(/assets/img/showcase/rocketrip-xs-led.png);
    background-size: 100% auto;
    background-position: 0 bottom;
}