{# <div class="relative h-auto w-full"> #}
  
{# </div> #}
<section class="text-gray-600 body-font relative h-screen w-full">
    <div class="absolute inset-x-0 bottom-0 h-auto">
     {% png "src/site/images/suzy/suzy-people.png", "suzy", '50vw, 100vw', 'lazy-loaded object-cover ' %}
      </div>
  <div class=" mx-auto flex  items-center justify-center flex-col">
    <div class="w-1/4 py-8 md:py-24">
     {% png "src/site/images/suzy/suzy-logo.png", "suzy", '(min-width: 30em) 50vw, 100vw', 'lazy-loaded  object-center ' %}
    </div>
    <div class="text-center lg:w-2/3 w-full">
        {# <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">
          Microdosing synth tattooed vexillologist
        </h1> #}
        <p class="mb-8 leading-relaxed">
              Suzy is an enterprise software startup leading the way in agile market research.        
        </p>
      <div class="flex justify-center">
          <i class="fa-solid fa-chevron-down"></i>
      </div>
    </div>
  </div>
</section> 
