 <section class="flex flex-wrap max-h-screen px-4 pt-4 mx-auto items-center text-left">
        <div class="w-full md:w-1/2 md:pr-12 md:py-8 mb-10 md:mb-0 pt-10 px-10">
            <div class="h2">Suzy</div>
            <p class="leading-relaxed text-lg mb-3">
              Suzy is an enterprise software startup leading the way in agile market research.        
            </p>
            <h2 style="color: #4A09AF;" class="title-font font-semibold tracking-wider leading-loose text-xs uppercase mt-5 mb-1">
            role:
            </h2>
            <div class="sm:text-lg text-lg leading-relaxed font-medium title-font mb-2 text-gray-900">
            Marketing Design Lead, SaaS
            </div>
          <p class="leading-relaxed text-base">
            04.2019 - 08.2020</p>
        </div>
        <div class="w-full  md:w-1/2 flex flex-col md:pl-12 md:px-10">
            {% png "src/site/images/suzy/big-screen-mockup01.png", "suzy", '(min-width: 30em) 50vw, 100vw', 'dynamic-images lazyloaded' %}
        </div>  
        
    </section>