<section class="px-24 text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex items-center w-full mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
        {% image "src/site/images/suzy/case-study/social-graphics.jpg", "suzy", ' 50vw, 100vw', 'w-full h-full object-center object-cover rounded-lg' %}
        
      
        <div class="sm:ml-10 flex-grow sm:text-left text-center mt-6 sm:mt-0">
            <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900">Social Media & Blog Content</h1>
        </div>
    </div>
    <div class="flex items-center lg:w-full mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
      <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
         <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900">Data Visualization & Infographics </h1>


      </div>
          {% image "src/site/images/suzy/case-study/social-graphics.jpg", "suzy", ' 50vw, 100vw', 'w-full h-full object-center object-cover rounded-lg' %}

    </div>
    <div class="flex items-center lg:w-full mx-auto sm:flex-row flex-col">
          {% image "src/site/images/suzy/case-study/social-graphics.jpg", "suzy", ' 50vw, 100vw', 'w-full h-full object-center object-cover rounded-lg' %}

      <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
        <h1 class="sm:ml-10 sm:text-3xl text-2xl font-medium title-font text-gray-900">
            Event Collateral and Large Scale Print Design
            </h1>

  
      </div>
    </div>
    <button class="flex mx-auto mt-20 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Button</button>
  </div>
</section>