
{# <div class="scroll-smooth hover:scroll-auto flex items-center justify-between noprint" #}

<div class=" flex-row-reverse md:flex-col scroll-smooth hover:scroll-auto items-center justify-between"
    x-data="{open: false}">

    <div 
        @click="open =! open"
        aria-label="Modal">
                  {% image "src/site/images/suzy/case-study/social-graphics.jpg", "suzy", ' 50vw, 100vw', 'w-full h-full object-center object-cover rounded-lg' %}
    </div>


    

    <div x-cloak x-ref="menu"x-show.transition.slide="open" x-transition x-transition.duration.500ms role="menu" aria-modal="true"
       
        class="bg-stone-800 bg-opacity-50 p-24 text-left ease-in-out duration-300 fixed z-10 top-0 right-0 w-full h-screen flex place-content-center">
        {# <div class="toggle">
        {% include "components/sections/light-dark-toggle.njk"%}
        </div> #}
        <div class="bg-white w-full max-w-screen-lg max-h-lg grid grid-cols-1 md:grid-cols-2 divide-stone-400 md:divide-x-2 place-content-center md:place-items-start"
             @mousedown.away="open = false" @keydown.window.escape="open = false" >
            <div @click="open =! open"  class="container align-middle items-center md:pl-20">
                <li><a class="rainbow" href="/#about-maggie-lerman">About</a> </li>
                <li><a class="rainbow" href="/assets/resume/maggie-lerman_resume_March2022.pdf" target="_blank">C.V.</a> </li>
                <li class="pb-5 md:pb-0"><a class="rainbow" href="/#portfolio">Select Work</a></li>
                {# <li class="pb-5"><a class="rainbow" href="/contact">Contact</a> </li> #}

            </div>
            <div class"container align-middle">
                <div>
                    <h2 class="pb-1 md:pb-2 pt-5 md:pt-0 md:mx-32 text-4xl font-semibold tracking-widest border-stone-400 border-t-2 md:border-t-0">
                        Maggie Lerman
                    </h2>
                    <h3 class="pb-2 md:mx-32 text-xl font-semibold tracking-wide">  Strategy. Design. Development. </h3>
                </div>
                <div class="space-y-1.5">
                    <div @click="open =! open"  class="pb-1.5 md:pb-0 md:mx-32 flex flex-row space-x-6">

                        <a class="" href="https://www.linkedin.com/in/maggielerman/" target="_blank"> 
                        <span style="font-size: 1.5em; color: black;">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </span>
                        </a>
                        {# <a class="" href="https://behance.net/maggielerman" target="_blank">
                        <span style="font-size: 1.5em; color: black;">
                            <i class="fa-brands fa-behance"></i>
                        </span>
                        </a> #}
                        <a class="" href="https://dribbble.com/maggielerman" target="_blank">
                        <span style="font-size: 1.5em; color: black;">
                            <i class="fa-brands fa-dribbble"></i>
                        </span>
                        </a>
                        {# <a class="align-bottom" href="https://codepen.com/maggielerman" target="_blank">
                            <i class="fa-brands fa-codepen"></i>
                        </a>       #}
                        <a class="align-bottom" href="https://codepen.io/maggielerman" target="_blank">
                            <span style="font-size: 1.5em; color: black;"> 
                                <i class="fa-brands fa-codepen"></i>
                            </span>
                        </a>     
                        <a class="align-bottom" href="https://vimeo.com/maggielerman" target="_blank">
                            <span style="font-size: 1.5em; color: black;"> 
                                <i class="fa-brands fa-vimeo"></i>
                            </span>
                        </a>                               
                        {# <a class="align-bottom" href="tel:+16464674522" target="_blank">
                            <i class="fa-solid fa-phone"></i>                     
                        </a>         
                    <a class="align-bottom" href="mailto:lerman@magg1e.com" target="_blank">
                            <i class="fa-solid fa-at"></i>
                        </a> #}
                    </div>
                
                    <div @click="open =! open"  class="md:mx-32 text-sm font-semibold"><a href="tel:+16464674522">+1(646)467-4522</a></div>

                    <div @click="open =! open" class="md:mx-32 text-sm font-semibold"><a href="mailto:lerman@magg1e.com">lerman@magg1e.com</a></div>
               </div>
            </div>
        </div>
    </div>


</div>
