<section class="text-gray-600 body-font bg-zinc-300">
  <div class="  flex flex-wrap px-5 py-24 mx-auto items-center">
    <div class="md:w-1/3 pl-6 md:pl-12 md:py-8 md:border-r pb-6  md:border-white">
         
         <h2 style="color: #4A09AF;" class="title-font font-semibold tracking-wider leading-loose text-xs uppercase mb-1">
            role:
            </h2>
      <div class="sm:text-lg text-lg leading-relaxed font-medium title-font mb-2 text-gray-900">
            Marketing Design Lead, SaaS
    </div>
          <p class="leading-relaxed text-base">
            04.2019 - 08.2020
        </p>
        
    </div>
    <div class="flex flex-col md:w-2/3 pl-6 md:pl-24  ">
        
      <h2 style="color: #4A09AF;" class="title-font font-semibold tracking-wider leading-loose text-xs uppercase mb-1">responsibilities:</h2>
      <div class="text-gray-900 flex flex-wrap list-none text-sm font-sm font-semibold leading-relaxed tracking-tight gap-y-1">
        <li class="lg:w-1/3 mb-1 w-1/2">
          <a class=" hover:text-gray-800">Art Direction</a>
        </li>
        <li class="lg:w-1/3 mb-1 w-1/2">
          <a class="hover:text-gray-800">Creative Strategy</a>
        </li>
        <li class="lg:w-1/3 mb-1 w-1/2">
          <a class="hover:text-gray-800">Design Ops</a>
        </li>
        <li class="lg:w-1/3 mb-1 w-1/2">
          <a class="hover:text-gray-800">Branding</a>
        </li>
        <li class="lg:w-1/3 mb-1 w-1/2">
          <a class="hover:text-gray-800">Video Production</a>
        </li>
        <li class="lg:w-1/3 mb-1 w-1/2">
          {# <a class="hover:text-gray-800">Large Scale Print Design</a> #}
          <a class="hover:text-gray-800">Asset Management</a>

        </li>
        <li class="lg:w-1/3 mb-1 w-1/2">
          <a class="hover:text-gray-800">Data Visualization</a>
        </li>
        <li class="lg:w-1/3 mb-1 w-1/2">
          <a class="hover:text-gray-800">Web Design</a>
        </li>
        <li class="lg:w-1/3 mb-1 w-1/2">
          <a class="hover:text-gray-800">Motion Graphics</a>
        </li>
      </div>
    </div>
  </div>
</section>