{# <div class="mt-6 w-full overflow-scroll-x md:overflow-hidden mx-auto sm:px-6 lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-3 lg:gap-x-8"> #}
<div class="p-12 grid grid-flow-row-dense grid-cols-6 grid-rows-auto rounded-lg gap-8">
  <div class="col-span-3 rounded-lg bg-purple-200">
    {% image "src/site/images/suzy/case-study/social-graphics.jpg", "suzy", ' 50vw, 100vw', 'w-full h-full object-center object-cover rounded-lg' %}
  </div>
    <div  class="col-span-3 rounded-lg bg-purple-400">             
        {% image "src/site/images/suzy/case-study/suzy-booth.png", "suzy", ' 50vw, 100vw', 'w-full h-full object-center object-cover rounded-lg' %}
  </div>


  <div class="col-span-2">
      {% image "src/site/images/suzy/case-study/case-study02.png", "suzy", ' 50vw, 100vw', 'w-full h-full object-center object-cover rounded-lg' %}
  </div>
  <div class="col-span-4">
      {% image "src/site/images/suzy/case-study/disrupt-or-die.jpg", "suzy", ' 50vw, 100vw', 'w-full h-full object-center object-cover rounded-lg' %}
  </div>

  <div class="col-span-2">
      {% image "src/site/images/suzy/case-study/quirks-print.png", "suzy", ' 50vw, 100vw', 'w-full h-full object-center object-cover rounded-lg' %}
  </div>
  <div class="col-span-2">
      {% image "src/site/images/suzy/case-study/suzy03.png", "suzy", ' 50vw, 100vw', 'w-full h-full object-fit rounded-lg' %}
  </div>
  <div class="col-span-2">
      {% image "src/site/images/suzy/case-study/case-study01.png", "suzy", ' 50vw, 100vw', 'w-full h-full object-center object-cover rounded-lg' %}
  </div>

 
 

    {# <div class="col-span-6 rounded-lg bg-stone-300">
        {% image "src/site/images/suzy/case-study/pattern.jpg", "suzy", '(min-width: 30em) 50vw, 100vw', 'w-full h-full object-center object-cover rounded-lg' %}
  </div> #}
</div>
