
<section class="pt-24 text-gray-600 body-font h-screen w-full">

  <div class=" mx-auto flex  items-center justify-center flex-col">

    <div class="h-auto text-center w-1/2 py-8 md:py-24">

          <a href="https://suzy.com" target="_blank" class=" mr-4 text-xl" style="color: #4A09AF;">
                 visit suzy.com
                  <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </a> 
           <a href="/" target="" class=" ml-4 mb-6 text-xl" style="color: #4A09AF;">
                 view next project
             <i class="fa-solid fa-arrow-right"></i>
          </a> 
      
    </div>
         {% png "src/site/images/suzy/suzy-people.png", "suzy", '50vw, 100vw', 'lazy-loaded object-cover ' %}

  </div>
</section> 
