{# <div class="relative h-auto w-full"> #}
  
{# </div> #}
<section class="pt-24 text-gray-900 body-font h-auto w-full bg-zinc-50">
    {# <div class="absolute inset-x-0 bottom-0 h-auto">
     {% png "src/site/images/suzy/suzy-people.png", "suzy", '50vw, 100vw', 'lazy-loaded object-cover ' %}
      </div> #}
  <div class=" mx-auto flex  items-center justify-center flex-col">
     {# <div class="absolute inset-x-0 bottom-0 h-auto">
     {% png "src/site/images/suzy/suzy-people.png", "suzy", '50vw, 100vw', 'lazy-loaded object-cover ' %}
      </div> #}
    {# <div class="absolute w-1/4 py-8 md:py-24">
     {% png "src/site/images/suzy/suzy-logo.png", "suzy", '(min-width: 30em) 50vw, 100vw', 'lazy-loaded  object-center ' %}
    </div> #}
    <div class="h-auto text-center w-1/2 py-8 md:py-24">
           <div class="items-center space-x-6 sm:space-x-10">        
                      <p class="font-semibold text-xl">Thank You for Reading!</p>
           </div>      
      
    </div>
         {% png "src/site/images/suzy/suzy-people.png", "suzy", '50vw, 100vw', 'lazy-loaded object-cover ' %}

  </div>
</section> 
