{# <div class="relative h-auto w-full"> #}
  
{# </div> #}
<section class="pt-24 text-gray-600 body-font h-auto w-full">
    {# <div class="absolute inset-x-0 bottom-0 h-auto">
     {% png "src/site/images/suzy/suzy-people.png", "suzy", '50vw, 100vw', 'lazy-loaded object-cover ' %}
      </div> #}
  <div class=" mx-auto flex  items-center justify-center flex-col">
     {# <div class="absolute inset-x-0 bottom-0 h-auto">
     {% png "src/site/images/suzy/suzy-people.png", "suzy", '50vw, 100vw', 'lazy-loaded object-cover ' %}
      </div> #}
    {# <div class="absolute w-1/4 py-8 md:py-24">
     {% png "src/site/images/suzy/suzy-logo.png", "suzy", '(min-width: 30em) 50vw, 100vw', 'lazy-loaded  object-center ' %}
    </div> #}
    <div class="h-auto text-center w-1/2 py-8 md:py-24">
        {# <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">
          Microdosing synth tattooed vexillologist
        </h1> #}
          <a href="https://suzy.com" target="_blank" class=" mr-4 text-xl" style="color: #4A09AF;">
                 visit suzy.com
                  <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </a> 
           <a href="/" target="" class=" ml-4 mb-6 text-xl" style="color: #4A09AF;">
                 view next project
             <i class="fa-solid fa-arrow-right"></i>
          </a> 
      
    </div>
         {% png "src/site/images/suzy/suzy-people.png", "suzy", '50vw, 100vw', 'lazy-loaded object-cover ' %}

  </div>
</section> 
