<section class="overflow-hidden text-gray-700">
  <div class="container px-5 py-2 lg:pt-24 lg:px-24">
    <div class="flex flex-wrap -m-1 md:-m-2">
      <div class="flex flex-wrap w-full">
        <div class="w-1/2 p-1 md:p-2">
          {% image "src/site/images/suzy/case-study/infographics/06.png", "suzy", ' 50vw, 100vw', 'w-full object-center object-cover rounded-lg' %}

        </div>
        <div class="w-1/2 p-1 md:p-2">
          {% image "src/site/images/suzy/case-study/infographics/02.png", "suzy", ' 50vw, 100vw', 'w-full object-center object-cover rounded-lg' %}

        </div>
        <div class="w-1/2 p-1 md:p-2">
          {% image "src/site/images/suzy/case-study/infographics/03.png", "suzy", ' 50vw, 100vw', 'w-full object-center object-cover rounded-lg' %}

        </div>

        <div class="w-1/2 p-1 md:p-2">
          {% image "src/site/images/suzy/case-study/infographics/01.jpg", "suzy", ' 50vw, 100vw', 'w-full object-center object-fit rounded-lg' %}

        </div>
        <div class="w-1/2 p-1 md:p-2">
          {% image "src/site/images/suzy/case-study/infographics/05.png", "suzy", ' 50vw, 100vw', 'w-full  object-center object-cover rounded-lg' %}

        </div>
        <div class="w-1/2 p-1 md:p-2">
          {% image "src/site/images/suzy/case-study/infographics/06.png", "suzy", ' 50vw, 100vw', 'w-full object-center object-cover rounded-lg' %}

        </div>

        </div>
  </div>
</section>