<section class="text-gray-600 body-font bg-zinc-100">
 <div class=" px-6 md:px12 py-12 mx-auto">
    <div class="flex flex-col text-center w-full px-2 md:px-24 md:mt-20">
      <h1 class="mb-8 md:mb-0 sm:text-3xl text-2xl font-medium title-font text-gray-900">
          Infographics & Data Visualization        
      </h1>
    </div>
    <div class="py-2 px-4 md:py-12 md:px-12 grid grid-flow-row-dense grid-cols-6 grid-rows-auto rounded-lg gap-2 md:gap-8">
      {# row one #}
      <div class="col-span-4 md:col-span-2 rounded-lg">
              {% image "src/site/images/suzy/case-study/infographics/03a.png", "suzy", ' 50vw, 100vw', 'h-full object-center object-cover shadow-sm rounded-lg' %}
      </div>
        <div  class="col-span-6 md:col-span-4 rounded-lg">             
              {% image "src/site/images/suzy/case-study/infographics/02a.png", "suzy", ' 50vw, 100vw', 'h-full object-center object-cover shadow-sm rounded-lg' %}
      </div>

      {# row two #}
      <div class="col-span-2 md:col-span-2">
              {% image "src/site/images/suzy/case-study/infographics/01a.jpg", "suzy", ' 50vw, 100vw', 'w-full h-full object-center object-cover shadow-sm rounded-lg' %}
      </div>

      <div class="col-span-3 md:col-span-2">
              {% image "src/site/images/suzy/case-study/infographics/04.png", "suzy", ' 50vw, 100vw', 'w-full h-full object-center object-cover shadow-sm rounded-lg' %}
      </div>
       <div class="col-span-3 md:col-span-2">
              {% image "src/site/images/suzy/case-study/infographics/07b.png", "suzy", ' 50vw, 100vw', 'w-full h-full object-center object-cover shadow-sm rounded-lg' %}
      </div>


        <div class="col-span-6 md:col-span-4">
              {% image "src/site/images/suzy/case-study/infographics/06.png", "suzy", ' 50vw, 100vw', ' h-full object-center object-cover shadow-sm rounded-lg' %}
      </div>

      <div class="col-span-6 md:col-span-2">
          {% image "src/site/images/suzy/case-study/infographics/05a.png", "suzy", ' 50vw, 100vw', ' h-full object-center object-cover shadow-sm rounded-lg' %}
      </div>

    </div>
 </div>
</section>