<section class="text-gray-600 body-font pb-12">
  <div class=" px-5 py-24">
    <div class="flex flex-col text-center px-2 md:px-24 ">
      {# <h2 style="color: #4A09AF;" class="text-xs  tracking-widest font-bold title-font mb-1 uppercase">Designing for Print </h2> #}
      <h1 class="mb-2 mx-6 md:mx-12 sm:text-3xl text-2xl font-medium title-font text-gray-900">
          Designing For Print
        </h1>
      
      <p class="mb-6 md:mb-12 lg:w-2/3 mx-auto leading-relaxed text-base">
         Event Collateral, Sales & Marketing Assets, Large Scale Print Design      </p>

    </div>
    <div class="pt-2 px-2 md:px-24 grid grid-flow-row-dense grid-cols-6 grid-rows-auto rounded-lg gap-3 md:gap-8">
  <div class="col-span-6 md:col-span-3 rounded-lg">
    {% image "src/site/images/suzy/case-study/suzy-business-cards.jpg", "suzy", ' 50vw, 100vw', 'w-full h-full object-center object-cover rounded-lg' %}
  </div>
    <div  class="col-span-6 md:col-span-3 rounded-lg">             
        {% image "src/site/images/suzy/case-study/suzy-booth.jpg", "suzy", ' 50vw, 100vw', 'w-full h-full object-center object-cover rounded-lg' %}
  </div>


  <div class="col-span-3 md:col-span-2">
      {% image "src/site/images/suzy/case-study/quirks-print.png", "suzy", ' 50vw, 100vw', 'w-full h-full object-center object-cover rounded-lg' %}
  </div>
  <div class="col-span-6 md:col-span-4">
      {% image "src/site/images/suzy/case-study/disrupt-or-die.jpg", "suzy", ' 50vw, 100vw', 'w-full h-full object-center object-cover rounded-lg' %}
  </div>

  <div class="col-span-3 md:col-span-2">
      {% image "src/site/images/suzy/case-study/one-sheets/05.jpg", "suzy", ' 50vw, 100vw', 'w-full h-full object-center object-cover rounded-lg' %}
  </div>
  <div class="col-span-3 md:col-span-2">
      {% image "src/site/images/suzy/case-study/one-sheets/03.png", "suzy", ' 50vw, 100vw', 'w-full h-full object-center object-cover rounded-lg' %}
  </div>
  <div class="col-span-3 md:col-span-2">
      {% image "src/site/images/suzy/case-study/one-sheets/02.png", "suzy", ' 50vw, 100vw', 'w-full h-full object-center object-cover rounded-lg' %}
  </div>

 
  

    {# <div class="col-span-6 rounded-lg bg-stone-300">
        {% image "src/site/images/suzy/case-study/pattern.jpg", "suzy", '(min-width: 30em) 50vw, 100vw', 'w-full h-full object-center object-cover rounded-lg' %}
  </div> #}
</div>

  </div>
</section>