<section class="overflow-hidden text-gray-700 bg-zinc-100 pt-14 lg:pt-0 pb-16 lg:pb-24">
      <div class="flex flex-col text-center w-full ">
      <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 pt-0 lg:pt-12 pb-12 lg:pb-0 ">Social Media & Blog Design</h1>
    </div>
  <div class=" px-5 pb-2 pt-2 lg:pt-12 lg:px-24">
    <div class="flex flex-wrap -m-1 ">
      <div class="flex flex-wrap w-1/2 lg:w-1/3">
        <div class="w-full p-1 lg:p-2 ">
          {% image "src/site/images/suzy/case-study/social-media/01.png", "suzy", ' 50vw, 100vw', 'w-full h-full object-center object-cover rounded-lg' %}
        </div>
      </div>
      <div class="flex flex-wrap w-1/2 lg:w-1/3">
        <div class="w-full p-1 lg:p-2">
          {% image "src/site/images/suzy/case-study/social-media/03.png", "suzy", ' 50vw, 100vw', 'w-full h-full object-center object-cover rounded-lg' %}
        </div>
      </div>
      <div class="flex flex-wrap w-1/2 lg:w-1/3">
        <div class="w-full p-1 lg:p-2">
          {% image "src/site/images/suzy/case-study/social-media/06.png", "suzy", ' 50vw, 100vw', 'w-full h-full object-center object-cover rounded-lg' %}
        </div>
      </div>
      <div class="flex flex-wrap w-1/2 lg:w-1/3">
        <div class="w-full p-1 lg:p-2">
          {% image "src/site/images/suzy/case-study/social-media/04.jpg", "suzy", ' 50vw, 100vw', 'w-full h-full object-center object-cover rounded-lg' %}

        </div>
      </div>
      <div class="flex flex-wrap w-1/2 lg:w-1/3">
        <div class="w-full p-1 lg:p-2">
          {% image "src/site/images/suzy/case-study/social-media/05.png", "suzy", ' 50vw, 100vw', 'w-full h-full object-center object-cover rounded-lg' %}

        </div>
      </div>
      <div class="flex flex-wrap w-1/2 lg:w-1/3">
        <div class="w-full p-1 lg:p-2">
          {% image "src/site/images/suzy/case-study/social-media/02.png", "suzy", ' 50vw, 100vw', 'w-full h-full object-center object-cover rounded-lg' %}

        </div>
      </div>
    </div>
  </div>
</section>

