<div class="flex flex-wrap -mx-2 overflow-hidden">

  <div class="my-2 px-2 w-full overflow-hidden md:w-1/2 lg:w-1/2 xl:w-1/2">

 <div class="blockquote js-blockquote " style="opacity: 1; transform: translate3d(0px, 0px, 0px);">
                                <div class="container">
                                    <div class="blockquote__text">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                               <span class="small-title" style:"text-align: left;"> <strong> Marketing collateral & large-scale printing </strong> </span> 
                                            </font>
                                        </font>
                                    </div>
                                    <div class="blockquote__text">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit; padding-left: 10px;">
                                               {# <span class="small-title"> <strong> EVENTS: </strong> </span>  #}
                                            Creative Strategy & Art Direction                                            
                                            </font>
                                        </font>
                                    </div>

                                </div>
                    </div>

  </div>

  <div class="my-2 px-2 w-full overflow-hidden md:w-1/2 lg:w-1/2 xl:w-1/2">
          {% image "src/site/images/suzy/booth-circle03.jpg","suzy social", "(min-width: 30em) 50vw, 100vw", "img-fluid" %}

  </div>

  <div class="my-2 px-2 w-full overflow-hidden md:w-1/2 lg:w-1/2 xl:w-1/2">
          <img src="/images/suzy/quirks-print.png" data-src="/images/suzy/quirks-print.png" alt="" width="100%"  data-loaded="true">
  </div>

  <div class="my-2 px-2 w-full overflow-hidden md:w-1/2 lg:w-1/2 xl:w-1/2">
           <img src="/images/suzy/suzy-people.png" data-src="/images/suzy/suzy-people.png" alt="" class="img-fluid" data-loaded="true">
  </div>

</div>