<div class="project__blockquote" style="padding-bottom: 10%; padding-left: 10%; padding-right: 10%; background-color: #fff; opacity: 1; transform: translate3d(0px, 0px, 0px) ;">

    <div class="blockquote js-blockquote" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">
        <section class="text-gray-600 body-font text-left">
            <div class="container flex flex-wrap px-5 mx-auto items-center">
                <div class="md:w-1/2 md:pr-12 md:border-r md:border-b-0 mb-10 md:mb-0 pb-10 border-b border-gray-200">
                    <h1 class="text-3xl font-bold  title-font mb-2 text-gray-900">Suzy</h1>
                    <p class="leading-relaxed text-lg">
                        Suzy is an enterprise software startup leading the way in agile market research.
                    </p>
                    <a href="https://www.suzy.com/" style="color: #661FC1;" class="font-semibold inline-flex items-center mt-4">Visit Website
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
                <div class="flex flex-col md:w-1/2 md:pl-12">
                    <h2 style="color: #661FC1;" class="text-xl font-semibold text-left title-font mb-3">Marketing Design Lead, In-House</h2>
                    <h2 class="title-font font-semibold  text-gray-800 tracking-wider text-sm mb-3 uppercase">responsibilities</h2>
                    <nav class="flex flex-wrap list-none -mb-1">
                        <li class="lg:w-1/3 mb-1 w-1/2">
                            <a class="text-gray-900 font-semibold">Art Direction</a>
                        </li>
                        <li class="lg:w-1/3 mb-1 w-1/2">
                            <a class="text-gray-900 font-semibold">Creative Strategy</a>
                        </li>
                        <li class="lg:w-1/3 mb-1 w-1/2">
                            <a class="text-gray-900 font-semibold">Brand Management
                            </a>
                        </li>
                        <li class="lg:w-1/3 mb-1 w-1/2">
                            <a class="text-gray-900 font-semibold">Design Operations</a>
                        </li>
                        <li class="lg:w-1/3 mb-1 w-1/2">
                            <a class="text-gray-900 font-semibold">Web Design</a>
                        </li>
                        <li class="lg:w-1/3 mb-1 w-1/2">
                            <a class="text-gray-900 font-semibold">Content Production</a>
                        </li>
                    </nav>
                </div>
            </div>
        </section>

    </div>
</div>
