 <div class="bg-green-500 mx-auto px-4 my-4 " x-data="{ image: 'image1' }">
     
            <div class="bg-pink-500 flex items-center my-4 w-full">
                <div class="" x-show="image === 'image1'">
                 {% png "src/site/images/logo-branding/case-study/bar-cart-love/bcl01a.png", "suzy", ' 50vw, 100vw', 'w-full h-full object-cover rounded-lg' %}
                </div>
                 <div class="overflow-hidden max-w-full max-h-full" x-show="image === 'image2'">
                 {% png "src/site/images/logo-branding/case-study/bar-cart-love/bcl05a.png", "suzy", ' 50vw, 100vw', 'w-full h-full object-cover rounded-lg' %}
                </div>
                  <div x-show="image === 'image3'">
                 {% png "src/site/images/logo-branding/case-study/bar-cart-love/bcl02a.png", "suzy", ' 50vw, 100vw', 'w-full h-full object-cover rounded-lg' %}
                </div>
                  <div x-show="image === 'image4'">
                 {% png "src/site/images/logo-branding/case-study/bar-cart-love/bcl04a.png", "suzy", ' 50vw, 100vw', 'w-full h-full object-cover rounded-lg' %}
                </div>
            </div>
            <div class="flex items-center my-4 w-full">
                <a href="#" class="w-24 border border-transparent hover:border-blue-500" :class="{ 'border-blue-500' : image === 'image1'}" @click.prevent="image = 'image1'"\>
                 {% png "src/site/images/logo-branding/case-study/bar-cart-love/bcl01a.png", "suzy", ' 50vw, 100vw', 'w-full overflow-hidden object-center object-cover rounded-lg' %}
                </a>
                <a href="#" class="w-24 border border-transparent hover:border-blue-500 ml-2" :class="{ 'border-blue-500' : image === 'image2' }" @click.prevent="image = 'image2'">
                 {% png "src/site/images/logo-branding/case-study/bar-cart-love/bcl05a.png", "suzy", ' 50vw, 100vw', 'w-full overflow-hidden object-center object-cover rounded-lg' %}
                </a>
                <a href="#" class="w-24 border border-transparent hover:border-blue-500 ml-2" :class="{ 'border-blue-500' : image === 'image3' }" @click.prevent="image = 'image3'">
                 {% png "src/site/images/logo-branding/case-study/bar-cart-love/bcl02a.png", "suzy", ' 50vw, 100vw', 'w-full over-flow-hidden object-center object-cover rounded-lg' %}
                </a>
                 <a href="#" class="w-24 border border-transparent hover:border-blue-500 ml-2" :class="{ 'border-blue-500' : image === 'image3' }" @click.prevent="image = 'image4'">
                 {% png "src/site/images/logo-branding/case-study/bar-cart-love/bcl04a.png", "suzy", ' 50vw, 100vw', 'w-full overflow-hidden object-center object-cover rounded-lg' %}
                </a>
            </div>
</div>

