
  <div class="project__blockquote" style="padding-left: 10%; padding-right: 10%; background-color: #fff; opacity: 1; transform: translate3d(0px, 0px, 0px);">
                   
                    <div class="blockquote js-blockquote mb-0" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">
                        <div class="container">
                            <div class="blockquote__text">
                                <p>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                                   <span> <a href="https://www.suzy.com/" target="_blank" style="color: #661FC1; font-weight:700; "> Suzy</a> </span>
                                                is an enterprise software startup leading the way in agile market research.
                                           
                                        </font>
                                    </font>
                                </p>
                            </div>
                           
                        </div>
                    
                    </div>

   
                </div> 