 <div class="js-home-push-contact push-contact">
             {# <div class="push-contact"> #}
                   {# ÷  <div class="container"> #}
                   <div>
                                <p class="small-title js-push-contact-el" style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 50);">
                                    <font style="vertical-align: inherit;">
                                        <font style="font-family: futura-pt, sans-serif; inherit; font-weight: 600;">
                                            LET'S WORK TOGETHER.                           
                                        </font>
                                    </font>
                                </p>
                                </div>
                            <div class="blockquote__text js-anim-active " style="font-family: adobe-caslon-pro, serif; font-weight:700;"> 
                                {# <a style="margin-right:0.8em;"class="hero-underline02" href="#book-call" rel="modal:open"> #}
                                <a style="margin-right:0.8em;"class="hero-underline02" href="https://calendly.com/lerman-maggie/15min/">Book a Call</a>
                                <span>   |   </span>
                                {# <a style="margin-left:0.8em;" class="hero-underline02" href="#send-email" rel="modal:open"> #}
                                 <a style="margin-left:0.8em;"class="hero-underline02" href="mailto:maggie@magg1e.com">Send an Email</a>
                            </div>

                                    {# <div id="book-call" class="modal" style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;"> 
                                            Book a Call Calendly modal popup
                                        </font>
                                        <a href="#" rel="modal:close" class="js-to-fadein">Close</a>
                                         </div> 
                                    #}
                                    {# <div id="send-email" class="modal" style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;"> 
                                            Email form modal popup
                                        </font>
                                        <a href="#" rel="modal:close" class="js-to-fadein">Close</a>
                                        </div> 
                                    #}
                    {# </div> #}
         {# </div> #}
</div>