                {# <div class="project-banner project__blockquote" style="opacity: 1; transform: translate3d(0px, 0px, 0px);"> #}
             <div class="project-banner " style="">

                    <h1 class="js-anim-active is-active">
                        <font style="vertical-align: inherit;">
                                <font style="">
                                       <div class="headline" style="color:#F00001">Maggie Lerman</div>
                                </font>
                            </font>
                        </font>
                    </h1>
                    <div class="blockquote js-blockquote mb-0" style="opacity: 1; transform: translate3d(0px, 0px, 0px, 0px);">
                        <div class="container">
                            <div class="blockquote__text" style=" font-weight:300;">
                                <p>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                    {# I help organizations and high performing individuals <span class="hero-underline" <a href="#design" rel="modal:open">design</a></span>, <span class="hero-underline"><a href="#development" rel="modal:open">build</a></span>, and <span class="hero-underline"> <a href="#strat-ops" rel="modal:open">strategize</a></span> products. #}
                                    {# I <span class="hero-underline"> <a href="#design" rel="modal:open">design</a></span>, <span class="hero-underline"><a href="#development" rel="modal:open">build</a></span>, and <span class="hero-underline"> <a href="#strat-ops" rel="modal:open">strategize</a></span>. #}
                                    <span class="hero-underline"> <a href="#design" rel="modal:open">design</a></span>  <span class="color-red" > . </span> <span class="hero-underline"><a href="#development" rel="modal:open">web development</a></span>  <span class="color-red" > . </span> <span class="hero-underline"> <a href="#strat-ops" rel="modal:open">creative strategy</a></span>

                                            {# I work at the intersection of technology & design,
                                            bringing a multidisciplinary approach to every project. #}
                                        {# helping corporations and high achieving individuals  #}
                                        {# helping to build, scale, and strategize on a project, company, and team #}
                                        </font>
                                    </font>
                                </p>
                            </div>

                        </div>
                    </div>
                 <div class="modal ">

                            <div id="design" class="modal" style="vertical-align: middle;">
                                <div class="color-red" style="padding-bottom:4px; font-weight:300;">
                                    <strong>Visual Design & Art Direction </strong></div>
                                <div style="padding-bottom:4px; font-weight:300;">
                                    I've spent the last decade in the tech industry, primarily in the New York City startup scene. working in cross-functional
                                    technology and design roles on marketing and product teams at a numbered of well funded startups.
                                    I believe that great design can only exist when it works hand in head with the techbology its built on.
                                </div>
                        <div style="padding-bottom:4px; font-weight:300;">
                                {# Would you like to learn my design process?  <strong><span class="color-red"> Keep Reading. </span> </strong> #}
                                 </div>
                                <a href="#" rel="modal:close" class="js-to-fadein">Close</a>
                            </div>

                            <div id="development" class="modal" style="vertical-align: inherit;">
                                 <div class="color-red" style="padding-bottom:4px;">
                                <strong>Web Development</strong>
                                </div>         
                                <div style="padding-bottom:4px;">
                                    I specialize in the JAMstack and eCommerce development, specifically. I'm passionate about web performance and optimization, intelligent workflow automation, 
                                    and essentially anything that teaches me <strong> how to be smart about resources </strong> and the best ways to <strong> 
                                    do more with less </strong> on the web.
                                </div>
                                <a href="#" rel="modal:close" class="js-to-fadein">Close</a>
                            </div>

                    <div id="strat-ops" class="modal" style="vertical-align: inherit;">
                        <div class="color-red" style="padding-bottom:4px;">
                            <strong>Strategy & Operations </strong>
                        </div>
                        <div style="padding-bottom:4px;">
                                     My experience working across product, dev, and marketing teams,
                                        offers me unique insite into individual, team, and company-wide dynamics. 
                                        Moreover, my personal ventures in business & entreprenuership
                                        have proven my ability to understand what people want and how to take a product from idea-stage to market, 
                                        and I can do that in a way that makes sense from all angles. 
                        </div>
                        {# <div class="color-red" style="padding-bottom:4px; padding-top:8px; font-weight:300;">
                            <strong>Coaching </strong>
                        </div>
                        <div style="padding-bottom:4px; font-weight:300;">
                                     Although most of my work focuses on helping organizations achieve their goals, 
                                     I have recently started working with a small number of indivudals on a one-to-one basis in a coaching capacity. If you are interested in eCommerce & entreprenuership coaching, you can learn more about that here. 
                        </div> #}
                        <a href="#" rel="modal:close" class="js-to-fadein">Close</a>
                     </div>

                 </div>

                        
                    <div class="scrolldown"></div>

                </div>

            

