<div class="prestations js-prestations" data-module="prestations" style="background-color: #fff">
                <div class="container position-relative" style="background-color: #fff">
                    <ul class="prestations__list js-prestations-list">
                         <li class="prestations__item js-prestation-item js-collapse" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <a type="button" class="prestations__link  js-hover-link js-prestation-title js-collapse-button" data-image="branding">
                                <span>
                                    <font style="vertical-align: inherit;">
                                        <div class="color-hover " style="vertical-align: inherit;">Design & Development</div>
                                    </font>
                                </span>
                            </a>
                            <p class="prestations__detail js-collapse-content">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">                               
                                    I specialize in the JAMstack. I'm passionate about web performance and optimization, intelligent workflow automation, 
                                    and essentially anything that teaches me <strong> how to be smart about resources </strong> and the best ways to <strong> 
                                    do more with less </strong> on the web.
                                    </font>
                                    <br> <br>
                                    <font style="vertical-align: inherit;"> 
                                    I apply these same <strong> future-proofing methodologies </strong> to my work in design and art direction, 
                                    steering away from fads or overly complex design systems and opting instead for 
                                    timeless, modern, <strong> modular design </strong> that can be easily refreshed as needed, 
                                    but is built on a solid foundation and will never go out of style.
                                    </font>
                                </font>
                            </p>
                         </li>

                        <li class="prestations__item js-prestation-item js-collapse" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <a type="button" class="prestations__link  js-hover-link js-prestation-title js-collapse-button" data-image="logo">
                                <span>
                                    <font style="vertical-align: inherit;">
                                        <div class="color-hover " style="vertical-align: inherit;">Strategy & Operations</div>
                                    </font>
                                </span>
                            </a>
                            <p class="prestations__detail js-collapse-content">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        {# I'm not a specialist, for better or worse, I don't specialize in one single thing -- except maybe learning. #}
                                        {# You find a hundred designers and a hundred developers. What you won't easily find is an individual who's pretty great at design #}
                                        {# and dev and marketing and passionate about carrying a product from beginning to end. #}
                                        My experience working on product, dev, and marketing teams,
                                        offers me unique insite into individual, team, and company-wide dynamics. 
                                        Moreover, my personal ventures in business & entreprenuership and
                                        have proven my ability to understand what people want and how to take a product from idea-stage to market, 
                                        and I can do that in a way that makes sense from all angles. 
                                    </font>
                               </font>
                            </p>
                        </li>
                        <li class="prestations__item js-prestation-item js-collapse" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <a type="button" class="prestations__link js-hover-link js-prestation-title js-collapse-button" data-image="webdesign">
                                <span>
                                    <font style="vertical-align: inherit;">
                                        <div class="gradient-text" style="vertical-align: inherit;">Innovation</div>
                                    </font>
                                </span>
                            </a>
                            <p class="prestations__detail js-collapse-content">
                                <font style="vertical-align: inherit;">
                                    <font class="" style="vertical-align: inherit;">
                                        I help individuals and teams tackle problems and projects by learning to look at them from new points of view.
                                    Get in touch to learn more.
                                   </font>
                                </font>
                            </p>
                        </li>
                         <div class="scrolldown"></div>
                    </ul>
                </div>
               
</div>
     
