

<div class="prestations js-prestations" data-module="prestations" style="background-color: #fff">
                <div class="container position-relative" style="background-color: #fff">
                    <ul class="prestations__list js-prestations-list"
                        aria-label="Accordion Control Group Buttons">
                        <li class="prestations__item js-prestation-item js-collapse" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <button class="prestations__link  js-hover-link js-prestation-title js-collapse-button"
                                    aria-controls="content-1" aria-expanded="false" id="accordion-control-1">
                                <span>
                                    <font style="vertical-align: inherit;">
                                        <div class="design" style="vertical-align: inherit;">
                                        Design</div>
                                    </font>
                                </span>
                            </button>
                            <p  class="prestations__detail js-collapse-content"
                                aria-hidden="true" id="content-1">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">        
                                    I work at the intersection of techonology & design, offering a <strong>multidisciplinary</strong> approach to every project.                       
                                    I strive for cohesive, <strong>modular design systems </strong> and design & product teams that work in <strong> partnership </strong> with their tech counterparts.      
                                    </font>
                                </font>
                            </p>
                         </li>

                        <li class="prestations__item js-prestation-item js-collapse" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <button class="prestations__link  js-hover-link js-prestation-title js-collapse-button"
                                    aria-controls="content-2" aria-expanded="false" id="accordion-control-2">
                                <span>
                                    <font style="vertical-align: inherit;">
                                        <div class="development" style=" vertical-align: inherit;">
                                       Development
                                       </div>
                                    </font>
                                </span>
                            </button>
                            <p  class="prestations__detail js-collapse-content"
                                aria-hidden="true" id="content-2">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                    I specialize in headless eCommerce & the <strong>JAMstack</strong>. I've worked with a
                                    range of front end stacks and I adapt quickly to new technologies.
                                    
                                    I'm passionate about web performance and optimization, intelligent workflow automation, 
                                    and essentially anything that teaches me <strong> how to be smart about resources </strong> and the best ways to <strong> 
                                    do more with less </strong> on the web.
                               </font>
                            </p>  
                        </li>
                        <li class="prestations__item js-prestation-item js-collapse" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <button class="prestations__link js-hover-link js-prestation-title js-collapse-button"
                                    aria-controls="content-3" aria-expanded="false" id="accordion-control-3">
                                <span>
                                    <font style="vertical-align: inherit;">
                                        <div class="strategy" style="vertical-align: inherit;"> 
                                        Strategy
                                         </div>
                                    </font>
                                </span>
                            </button>
                            <p  class="prestations__detail js-collapse-content"
                                aria-hidden="true" id="content-3">
                                <font style="vertical-align: inherit;">
                                    <font class="" style="vertical-align: inherit;">
                                
                                        Simply put, I help organizations and high performing individuals <Strong>build better </strong>products.
                                        <br>
                                    </font>
                                   </font>
                                </font>
                            </p>
                        </li>
                         <div class="scrolldown"></div>
                    </ul>
                </div>
               
</div>
     
