                <div class="projects-grid js-projects-grid">
                    <div class="container projects-grid__container">

                        <div class="row projects-grid__row-1">
                            <div class="col-md-6 projects-grid__col">
                                <div class="projects-grid__project  project-1 ">
                                    <div class="projects-grid__wrapper">  
                                        <a href="/projects/UA" class="js-link projects-grid__link">
                                            <span class="projects-grid__image-wrapper">
                                                <span class="projects-grid__image-inner js-projects-grid-image" id="image-1" style="transform: matrix(1, 0, 0, 1, 0, -230);">
                                                    {% image "src/site/images/UA/undressd-apparel-wide.png", 'Undressd Apparel', "(min-width: 30em) 50vw", "projects-grid__image-inner lazy" %}     
                                                </span>
                                            </span>
                                            <h3 class="projects-grid__title">
                                             Undressd Apparel
                                            </h3>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 projects-grid__col">
                                <div class="projects-grid__project  project-2 ">
                                    <div class="projects-grid__wrapper">
                                        <a href="/projects/crowdtap" class="js-link projects-grid__link">
                                            <span class="projects-grid__image-wrapper">
                                                <span class="projects-grid__image-inner js-projects-grid-image" id="image-2" style="transform: matrix(1, 0, 0, 1, 0, -230);">
                                                    {% image "src/site/images/crowdtap/crowdtap-orange-bg.png", 'crowdtap', "(min-width: 30em)", "projects-grid__bg-image lazy" %}     
                                                </span>
                                            </span>
                                            <h3 class="projects-grid__title">
                                                      Crowdtap
                                            </h3>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row projects-grid__row-2">
                            <div class="col-md-6 projects-grid__col">
                                <div class="projects-grid__project  project-3 ">
                                    <div class="projects-grid__wrapper">
                                        <a href="" class="js-link projects-grid__link">
                                            <span class="projects-grid__image-wrapper">
                                                <span class="projects-grid__image-inner js-projects-grid-image" id="image-3" style="transform: matrix(1, 0, 0, 1, 0, -230);">
                                                    {% image "src/site/images/prefix/prefix-vertical.png", 'prefix', "(min-width: 30em) 50vw, 100vw", "projects-grid__bg-image lazy" %} 
                                                </span>
                                            </span>
                                            <h3 class="projects-grid__title">
                                              Prefix
                                            </h3>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 projects-grid__col">
                                <div class="projects-grid__project  project-4 ">
                                    <div class="projects-grid__wrapper">
                                        <a href="/projects/suzy" class="js-link projects-grid__link">
                                            <span class="projects-grid__image-wrapper">
                                                <span class="projects-grid__image-inner js-projects-grid-image" id="image-4" style="transform: matrix(1, 0, 0, 1, 0, -230);">
                                                    {% image "src/site/images/suzy/suzy-perspective-narrow.png", 'suzy', "(min-width: 30em) 50vw, 100vw", "projects-grid__bg-image lazy" %}     
                                                </span>
                                            </span>
                                            <h3 class="projects-grid__title">
                                              Suzy
                                            </h3>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row projects-grid__row-3">
                            <div class="col-md-6 projects-grid__col">
                                <div class="projects-grid__project  project-5 ">
                                    <div class="projects-grid__wrapper">
                                        <a href="" class="js-link projects-grid__link">
                                            <span class="projects-grid__image-wrapper">
                                                <span class="projects-grid__image-inner js-projects-grid-image" id="image-5">
                                                    {% image "src/site/images/rocketrip/rocketrip_new.png", "rocktrip", "(min-width: 30em) 50vw, 100vw", "projects-grid__bg-image lazy" %} 
                                                </span>
                                            </span>
                                            <h3 class="projects-grid__title">
                                            Rocketrip
                                            </h3>
                                         
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 projects-grid__col ">
                                <div class="projects-grid__project  project-6 ">
                                    <div class="projects-grid__wrapper">
                                        <a href="" class="js-link projects-grid__link">
                                            <span class="projects-grid__image-wrapper">
                                                <span class="projects-grid__image-inner js-projects-grid-image" id="image-6" style="transform: matrix(1, 0, 0, 1, 0, -230);">
                                                    {% image "src/site/images/misc/icecream_poster.png", 'ice cream poster', "(min-width: 30em) 50vw", "projects-grid__bg-image lazy" %}     
                                                </span>
                                            </span>
                                            <h3 class="projects-grid__title">
                                                Logo & Illustration
                                            </h3>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                  
                </div>