---
layout: layouts/layout.njk
title: contact
permalink: "{{page.fileSlug}}/"
--- 
<div class="main-wrapper " data-anim="container" style="">
    <main class="js-scroll-container" data-scrollbar="true" tabindex="-1" style="overflow: hidden; outline: none;">
        <div class="scroll-content">
            <div class="push-webproject js-push-webproject" data-module="push-webproject">
                <div class=" push-webproject__bckg js-push-webproject-bckg" style="width: 100%;">
                    <span class="push-webproject__image lazy" data-background-image="/images/backgrounds/bg05.jpg"></span>
                </div>

                <div class="push-webproject__content is-second">
                    <p class="blockquote__text color-white">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">  Let's Chat.
                                                                                    </font>
                        </font>
                    </p>
                    <div class="push-webproject__links">
                        <a href="https://calendly.com/lerman-maggie/15min/" target="_blank" class="button color-white">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Book a Call</font>
                            </font>
                        </a>
                        <a href="mailto:maggie@magg1e.com" class="button color-white js-link">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Send an Email</font>
                            </font>
                        </a>
                    </div>
                 
                </div>
            </div>
         </div>
        <div class="scrollbar-track scrollbar-track-x" style="display: none;">
            <div class="scrollbar-thumb scrollbar-thumb-x" style="width: 1392px; transform: translate3d(0px, 0px, 0px);"></div>
        </div>
        <div class="scrollbar-track scrollbar-track-y" style="display: block;">
            <div class="scrollbar-thumb scrollbar-thumb-y" style="height: 216.712px; transform: translate3d(0px, 0px, 0px);"></div>
        </div>
    </main>
    <div class="main-overlay js-main-overlay"></div>
</div>