---
layout: layouts/layout.njk
title: home | Magg1e.com
permalink : "{{page.fileSlug}}/"
---
  

        {# {% include "components/sections/nav-tmp.njk"%} #}

<div class="max-w-screen overflow-clip ">
         {% include "components/sections/intro.njk"%}

        <div class="showcase" id="portfolio">
                {% include "components/portfolio/suzy.njk"%}
                {% include "components/portfolio/rock-paper-scissors.njk"%}
                {% include "components/portfolio/crowdtap.njk"%}
                {% include "components/portfolio/rocketrip.njk"%}
                {% include "components/portfolio/logo-branding.njk"%}

                {% include "components/sections/about.njk"%}
        </div>
</div>