---
layout: layouts/layout.njk
title: home | Magg1e.com
permalink : "{{page.fileSlug}}/"
---
  
<div class=" max-w-screen overflow-clip  ">
        <div class="fixed top-0 left-0 right-0 start-0 z-50 flex justify-between w-full h-4 bg-white"></div>
        <div class="fixed bottom-0 left-0 right-0 start-0 z-50 flex justify-between w-full h-4 bg-white"></div>


        <div class="showcase" id="portfolio">
                {% include "components/sections/intro.njk"%}
                {% include "components/portfolio/citi.njk"%}
                {% include "components/portfolio/citi-alt.njk"%}
                {% include "components/portfolio/suzy.njk"%}
                {% include "components/portfolio/rock-paper-scissors.njk"%}
                {% include "components/portfolio/crowdtap.njk"%}
                {% include "components/portfolio/rocketrip.njk"%}
                {% include "components/portfolio/logo-branding.njk"%}
                {% include "components/sections/about.njk"%}
        </div>

</div>