---
layout: layouts/layout.njk
title: home | Magg1e.com
permalink : "{{page.fileSlug}}/"
---

{% include "components/031121_portfolio/nav-gent.njk" %}
{% include "components/031121_portfolio/projects.njk" %}
{% include "components/031121_portfolio/about.njk" %}

{# {% include "./_includes/components/031121_portfolio/nav-gent.njk"%} #}