---
layout: layouts/layout.njk
title: home | Magg1e.com
permalink : "{{page.fileSlug}}/"
---

{% include "components/sections/nav-gent.njk" %}
{% include "components/sections/projects.njk" %}
{% include "components/sections/about.njk" %}