---
layout: layouts/layout.njk
title: process
permalink: "{{page.fileSlug}}/"
--- 
<div class="main-wrapper home js-home" data-anim="container" style="">
    <main class="js-scroll-container" data-scrollbar="true" tabindex="-1" style="overflow: hidden; outline: none;">
        <div class="scroll-content" style="transform: translate3d(0px, 0px, 0px);">
            <div class="home" data-module="home">
                <div class="mainscreen-trigger"></div>
             {% include "components/index/intro.njk"%}
   
                  With a few exceptiong (mostly in concering eCommerce builds) via static site generator (right now I love eleventy), 
                                   and typically prefer tailwindCSS) but I can work in any standard front end stack, as long as I'm given time to adapt.
                                    can be easily refreshed as needed, 
                <div class="push-webproject js-push-webproject" data-module="push-webproject">
                    <div class=" push-webproject__bckg js-push-webproject-bckg" style="width: 100%;">
                        <span> {% image "src/site/images/backgrounds/bg05.jpg","background-black", "(min-width: 30em) 50vw, 100vw", "push-webproject__image lazy" %}</span>
                        <span class="push-webproject__image lazy" data-background-image="/images/backgrounds/bg05.jpg"></span>
                        {# <span class="push-webproject__image__left lazy" data-background-image="/images/backgrounds/bg05.jpg"></span> #}
                        {# <span class="push-webproject__image__right lazy" data-background-image="/images/backgrounds/bg04.jpg"></span> #}
                    </div>

                <div class="push-webproject__content">
                    <div class="container">
                        <p class="blockquote__text color-white"> 
                            <font style="vertical-align: inherit;">
                      
                        About
                               
                            </font>
                        </p>

   
                    </div>
                </div>

                <div class="push-webproject__content is-second">
                    {# {%include "components/contact-card.njk"%} #}
                    <div class=" color-white">
                        <div style="vertical-align: inherit;">
                           <p class="blockquote__text color-white">
                            Design & Development
                            </p>
 <p class="about_detail color-white ">
                                <font style="vertical-align: inherit;">
                                    <font style="width: 80%; vertical-align: inherit;">                               
                                    I specialize in the JAMstack. I'm passionate about web performance and optimization, intelligent workflow automation, 
                                    and essentially anything that teaches me <strong> how to be smart about resources </strong> and the best ways to <strong> 
                                    do more with less </strong> on the web.
                                    </font>
                                    <br> <br>
                                    <font style="vertical-align: inherit;"> 
                                    I apply these same <strong> future-proofing methodologies </strong> to my work in design and art direction, 
                                    steering away from fads or overly complex design systems and opting instead for 
                                    timeless, modern, <strong> modular design </strong> that can be easily refreshed as needed, 
                                    but is built on a solid foundation and will never go out of style.
                                    </font>
                                </font>
                     {# </p>                                #}
                        </div>
                    </div>
                    <div class="push-webproject__links">
                        {# <a href="https://www.everess.fr/" target="_blank" class="button color-white">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Discover Everess</font>
                            </font>
                        </a> #}
                        <a href="/contact" class="button color-white js-link">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Contact me</font>
                            </font>
                        </a>
                    </div>
                </div>
            </div>
           
            </div>
            
            </div>

        {%include "components/footer.njk"%}

        </div>
        <div class="scrollbar-track scrollbar-track-x" style="display: none;">
            <div class="scrollbar-thumb scrollbar-thumb-x" style="width: 1431px; transform: translate3d(0px, 0px, 0px);"></div>
        </div>
        <div class="scrollbar-track scrollbar-track-y" style="display: block;">
            <div class="scrollbar-thumb scrollbar-thumb-y" style="height: 72.5499px; transform: translate3d(0px, 0px, 0px);"></div>
        </div>
    </main>

    <div class="main-overlay js-main-overlay"></div>
</div>