---
layout: layouts/layout.njk
permalink: "{{page.fileSlug}}/"
--- 

<div class="bg-stone-200 print:bg-stone-200 hyphens-manual items-center h-full py-10">
  <div class="pt-8 p-8 mx-auto page print:max-w-letter md:max-w-digitalletter md:h-letter xsm:p-8 sm:p-9 md:p-16 print:bg-stone-200 bg-stone-200 md:bg-stone-100 ">
    <div class="mb-8 grid grid-cols-1 ">
  {% for section in resume.sections%}
    {%include "components/sections/experience02.njk"%}
  {%endfor%}
</div>
</div>
</div>
