---
layout: layouts/layout.njk
permalink : "{{page.fileSlug}}/"
---

<div class="bg-stone-200 print:bg-stone-200 hyphens-manual items-center h-full py-10">
  <div class="pt-8 p-8 mx-auto page print:max-w-letter md:max-w-digitalletter md:h-letter xsm:p-8 sm:p-9 md:p-16 print:bg-stone-200 bg-stone-200 md:bg-stone-100 ">
    <div class="mb-8 grid grid-cols-4 ">
          <div class="col-span-4 print:col-span-1 md:col-span-1 mb-4.5">
                <img src={{author.avatar}} alt="Profile Picture" class="rounded-full w-20 md:w-48 mb-2"/>
          </div>
          <div class="col-span-4 print:col-span-3 md:col-span-3 mb-4.5">

            <div class="pt-2.5 text-4xl font-semibold leading-relaxed tracking-widest border-stone-400 border-t-2">
                Maggie Lerman
            </div>
            <div class="leading-relaxed flex flex-row align-bottom space-x-3 md:space-x-4">

                      <a class="align-bottom" href="https://www.linkedin.com/in/maggielerman/" target="_blank"> 
                          <i class="fa-brands fa-linkedin-in"></i>
                      </a>
                      <a class="align-bottom" href="https://behance.net/maggielerman" target="_blank">
                          <i class="fa-brands fa-behance"></i>
                      </a>
                      <a class="align-bottom" href="https://dribbble.com/maggielerman" target="_blank">
                          <i class="fa-brands fa-dribbble"></i>
                      </a>
                      <a class="align-bottom" href="https://github.com/maggielerman" target="_blank">
                          <i class="fa-brands fa-github"></i>
                      </a>                              
                      <a class="align-bottom" href="tel:+16464674522" target="_blank">
                          <i class="fa-solid fa-phone"></i>                     
                      </a>         
                    <a class="align-bottom" href="mailto:lerman@magg1e.com" target="_blank">
                          <i class="fa-solid fa-at"></i>
                      </a>
                  </div>
                    <h3 class="text-lg font-semibold text-gray-700 leading-snugish">
                      {{author.occupation}}
                    </h3>
              
                    <ul class="">
                      {%for item in author.summary %}
                        <li class="mt-2.1 text-md text-gray-700 leading-normal">
                          <span class="absolute -ml-3 sm:-ml-3.2 select-none transform -translate-y-px">›</span>
                          {{item}}
                        </li>
                      {%endfor%}
                    </ul>
            </div>

          </div>
          
      {% for section in resume.sections%}
          <section class="mt-8 first:mt-0">

            <!-- To keep in the same column -->
            <div class="break-inside-avoid">
              <h2 class="uppercase mb-4 font-bold tracking-widest text-sm2 text-gray-500 print:font-normal">
                {{section.header}}
              </h2>
            </div>
            {%for item in section.content%}
              <section class="mb-4.5 break-inside-avoid">
                <header>
                  <h3 class="text-lg font-semibold text-gray-700 leading-snugish">
                    {{item.one}}
                  </h3>
                  <p class="leading-normal text-md text-gray-600">
                    {{item.five}} | {{item.two}} {%if item.four%}, {{item.four}} {%endif%}
                  </p>
                </header>
                {%if item.six%}
                <ul class="">
                  {%for six in item.six%}
                    <li class="mt-2.1 text-md text-gray-700 leading-normal">
                      <span class="absolute -ml-3 sm:-ml-3.2 select-none transform -translate-y-px">›</span>
                      {{six}}
                    </li>
                  {%endfor%}
                </ul>
                {%endif%}
              </section>
            {%endfor%}

          </section>
      {%endfor%}
          {# <section class="mt-8 first:mt-0">

            <!-- To keep in the same column -->
            <div class="break-inside-avoid">

              <h2 class="mb-4 font-bold tracking-widest text-sm2 text-gray-500 print:font-normal">
                EDUCATION
              </h2>
            </div>
              {%for school in author.education%}
                <section class="mb-4.5 break-inside-avoid">
                  <header>
                    <h3 class="text-lg font-semibold text-gray-700 leading-snugish">
                      {{school.name}}
                    </h3>
                    <p class="leading-normal text-md text-gray-600">
                      {{school.year}} | {{school.degree}}
                    </p>
                  </header>
                    <p class="mt-2.1 text-md text-gray-700 leading-normal">
                      {{school.details}}
                    </p>
                </section>
              {%endfor%}
          </section>

          <section class="mt-8 first:mt-0">
            <!-- To keep in the same column -->
            <div class="break-inside-avoid">
              <h2 class="mb-4 font-bold tracking-widest text-sm2 text-gray-500 print:font-normal">
                PROJECTS
              </h2>
            </div>
            <section class="mb-4.5 break-inside-avoid">
                <header>
                  <h3 class="text-lg font-semibold text-gray-700 leading-snugish">
                    <a href="https://github.com/WebPraktikos/universal-resume" class="group">
                      Universal Resume
                      <span class="inline-block text-gray-500 print:text-black font-normal group-hover:text-gray-700 transition duration-100 ease-in">↗</span>
                    </a>
                  </h3>
                  <p class="leading-normal text-md text-gray-600">
                    Since 2019 | HTML CSS
                  </p>
                </header>
                <p class="mt-2.1 text-md text-gray-700 leading-normal">
                  Good design is as little design as possible. Less, but better — because it concentrates on the essential
                  aspects, and the pro&shy;ducts are not burdened with non-essentials.
                </p>
            </section>
          </section>
          <section class="mt-8 first:mt-0">

            <!-- To keep in the same column -->
            <div class="">

              <h2 class="mb-4 font-bold tracking-widest text-sm2 text-gray-500 print:font-normal">
                SKILLS
              </h2>

              <section class="mb-4.5 break-inside-avoid">
                <header>
                  <h3 class="text-lg font-semibold text-gray-700 leading-snugish">
                    JavaScript
                  </h3>
                  <p class="leading-normal text-md text-gray-600">
                    Middle Level
                  </p>
                </header>
                <p class="mt-2.1 text-md text-gray-700 leading-normal">
                  Good parts: pure function, higher-order functions, factory functions, composition. Bad parts:
                  inheritance, this, new.
                </p>
                <div class="my-3.2 last:pb-1.5">
                  <ul class="flex flex-wrap text-md leading-relaxed -mr-1.6 -mb-1.6">
                    <li
                      class="px-2.5 mr-1.6 mb-1.6 text-base text-stone-900 print:bg-white print:border-inset bg-stone-400">
                      ES6
                    </li>
                    <li
                      class="px-2.5 mr-1.6 mb-1.6 text-base text-stone-100 print:bg-white print:border-inset bg-stone-500">
                      Vue
                    </li>
                    <li
                      class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-700 print:bg-white print:border-inset bg-gray-200">
                      Functional Programming
                    </li>
                    <li
                      class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-700 print:bg-white print:border-inset bg-gray-200">
                      Node
                    </li>
                  </ul>
                </div>
              </section>

            </div>

            <section class="mb-4.5 break-inside-avoid">
              <header>
                <h3 class="text-lg font-semibold text-gray-700 leading-snugish">
                  Other
                </h3>
              </header>
              <div class="my-3.2 last:pb-1.5">
                <ul class="flex flex-wrap text-md leading-relaxed -mr-1.6 -mb-1.6">
                  <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-700 print:bg-white print:border-inset bg-gray-200">
                    CSS
                  </li>
                  <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-700 print:bg-white print:border-inset bg-gray-200">
                    Rust
                  </li>
                  <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-700 print:bg-white print:border-inset bg-gray-200">
                    Git
                  </li>
                  <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-700 print:bg-white print:border-inset bg-gray-200">
                    Go
                  </li>
                  <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-700 print:bg-white print:border-inset bg-gray-200">
                    Linux Server
                  </li>
                  <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-700 print:bg-white print:border-inset bg-gray-200">
                    UI Design
                  </li>
                  <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-700 print:bg-white print:border-inset bg-gray-200">
                    Photoshop
                  </li>
                  <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-700 print:bg-white print:border-inset bg-gray-200">
                    Illustrator
                  </li>
                  <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-700 print:bg-white print:border-inset bg-gray-200">
                    Figma
                  </li>
                  <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-700 print:bg-white print:border-inset bg-gray-200">
                    Typography
                  </li>
                </ul>
              </div>
            </section> #}

          </section>

    

        {# </div> #}
        <!-- end Column -->
    </div>
  </div>
    <!-- end Page -->
</div>


