---
layout: layouts/layout.njk
permalink: "{{page.fileSlug}}/"
--- 
<div class="bg-stone-200">
<div class="bg-white sm:bg-stone-200 px-8 py-8 sm:py-14 mx-auto hyphens-manual items-center h-full max-w-6xl">
  {# <div class="-mt-10 sm:mt-0 sm:pt-8 p-8 mx-auto page print:max-w-letter md:max-w-digitalletter md:h-letter xsm:p-8 sm:p-9 md:p-16 print:bg-stone-200 bg-stone-200 md:bg-stone-100 "> #}
    <div class="bg-white border-black border-t-8 mb-8 grid grid-cols-4 space-y-6">
    <div class="col-start-1 col-end-5">
        {%include "components/sections/resume-summary.njk"%}
        {%include "components/sections/experience.njk"%}
        {%include "components/sections/education.njk"%}
    </div>
  {# </div> #}
</div>
</div>
