---
layout: "layouts/layout.njk"
title: Suzy
permalink : "{{page.fileSlug}}/"
---

  
<div id="suzy_case_study" class="bg-zinc-200">
   
{%include "components/portfolio/case-studies/suzy/00-cover01.njk"%}
{%include "components/portfolio/case-studies/suzy/01-intro.njk"%}
{%include "components/portfolio/case-studies/suzy/02-gallery.njk"%}
{%include "components/portfolio/case-studies/suzy/03-video.njk"%}
{%include "components/portfolio/case-studies/suzy/04-last.njk"%}


{# {%include "components/portfolio/case-studies/suzy/three-columns.njk"%} #}

</div>