---
layout: "layouts/layout.njk"
title: Suzy
permalink : "{{page.fileSlug}}/"
---
<div id="suzy_case_study">
   
{%include "components/portfolio/case-studies/suzy/00-cover.njk"%}
<div class="bg-stone-100">
  {%include "components/portfolio/case-studies/suzy/01-intro.njk"%}
</div>
{%include "components/portfolio/case-studies/suzy/0x-video.njk"%}

{# {%include "components/portfolio/case-studies/suzy/three-columns.njk"%} #}
{%include "components/portfolio/case-studies/suzy/twgrid01.njk"%}

  <div class="flex md:mt-4 mt-6" style="color: #4A09AF;">
              <div class="mb-6" style="color: #4A09AF;">
                  suzy.com
                  <i class="fa-solid fa-arrow-up-right-from-square"></i>
              </div>
              <a href="https://suzy.com" target="_blank" class="hover:opacity-75 inline-flex items-center">View Website
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
  </div>
</div>