---
layout: "layouts/layout.njk"
title: Suzy
---

  <li>{{ title }}</li>

<div class="bg-stone-200 ">
{%include "components/tailwind/banner01.njk"%}
{# {%include "components/tailwind/descriptive-list.njk"%} #}
{%include "components/tailwind/case-study-intro.njk"%}
{%include "components/tailwind/three-columns.njk"%}
</div>
{# 
{% include "components/portfolio/case-studies/suzy/about.njk"%}
{% include "components/portfolio/case-studies/suzy/section02.njk"%}
{% include "components/portfolio/case-studies/suzy/twgrid01.njk"%}
<img class="w-full" lazy" href="/images/suzy/suzy-project-cover.jpg" /> #}
                  

{#                                  
                                <img src="/images/suzy/suzy02.png" data-src="/images/suzy/suzy02-alt-bg.png" alt="" width="100%";  data-loaded="true">
                            </div>
                            <div class="flex-item-2">
                                <img src="/images/suzy/concept-testing02.png" data-src="/images/suzy/concept-testing02.png" alt="" width="100%"  data-loaded="true">
                            </div>
                             <div class="flex-item-3">
                                <img src="/images/suzy/quirks-print.png" data-src="/images/suzy/quirks-print.png" alt="" width="100%"  data-loaded="true">
                            </div>
                            
                        </div>                        
                    </div>
                    
                        <div class="flex-container" style=" margin-top: -10px; margin-bottom: -10px;">
                            
                            <div class="flex-item-left" style="background-color: #f1f1f1; opacity: 1;">   
                                 <p class="project__category js-anim-active is-active;" style="background-color: #f1f1f1; opacity: 1;">
                                    <font style="vertical-align: inherit;"> <strong>VIDEO EDITING</strong> </font>
                                </p>   
                            </div>
                            <div class="flex-item-right">
                                <img src="/images/suzy/video-mockup01.png" data-src="/images/suzy/video-mockup03.png" alt="" width="100%"  data-loaded="true">
                            </div>
                        </div>

                        <div class="flex-container">
                            
                            <div class="flex-item-left">   
                                <img src="/images/suzy/video-mockup02.png" data-src="/images/suzy/video-mockup02.png" alt="" width="100%"  data-loaded="true">
                            </div>
                            <div class="flex-item-right">
                                <img src="/images/suzy/video-mockup03.png" data-src="/images/suzy/video-mockup03.png" alt="" width="100%"  data-loaded="true">
                            </div>
                            
                        </div>
                          #}