---
layout: "layouts/layout.njk"
title: test
---

  {# <li>{{ title }}</li> #}

<div class="bg-stone-200 ">
  {% image "src/site/images/test/1.png", "Suzy", '(min-width: 30em) 50vw, 100vw', 'w-full' %}
  {% image "src/site/images/test/2.png", "Suzy", '(min-width: 30em) 50vw, 100vw', 'w-full' %}
  {% image "src/site/images/test/3.png", "Suzy", '(min-width: 30em) 50vw, 100vw', 'w-full' %}
  {% image "src/site/images/test/4.png", "Suzy", '(min-width: 30em) 50vw, 100vw', 'w-full' %}
  {% image "src/site/images/test/5.png", "Suzy", '(min-width: 30em) 50vw, 100vw', 'w-full' %}
  {% image "src/site/images/test/6.png", "Suzy", '(min-width: 30em) 50vw, 100vw', 'w-full' %}

{# {%include "components/tailwind/banner01.njk"%} #}
{# {%include "components/tailwind/descriptive-list.njk"%} #}
{# {%include "components/tailwind/case-study-intro.njk"%}
{%include "components/tailwind/three-columns.njk"%} #}
</div>
