            <div id="about" class="bg-stone-200 text-black min-h-screen">
            
                <div id="about-intro" class="containerCrop">
                
                        <picture class="w-full">
                            <img class="invisible md:visible lazyloaded bg-cover bg-no-repeat rounded-full h-48 w-48 md:ml-16 md:mt-40 lg:ml-44 lg:mt-44 xl:mt-44 xl:ml-40" 
                            data-src="/images/maggie-lerman-headshot.png" alt="Maggie Lerman"  src="/images/maggie-lerman-headshot.png">
                        </picture>
                </div>
                <article>
                    <div class="article-section">
                        <h2 class="font-black text-3xl">About</h2>
                        <div>
                            <p class="-mt-4 mb-6 md:mt-24 font-normal tracking-widest leading-loose">
                                I work at the intersection of techonology & design, 
                                offering a multidisciplinary approach to every project. 
                                I strive for cohesive, modular design systems and design
                                & product teams that work in partnership with their tech counterparts.
                            </p>
                            <span style="font-size: 1.5em; color: black;">
                                <i class="fa-brands fa-linkedin-in"></i>
                            </span>
                            <span style="font-size: 1.5em; margin-left: 1.5rem; color: black;">
                                <i class="fa-brands fa-behance"></i>
                            </span>
                            <span style="font-size: 1.5em; margin-left: 1.5rem; color: black;">
                                <i class="fa-brands fa-dribbble"></i>
                            </span>
                            <span style="font-size: 1.5em; margin-left: 1.5rem; color: black;">
                                <i class="fa-brands fa-github"></i>
                            </span>      
                            <div>                
                                <a href="https://calendly.com/lerman-maggie/15min/" class="button" target="_blank">
                                    <p class="font-semibold text-2xl py-6"> Book a Call ↗</p>
                                </a>
                            </div>
                        {# <h2 class="font-lighZt text-3xl py-6"> Let's work together.</h2> #}
                        {# <div class="font-light text-3xl py-6">
                            <a href="http://rocketrip.com/" class="button" target="_blank"> Book a Call ↗</a>
                        </div> #}
                    </div>
                    {# <div class="about-extend">
                        <div class="table-container">
                            <table>
                                <thead>
                                    <tr class="small">
                                        <th class="gap-left">&nbsp;</th>
                                        <th>achievement</th>
                                        <th colspan="2">project</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="gap-left" rowspan="4">Awwwards</td>
                                        <td class="table-item">
                                            <p>Honors
                                                <a href="https://www.awwwards.com/sites/huawei-p40-pro" class="muted">
                                                    ↗
                                                </a>
                                            </p>
                                        </td>
                                        <td class="table-project">
                                            <p>Huawei P40 Series</p>
                                        </td>
                                        <td class="gap-right small">2020</td>
                                    </tr>
                                    <tr>
                                        <td class="table-item">
                                            <p>Website of the day
                                                <a href="https://www.awwwards.com/sites/manrope-font" class="muted">
                                                    ↗
                                                </a>
                                            </p>
                                            <p>Developer Award
                                                <a href="https://www.awwwards.com/sites/manrope-font" class="muted">
                                                    ↗
                                                </a>
                                            </p>
                                            <p>Mobile Excellence
                                                <a href="https://www.awwwards.com/sites/manrope-font" class="muted">
                                                    ↗
                                                </a>
                                            </p>
                                            <p>Honors
                                                <a href="https://www.awwwards.com/sites/manrope-font" class="muted">
                                                    ↗
                                                </a>
                                            </p>
                                        </td>
                                        <td class="table-project">
                                            <p>Manrope Font website</p>
                                        </td>
                                        <td class="gap-right small">2019</td>
                                    </tr>
                                    <tr>
                                        <td class="table-item">
                                            <p>Mobile Excellence
                                                <a href="https://www.awwwards.com/sites/michael-sharanda" class="muted">
                                                    ↗
                                                </a>
                                            </p>
                                            <p>Honors
                                                <a href="https://www.awwwards.com/sites/michael-sharanda" class="muted">
                                                    ↗
                                                </a>
                                            </p>
                                        </td>
                                        <td class="table-project">
                                            <p>gent.media website</p>
                                        </td>
                                        <td class="gap-right small">2019</td>
                                    </tr>
                                    <tr class="table-last">
                                        <td class="table-item">
                                            <p>Honors
                                                <a href="https://www.awwwards.com/sites/crazybaby-audio-electronics-1" class="muted">
                                                    ↗
                                                </a>
                                            </p>
                                        </td>
                                        <td class="table-project">
                                            <p>crazybaby.com website</p>
                                        </td>
                                        <td class="gap-right small">2019</td>
                                    </tr>
                                    <tr class="table-last">
                                        <td class="gap-left">Computer Arts magazine</td>
                                        <td class="table-item" colspan="2">
                                            <p>Creativity is a skill
                                                <a href="https://www.pressreader.com/australia/computer-arts/20190816/" class="muted">
                                                    ↗
                                                </a>
                                            </p>
                                        </td>
                                        <td class="gap-right small">2019</td>
                                    </tr>
                                    <tr class="table-last">
                                        <td class="gap-left">Creative Bloq</td>
                                        <td class="table-item" colspan="2">
                                            <p>A better alternative to CSS breakpoints
                                                <a href="https://www.creativebloq.com/how-to/build-adaptive-layouts-without-media-queries" class="muted">
                                                    ↗
                                                </a>
                                            </p>
                                        </td>
                                        <td class="gap-right small">2019</td>
                                    </tr>
                                    <tr class="table-last">
                                        <td class="gap-left">Behance</td>
                                        <td class="table-item">
                                            <p>Featured in the Graphic Design gallery with 10000+ appreciations
                                                <a href="https://www.behance.net/gallery/67424063/Manrope-Modern-Geometric-Sans-Serif-font-family" class="muted">
                                                    ↗
                                                </a>
                                            </p>
                                        </td>
                                        <td class="table-project">
                                            <p>Manrope Font</p>
                                        </td>
                                        <td class="gap-right small">2019</td>
                                    </tr>
                                    <tr class="table-last">
                                        <td class="gap-left">Google</td>
                                        <td class="table-item">
                                            <p>Masters of Mobile: Greater China Report
                                                <a href="https://www.thinkwithgoogle.com/intl/en-apac/trends-and-insights/masters-mobile-greater-china-report/" class="muted">
                                                    ↗
                                                </a>
                                            </p>
                                        </td>
                                        <td class="table-project">
                                            <p>Huawei</p>
                                        </td>
                                        <td class="gap-right small">2018</td>
                                    </tr>
                                    <tr class="table-last">
                                        <td class="gap-left">Dmajor</td>
                                        <td class="table-item" colspan="2">
                                            <p>Contributed on projects for Android, Samsung, YouTube</p>
                                        </td>
                                        <td class="gap-right small">2015</td>
                                    </tr>
                                    <tr class="table-last">
                                        <td class="gap-left">OnePlus</td>
                                        <td class="table-item" colspan="2">
                                            <p>Logo and visual identity</p>
                                        </td>
                                        <td class="gap-right small">2014</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div> #}
                    {# <div class="article-section">
                    {%include "./resume.njk"%}
                    </div> #}
                    {# <div class="article-section">
                        <h2 class="font-extrabold text-xl">Design</h2>
                        <div>
                            <p>Do you remember how magical it was the first time you combined blue and yellow paint?</p>
                            <p>The control over colors and visual perceptions…</p>
                          
                        </div>
                    </div>
                    <div class="article-section">
                        <h2 class="font-extrabold text-xl">Development</h2>
                        <div>
                            <p>When I started my first job I desperately wanted to succeed in my career and life… I often compromised my work and did “whatever it takes” just to get where I wanted.</p>
                        </div>
                    </div>
                    <div class="article-section">
                       <h2 class="font-extrabold text-xl">Strategy & Innovation</h2>
                        <div>
                            <p>The story of Jony Ive inspired me to make my own.</p>
                        </div>
                    </div>
                    <div class="article-section">
                        <h2>&nbsp;</h2>
                        <div>
                            <p>Get in Touch.</p>
                            <ul class="no-style">
                                <li class="nav-repeat">
                                    <a href="mailto:michael@sharanda.com" class="link-subtle">Contact</a>
                                </li>
                                <li>
                                    <a href="https://instagram.com/mike.gentle/" class="link-subtle" target="_blank">Instagram</a>
                                </li>
                                <li>
                                    <a href="https://dribbble.com/gent" class="link-subtle" target="_blank">Dribbble</a>
                                </li>
                                <li>
                                    <a href="http://be.net/gentme" class="link-subtle" target="_blank">Behance</a>
                                </li>
                                <li>
                                    <a href="https://hk.linkedin.com/in/sharanda" class="link-subtle" target="_blank">LinkedIn</a>
                                </li>
                            </ul>
                        </div>
                    </div> #}
                </article>
            </div>