<section id="about-maggie-lerman" class="text-white bg-black body-font w-auto h-screen overflow-x-clip overflow-y-auto">
  <div class=" px-2 md:px-5 py-12 md:py-24 mx-auto flex flex-col content-center">
    <div class="px-4 md:px-10 mx-auto my-auto">
        <h2 class="md:hidden font-black text-2xl text-center ">About</h2>
        <h2 class="hidden md:flex flex-col md:pb-16 font-black text-3xl text-center md:text-left">About</h2>
        <div class="flex flex-col md:flex-row md:mt-10">
        <div class="w-full md:w-1/3 text-left md:text-center md:pr-8 py-6 md:py-8">
<!--            {% png "src/site/images/headshots/round-headshot.png", "maggie lerman", "lazyloaded mx-auto w-40 h-40  rounded-full bg-stone-200 lg:w-52 lg:h-52", '(min-width: 30em) 50vw, 100vw'%}-->
        </div>
        <div class="w-full md:w-2/3 md:pl-8 md:border-l border-stone-400  md:mt-0 text-center md:text-left">
              <div class="">
                            <div class="mb-2 md:mb-6 items-center">
                              <p class="font-normal text-lg md:text-xl tracking-widest leading-loose md:leading-loose">
                              {# I help organizations and high performing individuals build better products by offering an interdiciplinary approach and  #}
                                I work at the intersection of technology & design, lending an interdisciplinary approach to every project.
                                 {# I am a designer, art director, and creative technologist based in New York City. #}
                                  {# I work primarily with early-to-mid stage startups  that are looking for I most enjoy
                                  taking on projects that require out-of-the-box thinking and an interdisciplinary approach.
                                  I specialize in headless eCommerce & the JAMstack. I've worked with a range of front end stacks
                                  and I adapt quickly to new technologies. I'm passionate about web performance and optimization,
                                  intelligent workflow automation, and essentially anything that teaches me how to be smart about
                                  resources and the best ways to do more with less on the web.  #}
                              </p>
                            </div>
                            <div class="md:mb-6 items-center">
                              <a class="" href="https://linkedin.com/in/maggielerman" target="_blank">
                                  <span style="font-size: 1.5em; color: white;">
                                      <i class="fa-brands fa-linkedin-in"></i>
                                  </span>
                              </a>
                              {# <a class="" href="https://behance.net/maggielerman" target="_blank">
                                  <span style="font-size: 1.5em; margin-left: 1.5rem; color: white;">
                                      <i class="fa-brands fa-behance"></i>
                                  </span>
                              </a> #}
                              <a class="" href="https://dribbble.com/maggielerman" target="_blank">
                                  <span style="font-size: 1.5em; margin-left: 1.5rem; color: white;">
                                      <i class="fa-brands fa-dribbble"></i>
                                  </span>
                              </a>
                              <a class="hover:color-stone-500" href="https://codepen.io/maggielerman" target="_blank">
                                  <span style="font-size: 1.5em; margin-left: 1.5rem; color: white;">
                                      <i class="fa-brands fa-codepen"></i>
                                  </span>
                              </a>
                              <a class="align-bottom" href="https://vimeo.com/maggielerman" target="_blank">
                                  <span style="font-size: 1.5em; margin-left:1.5rem; color: white;">
                                      <i class="fa-brands fa-vimeo"></i>
                                  </span>
                              </a>
                            </div>
                            <div class="items-center space-x-6 sm:space-x-10">
                              <a href="https://calendly.com/lerman-maggie/15min/" class="button inverted" target="_blank">
                                <p class="font-semibold text-xl">Book a Call</p>
                              </a>
                               <a href="/resume-2024.pdf" class="button inverted" target="_blank">
                                <p class="font-semibold text-xl">View Resume</p>
                              </a>
                            </div>
              </div>
        </div>
      </div>
    </div>
  </div>
</section>