            <div id="about" class="">
            
                <div class="containerCrop">
                
                
                        <picture class="w-full">
                            <img class="invisible md:visible lazyloaded bg-cover bg-no-repeat rounded-full h-48 w-48 md:ml-16 md:mt-40 lg:ml-44 lg:mt-44 xl:mt-44 xl:ml-40" data-src="/images/maggie-lerman-headshot.png" alt="Maggie Lerman"  src="/images/maggie-lerman-headshot.png">
                        </picture>
                    {# </div> #}
                </div>
                <article>
                    <div class="article-section">
                        <h2 class="font-extrabold text-2xl">About</h2>
                        
                            {# <div id="about-portrait-trigger"></div> #}

                            <p class="-mt-4 md:mt-32">
                                I work at the intersection of techonology & design, 
                                offering a multidisciplinary approach to every project. 
                                I strive for cohesive, modular design systems and design
                                & product teams that work in partnership with their tech counterparts.
                                <br> <br>
                           <span class="font-extrabold">  
                     
                          
                                <li class="nav-repeat">
                                    <a class="link" href="mailto:michael@sharanda.com" class="link-subtle">Contact  ↗</a>
                                </li>
                                <li>
                                    <a class="ml-2 link" href="https://instagram.com/mike.gentle/" class="link-subtle" target="_blank">Instagram ↗</a>
                                </li>
                                <li>
                                    <a class="ml-2 link" href="https://dribbble.com/gent" class="link-subtle" target="_blank">Dribbble ↗</a>
                                </li>
                                <li>
                                    <a class="ml-2 link" href="http://be.net/gentme" class="link-subtle" target="_blank">Behance ↗</a>
                                </li>
                                <li>
                                    <a class="ml-2 link" href="https://hk.linkedin.com/in/sharanda" class="link-subtle" target="_blank">LinkedIn ↗</a>
                                </li>
                           
                            </span>
                            </p>

                        
                    </div>

                    <div class="about-extend">
                        <div class="table-container">
                            <table>
                                <thead>
                                    <tr class="small">
                                        <th class="gap-left">&nbsp;</th>
                                        <th>achievement</th>
                                        <th colspan="2">project</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="gap-left" rowspan="4">Awwwards</td>
                                        <td class="table-item">
                                            <p>Honors
                                                <a href="https://www.awwwards.com/sites/huawei-p40-pro" class="muted">
                                                    ↗
                                                </a>
                                            </p>
                                        </td>
                                        <td class="table-project">
                                            <p>Huawei P40 Series</p>
                                        </td>
                                        <td class="gap-right small">2020</td>
                                    </tr>
                                    <tr>
                                        <td class="table-item">
                                            <p>Website of the day
                                                <a href="https://www.awwwards.com/sites/manrope-font" class="muted">
                                                    ↗
                                                </a>
                                            </p>
                                            <p>Developer Award
                                                <a href="https://www.awwwards.com/sites/manrope-font" class="muted">
                                                    ↗
                                                </a>
                                            </p>
                                            <p>Mobile Excellence
                                                <a href="https://www.awwwards.com/sites/manrope-font" class="muted">
                                                    ↗
                                                </a>
                                            </p>
                                            <p>Honors
                                                <a href="https://www.awwwards.com/sites/manrope-font" class="muted">
                                                    ↗
                                                </a>
                                            </p>
                                        </td>
                                        <td class="table-project">
                                            <p>Manrope Font website</p>
                                        </td>
                                        <td class="gap-right small">2019</td>
                                    </tr>
                                    <tr>
                                        <td class="table-item">
                                            <p>Mobile Excellence
                                                <a href="https://www.awwwards.com/sites/michael-sharanda" class="muted">
                                                    ↗
                                                </a>
                                            </p>
                                            <p>Honors
                                                <a href="https://www.awwwards.com/sites/michael-sharanda" class="muted">
                                                    ↗
                                                </a>
                                            </p>
                                        </td>
                                        <td class="table-project">
                                            <p>gent.media website</p>
                                        </td>
                                        <td class="gap-right small">2019</td>
                                    </tr>
                                    <tr class="table-last">
                                        <td class="table-item">
                                            <p>Honors
                                                <a href="https://www.awwwards.com/sites/crazybaby-audio-electronics-1" class="muted">
                                                    ↗
                                                </a>
                                            </p>
                                        </td>
                                        <td class="table-project">
                                            <p>crazybaby.com website</p>
                                        </td>
                                        <td class="gap-right small">2019</td>
                                    </tr>
                                    <tr class="table-last">
                                        <td class="gap-left">Computer Arts magazine</td>
                                        <td class="table-item" colspan="2">
                                            <p>Creativity is a skill
                                                <a href="https://www.pressreader.com/australia/computer-arts/20190816/" class="muted">
                                                    ↗
                                                </a>
                                            </p>
                                        </td>
                                        <td class="gap-right small">2019</td>
                                    </tr>
                                    <tr class="table-last">
                                        <td class="gap-left">Creative Bloq</td>
                                        <td class="table-item" colspan="2">
                                            <p>A better alternative to CSS breakpoints
                                                <a href="https://www.creativebloq.com/how-to/build-adaptive-layouts-without-media-queries" class="muted">
                                                    ↗
                                                </a>
                                            </p>
                                        </td>
                                        <td class="gap-right small">2019</td>
                                    </tr>
                                    <tr class="table-last">
                                        <td class="gap-left">Behance</td>
                                        <td class="table-item">
                                            <p>Featured in the Graphic Design gallery with 10000+ appreciations
                                                <a href="https://www.behance.net/gallery/67424063/Manrope-Modern-Geometric-Sans-Serif-font-family" class="muted">
                                                    ↗
                                                </a>
                                            </p>
                                        </td>
                                        <td class="table-project">
                                            <p>Manrope Font</p>
                                        </td>
                                        <td class="gap-right small">2019</td>
                                    </tr>
                                    <tr class="table-last">
                                        <td class="gap-left">Google</td>
                                        <td class="table-item">
                                            <p>Masters of Mobile: Greater China Report
                                                <a href="https://www.thinkwithgoogle.com/intl/en-apac/trends-and-insights/masters-mobile-greater-china-report/" class="muted">
                                                    ↗
                                                </a>
                                            </p>
                                        </td>
                                        <td class="table-project">
                                            <p>Huawei</p>
                                        </td>
                                        <td class="gap-right small">2018</td>
                                    </tr>
                                    <tr class="table-last">
                                        <td class="gap-left">Dmajor</td>
                                        <td class="table-item" colspan="2">
                                            <p>Contributed on projects for Android, Samsung, YouTube</p>
                                        </td>
                                        <td class="gap-right small">2015</td>
                                    </tr>
                                    <tr class="table-last">
                                        <td class="gap-left">OnePlus</td>
                                        <td class="table-item" colspan="2">
                                            <p>Logo and visual identity</p>
                                        </td>
                                        <td class="gap-right small">2014</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {# <div class="article-section">
                    {%include "./resume.njk"%}
                    </div> #}
                    <div class="article-section">
                        <h2>Philosophy</h2>
                        <div>
                            <p>Do you remember how magical it was the first time you combined blue and yellow paint?</p>
                            <p>The control over colors and visual perceptions…</p>
                            {# <div id="about-colors-trigger"></div>
                            <div id="about-colors" class="">
                                <div>
                                    <div id="circle-1"></div>
                                    <div id="circle-2"></div>
                                    <div id="circle-3"></div>
                                    <div id="circle-4"></div>
                                    <div id="circle-5"></div>
                                    <div id="circle-6"></div>
                                </div>
                            </div> #}
                            <p>I loved how influential I could be to the world around me. I made people feel surprised and smile. Tell a story, deliver a message.</p>
                            <p>There was nothing before. Now it works. It helps somebody. Makes their life slightly better.</p>
                            <p>Through all the hard things, I found love and excitement.</p>
                        </div>
                    </div>
                    <div class="article-section">
                        <h2>there are no shortcuts</h2>
                        <div>
                            <p>I grew up in a bad neighborhood during an economic crisis in Russia. I can’t say my childhood was hard. I had everything I needed, but I clearly remember a strong feeling of rejection: I didn’t like anything around me and I didn’t want this place to leave its footprint on me. I wanted my life to be different, but I had neither skills nor knowledge.</p>
                            <p>When I started my first job I desperately wanted to succeed in my career and life… I often compromised my work and did “whatever it takes” just to get where I wanted.</p>
                            <p>I took projects I didn’t like. I worked with people I didn’t enjoy working with.</p>
                            <p>But from where I am now, it finally becomes clear that there are no shortcuts.</p>
                            <p>Every time I tried to “cheat” - it just hit me back harder. The projects got suspended, I was embarrassed to publish those in my portfolio, clients were disappointed and didn’t want to pay.</p>
                            <p>But every time I have done something because I loved what I’m doing - it raised me up. I’ve impressed my clients, they’ve recommended me to their friends. But more than that, it made me happier, made me learn new skills, and opened up new opportunities.</p>
                            <p>I spent years looking into myself, trying to understand who I am, what’s important to me, what are my qualities, what are my values, and finally find my own way to love what I’m doing.</p>
                        </div>
                    </div>
                    <div class="article-section">
                        <h2>all that matters</h2>
                        <div>
                            <p>I’ve been truly passionate about design and technology. My teenage dream was to become a lead designer of a world famous tech company.</p>
                            <p>The story of Jony Ive inspired me to make my own.</p>
                            <p>Hard work and craftsmanship of people before me have always been a true inspiration for me. Neither money nor fame. I only want to become really good at something and make this world a better place.</p>
                            <p>Mastering your craftsmanship is all that matters.</p>
                        </div>
                    </div>
                    <div class="article-section">
                        <h2>&nbsp;</h2>
                        <div>
                            <p>Thank you for exploring.</p>
                            <ul class="no-style">
                                <li class="nav-repeat">
                                    <a href="mailto:michael@sharanda.com" class="link-subtle">Contact</a>
                                </li>
                                <li>
                                    <a href="https://instagram.com/mike.gentle/" class="link-subtle" target="_blank">Instagram</a>
                                </li>
                                <li>
                                    <a href="https://dribbble.com/gent" class="link-subtle" target="_blank">Dribbble</a>
                                </li>
                                <li>
                                    <a href="http://be.net/gentme" class="link-subtle" target="_blank">Behance</a>
                                </li>
                                <li>
                                    <a href="https://hk.linkedin.com/in/sharanda" class="link-subtle" target="_blank">LinkedIn</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>