<section id="about-maggie-lerman" class="text-white bg-black body-font w-auto h-screen overflow-clip">

  <div class=" px-5 py-24 mx-auto flex flex-col content-center">
    <div class="px-10 mx-auto my-auto">
     <h2 class="pt-16 md:pt-0 md:pb-16 font-black text-3xl">About</h2>

      <div class="flex flex-col md:flex-row md:mt-10">
        <div class="md:w-1/3 text-center md:pr-8 md:py-8">
          <div class="w-0 h-0 md:w-48 md:h-48 rounded-full inline-flex items-center justify-center bg-black text-white">
              <img data-src="/images/maggie-lerman-headshot.png" alt="Maggie Lerman"  src="/images/maggie-lerman-headshot.png">
          </div>
        </div>
        <div class="md:w-2/3 md:pl-8 md:border-l border-stone-400  md:mt-0 text-left">
        {# <div>   #}
          {# <p class="leading-relaxed text-lg mb-4">Meggings portland fingerstache lyft, post-ironic fixie man bun banh mi umami everyday carry hexagon locavore direct trade art party. Locavore small batch listicle gastropub farm-to-table lumbersexual salvia messenger bag. Coloring book flannel truffaut craft beer drinking vinegar sartorial, disrupt fashion axe normcore meh butcher. Portland 90's scenester vexillologist forage post-ironic asymmetrical, chartreuse disrupt butcher paleo blag vlad pabst before they sold out four loko. 3 wolf moon brooklyn.</p> #}
            {# <h2 class="font-black text-3xl">About</h2> #}
                        <div class="">
                            <div class="mb-6 items-center">
                              <p class=" font-normal md:text-xl tracking-widest leading-loose">
                                  I work at the intersection of techonology & design, 
                                  offering a multidisciplinary approach to every project. 
                                  I strive for cohesive, modular design systems and design
                                  & product teams that work in partnership with their tech counterparts.
                              </p>
                            </div>
                            <div class="items-center">
                              <a class="" href="https://linkedin.com/in/maggielerman" target="_blank">
                                  <span style="font-size: 1.5em; color: white;">
                                      <i class="fa-brands fa-linkedin-in"></i>
                                  </span>
                              </a>
                              <a class="" href="https://behance.net/maggielerman" target="_blank">
                                  <span style="font-size: 1.5em; margin-left: 1.5rem; color: white;">
                                      <i class="fa-brands fa-behance"></i>
                                  </span>
                              </a>
                              <a class="" href="https://dribbble.com/maggielerman" target="_blank">
                                  <span style="font-size: 1.5em; margin-left: 1.5rem; color: white;">
                                      <i class="fa-brands fa-dribbble"></i>
                                  </span>
                              </a>
                              <a class="" href="https://github.com/maggielerman" target="_blank">
                                  <span style="font-size: 1.5em; margin-left: 1.5rem; color: white;">
                                      <i class="fa-brands fa-github"></i>
                                  </span>  
                              </a>  
                            </div>
                            <div class="items-center">        
                              <a href="https://calendly.com/lerman-maggie/15min/" class="button inverted" target="_blank">
                                <p class="font-semibold text-2xl py-4"> Book a Call ↗</p>
                              </a>
                            </div>
                        </div>
        </div>
      </div>
    </div>
  </div>
</section>