<div class="portfolio-header-bg"></div>
<div class="section hero-section">
	<div class="hero-tab">
			<h1 style="font-weight:600; text-align:left; font-size: 50px; color: #34363A"> Maggie is a <span class="hero-underline">cross-functional designer</span> and <span class="hero-underline">creative strategist</span> based in New York City.</h1>
	</div>
</div>