

        <div id="intro-wrapper" class="text-white bg-black">

            <div class="containerCrop">
                <div class="containerFixed"></div>

                <div id="header" class="fullHeight animated">
                    <div>
                        <a href="/#home">{%include "src/site/images/icons/logos/logo-white.svg"%}</a>
                    </div>

                        <h1 class="rainbow cursor-default w-3/4 text-lg sm:text-xl md:text-2xl md:px-0 md:w-1/2 -mt-10">
                         Maggie is a cross-functional designer and creative technologist based in New York City.
                        </h1>
                    <div>
                        <div class="scrolldown"></div>
                    </div>
                </div>
            </div>
        </div>