<div id="header" class="fullHeight animated">

        <a href="https://maggielerman.com/">{%include "src/site/images/logo-white.svg"%}</a>
        <div class="w-3/4 h1 rainbow">
            I am a cross-functional designer & creative strategist based out of New York City.
        <div>
            <div class="scrolldown"></div>
        </div>
</div>