


    <div x-cloak x-ref="modal" 
    x-show.transition.slide="open" 
    x-transition
    class="fixed z-10 top-0 right-0 w-2/3 h-screen bg-black flex items-center justify-center" 
    role="modal" 
    aria-modal="true">

{# menu items go here #}

    </div>