<div>
    <div class="container border-b-2 border-gray-100 mx-auto flex flex-wrap flex-col md:flex-row items-center">
        <nav class="text-gray-600 md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center overflow-hidden">
                <a href="/shop/nav/work" class="block p-3 hover:bg-white-900 text-gray-600 hover:text-pink-500">WORK</a>
              <a href="/shop/nav/work" class="block p-3 hover:bg-white-900 text-gray-600 hover:text-pink-500">Projects</a>
             <a href="/shop/nav/work" class="block p-3 hover:bg-white-900 text-gray-600 hover:text-pink-500">About</a>
        </nav>
    </div>
</div>
