        <div id="preloader" class="">
            <svg width="100" height="100" viewbox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <lineargradient id="p">
                        <stop offset="0%" stop-color="#1c1c1c"></stop>
                        <stop stop-color="#fff" offset="100%"></stop>
                    </lineargradient>
                </defs>
                <path d="M10 50a40 40 360 1 1 80 0" stroke="url(#p)" fill="none" stroke-width="2"></path>
            </svg>
        </div>