<canvas id="galaxy" width="" height=""></canvas>

<!-- mlPortfolio.njk -->

    <div class="mlPortfolio"> 
{# 
               {% include "components/portfolio/suzy.njk"%}
                {% include "components/portfolio/crowdtap.njk"%}
                 {% include "components/portfolio/ecommerce.njk"%}
                 {% include "components/portfolio/rocketrip.njk"%}
                
                {% include "components/portfolio/crazybaby.njk"%}

                {% include "components/portfolio/loop.njk"%}

                {% include "components/portfolio/manrope.njk"%}
                {% include "components/portfolio/huawei.njk"%}
                {% include "components/portfolio/kudolo.njk"%}
                {% include "components/portfolio/alcatel.njk"%}
                {% include "components/portfolio/oneplus.njk"%} #}

            <div class="fullHeight clickable" id="lottie" data-href="/">
                <div class="containerCrop">
                  <div class="containerFixed"></div>
            
                  {% image "src/site/images/sections/prefix/prefix.jpg", "Prefix", '(min-width: 30em) 50vw, 100vw', 'absolute w-full rounded shadow-md' %}
             
                  <div class="description">
                    <div class="h2">10th.st</div>
                    <div class="h6">Strategy & Operations <span style="margin-left: 10px"> |</span> <span style="text-transform: lowercase; margin-left: 10px;">case study coming soon. </span> </div>
                    <div class="h3"> built out fully automated dataflows from the ground up. automated and limited human intervention workflows.</div>
                    <div><a href="https://10th.st" class="button h5" target="_blank">view site</a> </div>
                  </div>
                  <div class="composition">
                
                      <lottie-player src="https://assets1.lottiefiles.com/datafiles/HN7OcWNnoqje6iXIiZdWzKxvLIbfeCGTmvXmEm1h/data.json"  background="transparent"  speed="1" hover loop  autoplay></lottie-player>
            
                  </div>
            
                </div>
              </div>


          
    </div>
