{# <canvas id="galaxy" width="" height=""></canvas> #}

<!-- mlPortfolio.njk -->

    <div class="mlPortfolio"> 

               {% include "components/projects/suzy.njk"%}
                {% include "components/projects/crowdtap.njk"%}
                 {% include "components/projects/ecommerce.njk"%}
                 {% include "components/projects/rocketrip.njk"%}
                
                {% include "components/projects/crazybaby.njk"%}

                {% include "components/projects/loop.njk"%}

                {% include "components/projects/manrope.njk"%}
                {% include "components/projects/huawei.njk"%}
                {% include "components/projects/kudolo.njk"%}
                {% include "components/projects/alcatel.njk"%}
                {% include "components/projects/oneplus.njk"%}

            {# <div class="fullHeight clickable" id="lottie" data-href="/">
                <div class="containerCrop">
                  <div class="containerFixed"></div>
            
                  {% image "src/site/images/sections/prefix/prefix.jpg", "Prefix", '(min-width: 30em) 50vw, 100vw', 'absolute w-full rounded shadow-md' %}
             
                  <div class="description">
                    <div class="h2">10th.st</div>
                    <div class="h6">Strategy & Operations <span style="margin-left: 10px"> |</span> <span style="text-transform: lowercase; margin-left: 10px;">case study coming soon. </span> </div>
                    <div class="h3"> built out fully automated dataflows from the ground up. automated and limited human intervention workflows.</div>
                    <div><a href="https://10th.st" class="button h5" target="_blank">view site</a> </div>
                  </div>
                  <div class="composition">
                
                      <lottie-player src="https://assets1.lottiefiles.com/datafiles/HN7OcWNnoqje6iXIiZdWzKxvLIbfeCGTmvXmEm1h/data.json"  background="transparent"  speed="1" hover loop  autoplay></lottie-player>
            
                  </div>
            
                </div>
              </div> #}


          
    </div>
