

     <div class="flex flex-col md:flex-row md:mt-10 ">
        <div class="md:w-1/4">
            <div class="pr-8 text-center py-8">
            {% png "src/site/images/headshots/v02_no-fill.png", "suzy", "lazyloaded hidden md:inline-flex mx-auto lg:w-48 lg:h-48 rounded-full bg-stone-200", '(min-width: 30em) 50vw, 100vw'%}
            </div>
        </div>
        <div class="md:bg-white md:w-3/4 md:pl-8 md:pt-8 text-left">
            <div class="">
            <div>
                <h2 class="font-semibold tracking-wider text-3xl">{{ author.name }}</h2>
                {# <div class="h-1 w-24 bg-stone-200"></div> #}
            </div>   
                
            
                <div class="pt-1.5 space-y-1.5">
                    <div class="pb-1.5 flex flex-row space-x-6">

                        <a class="" href="https://www.linkedin.com/in/maggielerman/" target="_blank">
                            <span style="font-size: 1.5em; color: black;">
                                <i class="fa-brands fa-linkedin-in"></i>
                            </span>
                        </a>
                        {# <a class="" href="https://behance.net/maggielerman" target="_blank">
                            <span style="font-size: 1.5em; color: black;">
                                <i class="fa-brands fa-behance"></i>
                            </span>
                        </a> #}
                        <a class="" href="https://dribbble.com/maggielerman" target="_blank">
                            <span style="font-size: 1.5em; color: black;">
                                <i class="fa-brands fa-dribbble"></i>
                            </span>
                        </a>
                        <a class="align-bottom" href="https://codepen.io/maggielerman" target="_blank">
                            <span style="font-size: 1.5em; color: black;">
                                <i class="fa-brands fa-codepen"></i>
                            </span>
                        </a>
                        <a class="align-bottom" href="https://vimeo.com/maggielerman" target="_blank">
                            <span style="font-size: 1.5em; color: black;">
                                <i class="fa-brands fa-vimeo"></i>
                            </span>
                        </a>
                    </div>
                    <div class="">
                    
                      <button class="mr-6 text-sm font-semibold">
                              <span style="font-size: 1em; color: black;">
                                  <i class="fa-solid fa-phone"></i>
                              </span>
                          <a href="tel:+16464674522">+1(646)467-4522</a>
                      </button>

                      <button class="text-sm font-semibold">
                              <span style="font-size: 1em; color: black;">
                                  <i class="fa-solid fa-envelope"></i>
                              </span>
                          <a href="mailto:lerman@magg1e.com">lerman@magg1e.com</a>
                      </button>
                    </div>
                </div>
       
           <h3 class=" mr-4 mt-6 md:my-8  text-lg leading-6 tracking-normal md:tracking-wider font-semibold uppercase border-b-4 border-stone-200">summary</h3>
   {# <div class="h-1 w-24 bg-stone-200 mt-1 mb-4"> </div> #}
                <div class="mb-6">
                    <p class="font-normal md:text-xl tracking-widest leading-loose"> 
                     {{ author.summary }} 
                    </p>
                </div> 
             
            </div> 
        </div>
    </div> 
