<!-- This example requires Tailwind CSS v2.0+-->
 

      <div class="py-5 px-4 md:px-6 md:grid md:grid-cols-3 md:gap-12">
        <dt class="invisible md:visible md:pr-20 text-sm font-medium text-stone-500 md:text-right">
        </dt>
          <dd class="-mt-28 font-normal text-sm text-black md:mt-0 md:col-span-2">
           <h3 class="-ml-3 md:-ml-20 text-lg leading-6 mb-2 tracking-wider font-semibold uppercase  border-b-4 border-stone-200">experience</h3>
        </dd>
        </div>
 
  
{%for job in jobs%}
  <div>
    <dl>
      <div class="pb-4 px-4 md:px-6 md:grid md:grid-cols-3 md:gap-12">
        <dt class="invisible md:visible md:pr-20 text-sm font-medium text-stone-500 md:text-right">
          <p class="mt-1 max-w-2xl text-sm text-stone-500">{{job.date}}</p>
          {%if job.companyUrl %}
           <a class="" href="{{job.companyUrl}}" target="_blank">
            <p class="mt-1 max-w-2xl text-base text-stone-700 font-semi-bold text-decoration underline underline-offset-8 hover:text-black">{{job.company}} ↗ </p>
          </a>
          {%else %}
            <p class="mt-1 max-w-2xl text-base text-stone-700 font-semi-bold">{{job.company}}</p>
          {%endif%}
          <p class="mt-2 max-w-2xl text-sm text-black">{{job.location}}</p>
        </dt>
        <dd class="-mt-28 font-normal text-sm text-black md:mt-0 md:col-span-2">
  
              <h3 class="-ml-3 md:-ml-20 text-lg leading-6 mb-2 tracking-wider font-medium text-black">{{job.title}}</h3>
        
          {# mobile only #}
            <div class="md:hidden -ml-3 leading-loose">
              <p class="mt-1 max-w-2xl text-sm">{{job.date}}</p>
              {%if job.companyUrl %}
                <a class="" href="{{job.companyUrl}}" target="_blank">
                  <p class="mt-1 max-w-2xl text-base font-semi-bold text-decoration underline underline-offset-6 hover:text-black">{{job.company}} ↗ </p>
                </a>
              {%else %}
                <p class="mt-1 max-w-2xl text-base font-semi-bold">{{job.company}}</p>
              {%endif%}
              <p class="mt-1 max-w-2xl text-sm">{{job.location}}</p>
            </div>
        {# end mobile only #}
                <ul class="list-none mt-2">
                  {%for detail in job.details%}
                    <li class="md:-ml-20 mb-2 text-md text-black leading-snug">
                      <span class="absolute -ml-3 md:-ml-3.2 select-none transform -translate-y-px">›</span>
                      {{detail}}
                    </li>
                  {%endfor%}
                </ul>
                {# <ol class="list-outside">
                  {%for item in job.six%}
                      <li>{{item}}</li>
                  {%endfor%}
                <ol > #}
        </dd>

      </div>
    </dl>
  </div>
{%endfor%}