{# <div class="rounded sm:shadow overflow-x-hidden overflow-y-scroll"> #}


    <div class="flex flex-col md:flex-row md:mt-10">
        <div class="md:w-1/4 text-center md:text-center md:pr-8 md:py-8">
            {# <div class="hidden md:inline-flex mx-auto lg:w-48 lg:h-48 rounded-full justify-center bg-stone-200 text-white"> #}
            <div class="hidden md:inline-flex mx-auto lg:w-48 lg:h-48 rounded-full bg-stone-200">

                <img data-src="/images/headshots/v02_no-fill.png" alt="Maggie Lerman" src="/images/headshots/v02_no-fill.png"/>
            </div>

                {% png "src/site/images/headshots/v02_no-fill.png", "suzy", "lazyloaded hidden md:inline-flex mx-auto lg:w-48 lg:h-48 rounded-full bg-stone-200", '(min-width: 30em) 50vw, 100vw'%}

        </div>
        <div class="md:bg-white md:w-3/4 md:pl-8  md:mt-0 text-left">
            <div class="">
                <h2 class="font-bold tracking-wider text-3xl">{{ author.name }}</h2>
                <div class="space-y-1.5">
                    <div class="pb-1.5 flex flex-row space-x-6">

                        <a class="" href="https://www.linkedin.com/in/maggielerman/" target="_blank">
                            <span style="font-size: 1.5em; color: black;">
                                <i class="fa-brands fa-linkedin-in"></i>
                            </span>
                        </a>
                        <a class="" href="https://behance.net/maggielerman" target="_blank">
                            <span style="font-size: 1.5em; color: black;">
                                <i class="fa-brands fa-behance"></i>
                            </span>
                        </a>
                        <a class="" href="https://dribbble.com/maggielerman" target="_blank">
                            <span style="font-size: 1.5em; color: black;">
                                <i class="fa-brands fa-dribbble"></i>
                            </span>
                        </a>
                        {# <a class="align-bottom" href="https://codepen.com/maggielerman" target="_blank">
                                                    <i class="fa-brands fa-codepen"></i>
                                                </a>       #}
                        <a class="align-bottom" href="https://github.com/maggielerman" target="_blank">
                            <span style="font-size: 1.5em; color: black;">
                                <i class="fa-brands fa-github"></i>
                            </span>
                        </a>
                        {# <a class="align-bottom" href="tel:+16464674522" target="_blank">
                                                    <i class="fa-solid fa-phone"></i>                     
                                                </a>         
                                            <a class="align-bottom" href="mailto:lerman@magg1e.com" target="_blank">
                                                    <i class="fa-solid fa-at"></i>
                                                </a> #}
                    </div>
                    <div class="">
                      <button class="mr-6 text-sm font-semibold">
                              <span style="font-size: 1em; color: black;">
                                  <i class="fa-solid fa-phone"></i>
                              </span>
                          <a href="tel:+16464674522">+1(646)467-4522</a>
                      </button>

                      <button class="text-sm font-semibold">
                              <span style="font-size: 1em; color: black;">
                                  <i class="fa-solid fa-envelope"></i>
                              </span>
                          <a href="mailto:lerman@magg1e.com">lerman@magg1e.com</a>
                      </button>
                    </div>
                </div>
                {# <div class="">
                                              <a class="" href="https://linkedin.com/in/maggielerman" target="_blank">
                                                  <span style="font-size: 1.5em; color: black;">
                                                      <i class="fa-brands fa-linkedin-in"></i>
                                                  </span>
                                              </a>
                                              <a class="" href="https://behance.net/maggielerman" target="_blank">
                                                  <span style="font-size: 1.5em; margin-left: 1.5rem; color: black;">
                                                      <i class="fa-brands fa-behance"></i>
                                                  </span>
                                              </a>
                                              <a class="" href="https://dribbble.com/maggielerman" target="_blank">
                                                  <span style="font-size: 1.5em; margin-left: 1.5rem; color: black;">
                                                      <i class="fa-brands fa-dribbble"></i>
                                                  </span>
                                              </a>
                                              <a class="" href="https://github.com/maggielerman" target="_blank">
                                                  <span style="font-size: 1.5em; margin-left: 1.5rem; color: black;">
                                                      <i class="fa-brands fa-github"></i>
                                                  </span>  
                                              </a>  
                                            </div> #}
                <h3 class="py-5 uppercase text-lg leading-6 font-medium text-black">Summary</h3>
                {# <p class="mt-1 max-w-2xl text-sm text-gray-500"></p> #}

                <div class="mb-6">
                     <p class="font-normal md:text-xl tracking-widest leading-loose"> {{ author.summary }} </p>
                </div> 
                <div class=" space-x-6 sm:space-x-10"> 
                    <p class="font-semibold text-lg py-4"> scroll for responsive or <span> <a href="/resume" class="button " target="_blank"> Download & Print Resume ↗ </a> </span> </p> 
                </div> 
            </div> 
        </div>
    </div> {# </div> #}
