   
        
        <div id="spaceman-wrapper">
            <div class="containerCrop">
                <div id="header" class="fullHeight animated">
                    <div>
                        <a href="https://maggielerman.com/">{%include "src/site/images/logo-white.svg"%}</a>
                    </div>

                    <div class="rainbow cursor-default w-2/3 text-xl px-1 md:text-2xl md:px-0 md:w-1/2 -mt-10">
                    <h1> Maggie is a creative technologist and cross-functional designer based in New York City.
                    </h1>
                    </div>
                    <div>
                        <div class="scrolldown"></div>
                    </div>
                </div>

                <div id="spaceman-duration">
                    <div id="intro-spaceman-trigger"></div>
                    <div id="spaceman-container" class="fullHeight">
                        <canvas id="intro-spaceman" class="gentS" data-type="alpha" data-path="/images/gent/" data-duration="1" data-frames="47" data-trigger="intro-spaceman-trigger" width="2726" height="1292"></canvas>
                        <canvas id="galaxy" width="1363" height="703"></canvas>
                        <div id="dream" class="">
                            <h1>
                                <span class="text-animate-1">
                                    <span>May</span>
                                </span>
                                <span class="text-animate-2">
                                    <span>your</span>
                                </span>
                                <span class="text-animate-3">
                                    <span>heart</span>
                                </span><br>
                                <span class="text-animate-4">
                                    <span>never</span>
                                </span>
                                <span class="text-animate-5">
                                    <span>stop</span>
                                </span>
                                <span class="text-animate-6">
                                    <span>dreaming.</span>
                                </span>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>